<div class="row">

  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" id="read-unread-tabs">
      <li id="unread-group-notification" class="active"><a href="#unread-group-tab" data-toggle="pill">Unread <span id="unread-group-notification-total" class="badge">{{ group_notification.total }}</span></a></li>
      <li id= "all-group-notification"><a href="#all-group-tab" data-toggle="pill">All notifications</a></li>
    </ul>
    <hr>
    <ul class="nav nav-pills nav-stacked group-tabs" id="group-tabs">
    </ul>
  </div>

  <div class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane active" id="unread-group-tab">
        <div id="owner-toolbar">
            <button id="group-mark-all-read" type="submit" class="btn btn-default">Mark all as read</button>
            <br/>
        </div>
        <div id="unread-group-notification-tables">
        </div>
      </div>
      <div class="tab-pane" id="all-group-tab">
        <div id="all-group-notification-tables">
        </div>
      </div>
    </div>
  </div>

</div>
