    <div class="container-fluid margin-top-4" style="height: auto">
        <div class="panel panel-default" style="max-width: 700px; margin: 0 auto;">
            <div class="panel-heading">Authentication</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <p>Type: Basic Auth</p>
                        <p>Value: {{ auth_token }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
