    <div class="container-fluid margin-top-4" style="height: auto">
        <div class="panel panel-default" style="max-width: 700px; margin: 0 auto;">
            <div class="panel-heading">Email Address</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <p>
                              {% if uid != None %}
                              {{ uid }}
                              {% endif %}
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
