{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}


    <div class="container-fluid zero-margin zero-padding">
        <div class="row zero-margin zero-padding padding-top-2 padding-bottom-2">
            <div class="col-md-10">
                <p class="lead">
                    Graph Comparison Page
                </p>

            </div>
            <div class="col-md-2">
                <div class="btn-group pull-right" style="margin-right: 1em !important; z-index: 20000">
                    <button type="button" class="btn btn-sm btn-default"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download fa-lg"></i> Save Config
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <small>Choose two graphs to see which elements are in common and which ones are different.</small>
                <div id="parameter-header">
                    <i class="fa fa-sitemap"></i>
                    <div class="btn-group" style="margin: 0px 10px 0px 10px">


                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 1:"> Select Graph 1</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker1" type="button" value="#0b58a2"
                                class="btn btn-default btn-sm"
                                style="background-color:#0b58a2; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="0"
                            aria-labelledby="dropdownMenu1" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                    <i class="fa fa-plus"></i>
                    <div class="btn-group" style="margin-right: 10px; margin-left: 10px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 1:"> Select Graph 2</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker2" type="button" value="#0C5404"
                                class="btn btn-default btn-sm"
                                style="background-color:#0C5404; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu1" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                    <i class="fa fa-random"></i>
                    <div class="btn-group" style="margin-left: 10px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="operatorMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Operator
                            <span class="caret"></span>
                        </button>
                        <button id="operatorcolorpicker" type="button" value="#ffff00"
                                class="btn btn-default btn-sm"
                                style="background-color:#ffff00; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;" class="dropdown-menu" val="1"
                            aria-labelledby="operatorMenu1">
                            <li class="dropdown-header">Comparison Operations</li>
                            <li><a data="Intersection" row_id="intersection"
                                   onclick="compareGraphPage.setDropdownMenu($(this));">Intersection</a>
                            </li>
                            <li><a data="Difference" row_id="difference"
                                   onclick="compareGraphPage.setDropdownMenu($(this));">Difference</a></li>
                        </ul>
                    </div>

                    <div class="btn-group pull-right">
                        <button id="ok" type="submit" class="btn btn-default"
                                onclick="compareGraphPage.compareGraphs()">Compare
                        </button>
                        <a onclick="compareGraphPage.resetData()" style="margin-left: 10px" id="clear"
                           class="btn btn-default">Reset</a>
                    </div>
                </div>
            </div>


        </div>

        <ul class="nav nav-tabs">

            <li id="visualization-li" class="text-center">
                <a id="graphVisualizationTabBtn" class="link-reset" href="#visualization_tab" data-toggle="tab">
                    Visualization</a>
            </li>

            <li id="nodes-li" class="text-center">
                <a class="link-reset" href="#nodes_tab" data-toggle="tab">Nodes <span
                        class="badge" id="nodes-total-badge">0</span> </a>
            </li>

            <li id="edges-li" class="text-center">
                <a class="link-reset" href="#edges_tab" data-toggle="tab">Edges <span
                        class="badge" id="edges-total-badge">0</span></a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content gs-full-height bg-white">

            <div class="tab-pane fade gs-full-height container" id="nodes_tab">
                {% include 'compare_graph/nodes_table.html' %}
            </div>

            <div class="tab-pane fade gs-full-height container" id="edges_tab">
                {% include 'compare_graph/edges_table.html' %}
            </div>

            <div class="tab-pane fade gs-full-height" id="visualization_tab">
                {% include 'compare_graph/compare_visualization.html' %}
            </div>

        </div>


        <script type="text/javascript" src="{% static 'components/cytoscape/dist/cytoscape.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'components/cytoscape-panzoom/cytoscape.js-panzoom.css' %}"/>
        <script type="text/javascript" src="{% static 'components/cytoscape-panzoom/cytoscape-panzoom.js' %}"></script>

        <script type="text/javascript" src="{% static 'components/webcola/WebCola/cola.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'components/cytoscape-cola/cytoscape-cola.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'components/cytoscape-cose-bilkent/cytoscape-cose-bilkent.js' %}"></script>

        <link rel="stylesheet" type="text/css"
              href="{% static 'components/cytoscape-context-menus/cytoscape-context-menus.css' %}"/>
        <script type="text/javascript"
                src="{% static 'components/cytoscape-context-menus/cytoscape-context-menus.js' %}"></script>

        <script type="text/javascript" src="{% static 'components/intro.js/intro.js' %}"></script>
        <link rel="stylesheet" href="{% static 'components/intro.js/introjs.css' %}">

        <script type="text/javascript" src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'components/jquery-ui/themes/base/jquery-ui.min.css' %}">

        <link rel="stylesheet"
              href="{% static 'components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
        <script type="text/javascript" charset="utf-8"
                src="{% static 'components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css"/>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
        <!-- JSON support for Graph Page -->
        <script type="text/javascript" src="{% static 'js/gs_graph_stylesheet.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/graphs_page.js' %}"></script>


        <script>
            $(document).ready(function () {
                console.log("Loading graph page");
                compareGraphPage.init();
            });
        </script>
{% endblock %}