<div class="modal fade" id="compareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Graphs for comparison</h4>
            </div>
            <div class="modal-body">


                <div class="btn-group" style="width:100%; margin: 0px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu3"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 1:"> Select Graph 1</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker3" type="button" value="#E07519"
                                class="btn btn-default btn-sm"
                                style="background-color:#E07519; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu3" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                <div class="btn-group" style="width:100%; margin: 0px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu4"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 2:"> Select Graph 2</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker4" type="button" value="#45B5EF"
                                class="btn btn-default btn-sm"
                                style="background-color:#45B5EF; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu4" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                <div class="btn-group" style="width:100%; margin: 0px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu5"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 3:"> Select Graph 3</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker5" type="button" value="#00FF00"
                                class="btn btn-default btn-sm"
                                style="background-color:#00FF00; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu5" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                <div class="btn-group" style="width:100%; margin: 0px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu6"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 4:"> Select Graph 4</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker6" type="button" value="#FFC0CB"
                                class="btn btn-default btn-sm"
                                style="background-color:#FFC0CB; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu6" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>
                <div class="btn-group" style="width:100%; margin: 0px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu7"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i value="graph 5:"> Select Graph 5</i>
                            <bold style="font-weight: bold"></bold>
                            <span class="caret"></span>
                        </button>
                        <button id="colorpicker7" type="button" value="#EE82EE"
                                class="btn btn-default btn-sm"
                                style="background-color:#EE82EE; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;"
                            class="compare-dropdown dropdown-menu" val="1"
                            aria-labelledby="dropdownMenu7" mygraphs="false" publicgraphs="false"
                            sharedgraphs="false">
                            <input class="form-control" id="search-place-holder" type="text" placeholder="Search..">
                        </ul>
                    </div>

                <div class="btn-group" style="width:100%; margin: 15px 10px 15px 0px">

                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="operatorMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Operator
                            <span class="caret"></span>
                        </button>
                        <button id="operatorcolorpicker1" type="button" value="#FFFF00"
                                class="btn btn-default btn-sm"
                                style="background-color:#ffff00; margin-left:5px;height:30px; width:50px">
                        </button>
                        <ul style="max-height: 250px; overflow:scroll;" class="dropdown-menu" val="1"
                            aria-labelledby="operatorMenu2">
                            <li class="dropdown-header">Comparison Operations</li>
                            <li><a data="Intersection" row_id="intersection"
                                   onclick="compareGraphPage.setDropdownMenu($(this));">Intersection</a>
                            </li>
{#                            <li><a data="Difference" row_id="difference"#}
{#                                   onclick="compareGraphPage.setDropdownMenu($(this));">Difference</a></li>#}
                        </ul>

                    </div>

                <div>
                    <hr>
                    <button type="button" name="reset" id="resetMenus" class="btn btn-primary">Reset</button>
                    <button type="button" class="btn btn-danger  pull-right" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>