{% extends 'base.html' %}
{% block content %}

	    <div class="container">

			<div class="content">

				<div class="jumbotron">

					<h1>Welcome to GraphSpace!</h1>

					<h4>The interactive graph sharing website.</h4>

					<br/>

					{% if uid != None %}
						<h4>You are logged in, go to <a href="{% url 'graphs' %}">Graphs</a> to view your graphs or <a href="{% url 'upload_graph' %}">upload</a> a new graph.<br>
						</h4>
					{% else %}
						<h4>If you don't have an account right now, you can check out <a href="{% url 'graphs' %}">public graphs</a> or <a href="{% url 'upload_graph' %}">upload</a> a new graph.<br></h4>

					{% endif %}

					<br/>

					<h4>Please contact <b>T. M. Murali</b> at murali@cs.vt.edu if you have any questions about GraphSpace. </h4>

					<br/>

				</div>

			</div>

		</div>
{% endblock %}

