{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<!DOCTYPE html>

  <div class="container">
   
  </div>
  
  <!-- Tip Content -->
  <ol id="joyRideTipContent">
    <li data-class="so-awesome" data-text="Next" class="custom">
      <h2>Stop #1</h2>
      <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
    </li>
    <li data-id="numero2" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
      <h2>Stop #2</h2>
      <p>Get the details right by styling Joyride with a custom stylesheet!</p>
    </li>
    <li data-id="numero3" data-button="Next" data-options="tipLocation:right">
      <h2>Stop #3</h2>
      <p>It works right aligned.</p>
    </li>
    <li data-button="Next">
      <h2>Stop #4</h2>
      <p>It works as a modal too!</p>
    </li>
    <li data-class="someclass" data-button="Next" data-options="tipLocation:right">
      <h2>Stop #4.5</h2>
      <p>It works with classes, and only on the first visible element with that class.</p>
    </li>
    <li data-id="numero5" data-button="Close">
      <h2>Stop #5</h2>
      <p>Now what are you waiting for? Add this to your projects and get the most out of your apps!</p>
    </li>
  </ol>

	
	<footer class="footer">
	<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
	<br><a href = "http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
	</footer>
	<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{% static 'graphs/js/modernizr.mq.js"></script>
<script type="text/javascript" src="{% static 'graphs/js/jquery.joyride-2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/task_tutorial.js' %}"></script>

<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'graphs/css/joyride-2.1.css' %}">
{% endblock %}