<!DOCTYPE html>

<!-- Base template for web pages used in GraphSpace. Every pages in 
     GraphSpace are based on this htmll template. -->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>GraphSpace</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'graphs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'graphs/css/base.css' %}" rel="stylesheet">

    <!-- Custom styles for this base template -->
    <link href="{% static 'graphs/css/base.css' %}" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69001577-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="container">
      <h1 style='text-align: center;'>Oops, something went wrong! Admin has contacted.  Sorry for the inconvenience!</h1>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'graphs/js/bootstrap.min.js' %}"></script>

</body>
</html>

