*.db
*.pyc

# Ignore updates to production.py,
# It's meant to be local

# Ignore Mac DS_Store files
.DS_Store

# Ignore updates to IDE specific configurations
.idea

static/components/*

GraphSpace_Server.egg-info
dist
build
venv
debug*

#environment variables
.env
