<ul id="changeLayoutSidebar" class="sidebar-nav gs-sidebar-nav">
    <li></li>
    <li>
        <a class="btn sidebar-nav-pills" href="#" data-target="#defaultSideBar">
            <i class="fa fa-chevron-left"></i> Back
        </a>
    </li>
    <li>
        <p class="lead text-center zero-margin">Select Layout Algorithm</p>
    </li>

    <span id="changeLayoutBtns">
        <li>
            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="circle"
                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                Circle
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="grid"
                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                Grid
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="concentric"
                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                Concentric
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="cose"
                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                Spring
                Embedder
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="breadthfirst"
                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                Tree
            </button>
        </li>
        <li>

            <button type="button"
                    class="btn btn-xs btn-default gs-full-width select-layout-btn auto-layout"
                    data-layout-id="cola"
                    onclick="graphPage.onSelectLayoutBtnClick(this)"
                    >
                cola
            </button>
                 <a class="btn sidebar-nav-pills" href="#" data-target="#colaOption" >
                     <font size="2" color = "gray">
                         > cola settings
                     </font>
                 </a>
        </li>


        </li>

        <li id="selectSavedLayoutHeading" style="display: none;">
            <p class="lead text-center zero-margin">Select Saved Layout</p>
        </li>

        <span id="userPrivateLayoutBtns">

        </span>
        <span id="userSharedLayoutBtns">

        </span>
    </span>

</ul>