<div class="modal fade" id="convertHtmlLegendModal" tabindex="-1" role="dialog" aria-labelledby="convertHtmlLegendModal" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="HtmlLegendConversionModal">Important Note</h4>
            </div>
            <div class="modal-body">

                <h6>Including the legend as an HTML table in the description will no longer be supported past 2020. We have Simplified the process of providing legend for a graph. Now, you can include the legend very easily in JSON format and can even interact with them. Please agree to represent your
                legend data in JSON format for this graph.</h6>
                <br/>
                <button type="button" id="ConfirmHtmlLegendConversionBtn" class="btn btn-success">
                    I Agree
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

