<!-- Sidebar -->

<ul id="defaultSideBar" class="sidebar-nav gs-sidebar-nav active">

    <li>
        <div class="form-group has-feedback" style="margin: 0 1em;" data-trigger="focus"
             data-target="#searchPopover" data-container="body"
             data-placement="top" data-toggle="popover">
            <input type="text" class="form-control" id="inputSearchEdgesAndNodes"
                   aria-describedby="inputSearchEdgesAndNodes" style="border-radius: 1em;"
                   placeholder="Search for nodes and edges" onkeyup="graphPage.onInputSearchEdgesAndNodes(this);">
                                <span class="glyphicon glyphicon-search form-control-feedback"
                                      aria-hidden="true"></span>
        </div>
        <div id="searchPopover" class="popover fade">
            <p class="lead zero-margin zero-padding"
               style="font-size: large; text-align: right;">
                Search
                for nodes and edges.</p>
        </div>
    </li>
    <li>
        <a class="btn" href="#" data-trigger="focus" data-target="#exportPopover"
           data-container="body"
           data-placement="left" data-toggle="popover">
            <i class="fa fa-download fa-lg"></i> Export
        </a>
        <div id="exportPopover" class="popover fade">
            <button type="button" class="btn btn-default" onclick="graphPage.export('json');">
                JSON
            </button>
            <button type="button" class="btn btn-default" onclick="graphPage.export('png');">PNG
            </button>
            <button type="button" class="btn btn-default" onclick="graphPage.export('jpg');">JPG
            </button>
        </div>
    </li>
    {% if uid %}
        <li>
            <a class="btn" href="#" data-toggle="modal" data-target="#shareGraphModal">
                <i class="fa fa-share-alt fa-lg"></i> Share
            </a>
        </li>
    {% endif %}
    <li>
        <a class="btn sidebar-nav-pills" href="#filter_nodes_edges" data-target="#filterNodesEdgesSideBar">
            <i class="fa fa-filter fa-lg"></i> Filter nodes <br> and edges
        </a>
    </li>
    <li>
        <a class="btn sidebar-nav-pills" href="#change_layout" data-target="#changeLayoutSidebar">
            Change Layout
        </a>
    </li>
    {% if uid %}
        <li>
            <a id="layoutEditorBtn" class="btn sidebar-nav-pills" href="#editor" data-target="#layoutEditorSideBar">
                <i class="fa fa-pencil-square-o fa-lg"></i> Use Layout <br> Editor
            </a>
        </li>
    {% endif %}

    {% if uid %}
        <li>
            <a id="saveLayoutModalBtn" class="btn" href="#" data-toggle="modal">
                <i class="fa fa-save fa-lg"></i> Save Layout
            </a>
        </li>
    {% endif %}

    {% if uid and uid == graph.owner_email %}
        <li>
            <a id="setDefaultLayoutBtn" class="btn" href="#" style="display: none" onclick="graphPage.defaultLayoutWidget.onSetDefaultLayoutBtn()">
                Set as <br>default layout
            </a>
        </li>
        <li>
            <a id="removeDefaultLayoutBtn" class="btn" href="#" style="display: none" onclick="graphPage.defaultLayoutWidget.onRemoveDefaultLayoutBtn()">
                Remove as <br>default layout
            </a>
        </li>
    {% endif %}

</ul>

