<!-- Sidebar -->

<ul id="defaultSideBar" class="sidebar-nav gs-sidebar-nav active">
    <li>
        <br>
    </li>
    <li>
        <div class="form-group has-feedback" style="margin: 0 1em;" data-trigger="focus"
             data-target="#searchPopover" data-container="body"
             data-placement="left" data-toggle="popover">
            <input type="text" class="form-control" id="inputSearchEdgesAndNodes"
                   aria-describedby="inputSearchEdgesAndNodes" style="border-radius: 1em;"
                   placeholder="Search" onkeyup="graphPage.onInputSearchEdgesAndNodes(this);">
                                <span class="glyphicon glyphicon-search form-control-feedback"
                                      aria-hidden="true"></span>
        </div>
        <div id="searchPopover" class="popover fade">
            <p class="lead zero-margin zero-padding"
               style="font-size: large; text-align: right;">
                Search
                for nodes and egdes.</p>
        </div>
    </li>
    <li>
        <a class="btn" href="#" data-trigger="focus" data-target="#exportPopover"
           data-container="body"
           data-placement="left" data-toggle="popover">
            <i class="fa fa-download fa-lg"></i> Export
        </a>
        <div id="exportPopover" class="popover fade">
            <button type="button" class="btn btn-default" onclick="graphPage.export('json');">
                JSON
            </button>
            <button type="button" class="btn btn-default" onclick="graphPage.export('png');">PNG
            </button>
            <button type="button" class="btn btn-default" onclick="graphPage.export('jpg');">JPG
            </button>
        </div>
    </li>
    {% if uid %}
    <li>
        <a class="btn" href="#" data-toggle="modal" data-target="#shareGraphModal">
            <i class="fa fa-share-alt fa-lg"></i> Share
        </a>
    </li>
    {% endif %}
    <li>
        <a class="btn sidebar-nav-pills" href="#filter_nodes_edges" data-target="#filterNodesEdgesSideBar">
            <i class="fa fa-filter fa-lg"></i> Filter nodes <br> and edges
        </a>
    </li>
    <li>
        <a class="btn" href="#" data-trigger="focus" data-target="#changeLayoutPopover"
           data-container="body"
           data-placement="left" data-toggle="popover">
            Change Layout
        </a>
        <div id="changeLayoutPopover" class="popover fade">
            <p class="lead text-center zero-margin">Select Layout</p>
            <ul id="changeLayoutBtns" class="bg-white"
                style="list-style: none; max-height: 80%; overflow-x: hidden; height: auto; padding: 0.5em">
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="circle"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Circle
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="grid"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Grid
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="concentric"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Concentric
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cose"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Spring
                        Embedder
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="breadthfirst"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Tree
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="subLayout"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Sub Layout
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-set-align"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Set Align
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-set-align-and-flow"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Set Align and Flow
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-set-align-and-bounding-box"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Set Align and Bounding Box
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-set-ghost-nodes"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Set Ghost Nodes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-make-compound-nodes-shapes"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Compound Sep. Shapes
                    </button>
                </li>
<!--            <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="grid-set-row"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Grid Set Row
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="grid-sort-by-shape"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Grid Sort by Shape
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-flow-compound-nodes-shapes"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Flow Comp. Nodes Shapes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-align-compound-nodes-shapes"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Align Comp. Nodes Shapes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-compound-colored-shapes-set-align"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Align Comp. Sep. Color Shapes
                    </button>
                </li> --> <!-- Hidden Buttons -->
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-compound-colored-shapes-no-align"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        No Align Comp. Sep. Color Shapes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-hide-grey"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Hide Grey Nodes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-hide-grey"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Show Grey Nodes
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-remove-undirected"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Remove Undirected
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-make-directed"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Make Bidirectional
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-remove-undirected-no-source-sink"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Remove Undirected NoSS
                    </button>
                </li>
                <li class="margin-bottom-2">
                    <button type="button"
                            class="btn btn-default gs-full-width select-layout-btn auto-layout"
                            data-layout-id="cola-make-directed-no-source-sink"
                            onclick="graphPage.onSelectLayoutBtnClick(this)">
                        Cola Make Bidirectional NoSS
                    </button>
                </li>
                <span id="userPrivateLayoutBtns">

                </span>
                <span id="userSharedLayoutBtns">

                </span>
            </ul>
        </div>
    </li>
    {% if uid %}
    <li>
        <a id="layoutEditorBtn" class="btn sidebar-nav-pills" href="#editor" data-target="#layoutEditorSideBar">
            <i class="fa fa-pencil-square-o fa-lg"></i> Use Layout <br> Editor
        </a>
    </li>
    {% endif %}

    {% if uid %}
    <li>
        <a id="saveLayoutModalBtn" class="btn" href="#" data-toggle="modal">
            <i class="fa fa-save fa-lg"></i> Save Layout
        </a>
    </li>
    {% endif %}

</ul>

