<div class="modal fade" id="deleteLayoutModal" tabindex="-1" role="dialog" aria-labelledby="deleteLayoutModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
            </div>
            <div class="modal-body">

                <h4>Are you sure you want to delete this layout?</h4>
                <br/>
                <button type="button" id="ConfirmRemoveLayoutBtn" class="btn btn-success">
                    Delete Layout
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>