<!-- Save Layout Modal -->
<div class="modal fade" id="editLayoutModal" tabindex="-1" role="dialog" aria-labelledby="editLayoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change name of the layout</h4>
            </div>
            <div class="modal-body">

                <div class="layout_fields">
                    <div class="control-group">
                        <label for="newlayoutNameInput">New Layout Name</label>
                        <input id="newlayoutNameInput" class="form-control" type="text" name="layout_name"
                               autocomplete="off"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <button name="ConfirmUpdateLayoutBtn" id="ConfirmUpdateLayoutBtn" class="btn btn-success">
                            Save Layout
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>