<ul id="filterNodesEdgesSideBar" class="sidebar-nav gs-sidebar-nav">
    <li></li>
    <li>
        <a class="btn sidebar-nav-pills" href="#" data-target="#defaultSideBar">
            <i class="fa fa-chevron-left"></i> Exit
        </a>
    </li>
    <li></li>
    <li></li>
    <li>
        <div class="form-group form-inline" style="margin: 0 10px;">
            <label for="input_k" class="pull-left margin-top-6"> Current rank:</label>
            <input class="form-control pull-right" id="input_k" style="width: 4em;" value="0" size="4" maxlength="">
        </div>
    </li>
    <li>
        <br>
        <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
             aria-disabled="false" style="margin: 0 10px;">
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                      style="left: 100%;"></a>
        </div>
    </li>
    <li></li>
    <li></li>
    <li>
        <input id="input_max" type="number" value="0" style="width: 4em;" size="4" maxlength="4" hidden>
    </li>

</ul>