<table id="LayoutCompatibilityTable"
       data-toggle="table"
       data-show-refresh="true"
       data-show-columns="false"
       data-show-toggle="true"
       data-ajax="graphPage.layoutCompatibilityTable.getConflictingLayoutElements"
       data-search="true"
       data-side-pagination="data"
       data-data-field="data"
       data-pagination="true"
       data-sort-name="name"
       data-id-field="id"
       data-sort-order="asc">
    <thead>
    <tr>
        <th data-field="name"  data-formatter="graphPage.layoutCompatibilityTable.elementsFormatter" data-sortable="True">Element Name</th>
        <th data-field="name"  data-formatter="graphPage.layoutCompatibilityTable.selectorFormatter" data-sortable="True">Selector</th>
        <!-- <th data-field="style" data-formatter="graphPage.layoutCompatibilityTable.styleFormatter">Style</th> -->
    </tr>
    </thead>
</table>
