<!-- Sidebar -->
<ul id="ViewCommentSideBar" class="sidebar-nav gs-sidebar-nav">
	<li><a id="cancelViewCommentsBtn" class="btn btn-xs d-inline-block" href="#">Back</a></li>
	<li class="text-center" data-intro='You can filter comments based on the graph element selected'>
    <div id="selectFilters" style="text-align: left">
    	<div class="form-check">
  			<label class="form-check-label" for="allComments">
    			<input type="radio" class="form-check-input" id="allComments" name="optradio" checked>
    			<h7>View all comments</h7>
  			</label>
		  </div>
  		<div class="form-check">
    			<label class="form-check-label" for="filterComments">
      			<input type="radio" class="form-check-input" id="filterComments" name="optradio">
      			<h7>View comments related to selected graph.</h7>
    			</label>
  		</div>
	    <div class="form-check">
	      	<label class="form-check-label" for="pinnedComments">
	        	<input type="radio" class="form-check-input" id="pinnedComments" name="optradio">
	        	<h7>View pinned comments</h7>
	      	</label>
	    </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="filterResolvedComments" value="">
          <h7>Include resolved comments in current page</h7>
        </label>
      </div>
    </div>
  </li>
  <li class="text-center" data-intro='Pagination to display comments page-wise'>
    <div id="commentsPagination">
      <ul class="pagination"></ul>
    </div>
  </li>
  <div id="CommentsList" style="align-content: center;width: 100%"></div>
</ul>