<div class="modal fade" id="forkGraphModal" tabindex="-1" role="dialog" aria-labelledby="forkGraphModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="forkModal">Are you sure you want to fork this graph?</h4>
            </div>
            <div class="modal-body">

                <span><b>Enter name of the Graph :</b></span> <input id="forkGraphName" type="text" value="{{ title }}" style="margin-left: 10">
                <br/>
                <br/>
                <button type="button" id="ConfirmForkGraphBtn" class="btn btn-success">
                    Fork Graph
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>