{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container graphs">

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
          </div>
          <div class="modal-body">

            <form method="post" class="delete_graph" role="form">
                <div class="delete_fields">
                   <h4>Are you sure you want to delete this graph?</h4>
                    <br />
                    <button type="button" name="delete_confirm" id="delete_confirm" class="btn btn-success">Delete Graph</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-9">
            <div class="graph_links">
                {% if uid != None %}
                    <button class="btn btn-default" onclick="switchSearch('my_graphs');">My Graphs<br>{{ my_graphs|length }}</button>
                    <button class="btn btn-default" onclick="switchSearch('shared_graphs');">Shared with me<br>{{ shared_graphs|length }}</button>
                {% endif %}
                <button class="btn btn-default" onclick="switchSearch('public_graphs');">Public Graphs<br>{{ public_graphs|length }}</button>

                <a style='color:white; float: right;' href="{{url}}graphs/upload"><button class="btn btn-info">Upload New<br>Graph</button></a>
            </div>
        </div>
    </div>

<!-- list of graphs from database displayed in table form -->
    <div class="row">
        <div class="col-sm-9">
            <div class="results_table">
                <table class='table table-hover' style='table-layout:fixed;overflow:hidden;word-wrap:break-word;'>
                    {% if graph_list != None and graph_list|length > 0 %}
                            <tr>
                                <th>
                                  <button id="order_graphs_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Graph ID ascending">
                                    <span id="order_graphs_icon" class="glyphicon glyphicon-sort"></span>
                                  </button>
                                  <span>Graph Name</span>
                                </th>
                                <th>Tags</th>
                                {% if search_type != None %}
                                    <th>Node names(Labels)</th>
                                {% endif %}
                                <th>
                                  <button id="order_modified_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Modified ascending">
                                    <span id="order_modified_icon" class="glyphicon glyphicon-sort"></span>
                                  </button>
                                  <span>Modified</span>
                                </th>
                                <th>
                                  <button id="order_owner_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Owner ascending">
                                    <span id="order_owner_icon" class="glyphicon glyphicon-sort"></span>
                                  </button>
                                  <span>Owner</span>
                                </th>
                                <th>Visibility</th>
                                <th></th>
                            </tr>
                            {% for graph in graph_list %}
                                <tr>
                                    <!-- If there is a search term or a tag term -->
                                    <td><a href="/graphs/{{ graph.owner_email }}/{{ graph.name }}">{{ graph.name }}</a></td>
                                    <td>{% for tag in graph.tags %} {% if not forloop.first %}, {% endif %} <a class='tag_links' id='{{ tag.name }}'>{{ tag.name }}</a> {% endfor %}</td>
                                    {% if search_type != None %}
                                        <td>{% for node in graph.nodes %} {% if not forloop.first %}, {% endif %} {{ node.name }} ({{ node.label }}) {% endfor %}</td>
                                    {% endif %}
                                    <td>{{ graph.updated_at }}</td>
                                    <td>{{ graph.owner_email }}</td>
                                    <td>{% if graph.is_public == 1 %}Public{% else %}Private{% endif %}</td>
                                    {% if graph.owner_email == uid %}
                                        <td><div class="test"><button class="btn btn-default delete_graph" id="{{graph.id}}" value="{{graph.id}}">Delete</button></div></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                    {% else %}
                        <p>{% autoescape off %}{{ message }}{% endautoescape %}</p>
                    {% endif %}
                </table>
            </div> <!-- end results_table -->
        </div>

        <div class="col-sm-3 side">
    {% if page_numbers|length > 1 %}
        <div id="search_box_panel_accordion" class="panel-group" style="margin-top: -161px;">
    {% else %}
        <div id="search_box_panel_accordion" class="panel-group" style="margin-top: -70px;">
    {% endif %}
              <div id="search_box_panel" class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Search<a id="help_search" href="../help/#search" style="float: right; color: #0000FF;">Help</a></h3>
                </div>
                <div class="panel-collapse collapse in" id="collapse_search_box">
                <div class="panel-body">
                  <form method="get" role="form">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." id="searching">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="search_button" type="submit">Search</button>
                        </span>
                    </div>
                    <div class="input-group" id="search_radios">
                    <label>
                        <input type="radio" class="search_type" id="partial_search" name="match" value="partial_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that partially match the search term(s)"> Similar
                    </label>
                    <label>
                        <input type="radio" id="full_search" class="search_type" name="match" value="full_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that fully match the search term(s)"> Exact
                    </label>
                    </div>
                  </form>
                  <br>
                  <div style="text-align: center;">
                    <button class="btn btn-default" id="clear_search" style="width: 100%;">Clear all search terms</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <br> <br>
    <div id="tag_panel_accordion" class="panel-group">
      <div id="tag_panel" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tags<a id="help_tags" href="../help/#tags" style="float: right; color: #0000FF;">Help</a></h3>
        </div>
        <div class="panel-collapse collapse in" id="collapse_tags">
          <div class="panel-body">
            <p id="tag_content"></p>
                <form method="get" role="form">


                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Tags" id="tags_searching">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="tags_button" type="submit">Search</button>
                        </span>
                    </div>
                </form>
                <br>
                {% for tag in all_tags %}
                    {% with base_url|add:"?tags="|add:tag as tag_url %}
                    <button class="btn btn-primary tag_links" id="{{tag}}" style="margin: 2px;">{{ tag }}</button>
                    {% endwith %}
                {% endfor %}
                <br>
                <br>
                <button class="btn btn-default" id="clear_tags" style="width: 100%;">Clear all tag terms</button>
          </div>
        </div>
      </div>
    </div>
    </div>

</div> <!-- end graphs_container -->
    </div>
<!-- </div> -->
<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
</footer>
{% endblock %} <!-- end content block -->


{% block css-js-footer %}
<!-- load javascripts -->
<!-- javascript for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/graphs.js' %}"></script>

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- load stylesheets -->
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- stylesheet for pager -->
<link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

<!-- stylesheet for elements specified in this html(graphs.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

<!-- stylesheet for side menues -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}