{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <script type="text/javascript">
        {% if not Error %}
            var graph_json = {{ graph_json_string|safe }};
        {% endif %}
    </script>

    {#    <link href={% static "graphs/css/pager.css" %} rel="stylesheet">#}
    {#    <link href={% static "graphs/css/graphs.css" %} rel="stylesheet">#}

    <!--- Modals start here--->
    <div>
        <div class="modal fade" id="shareGraphModal" tabindex="-1" role="dialog" aria-labelledby="shareGraphModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Share Graph</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group zero-margin">
                            <li class="list-group-item row gs-list-group-item">
                                <span class="col-md-10 lead">
                                    Share with public <i class="fa fa-globe fa-lg"></i>
                                </span>

                                <span class="col-md-2" style="text-align: right">
                                    <button type="button"
                                            class="btn btn-default btn-sm share-graph-btn {% if graph.is_public == 1 %}hidden{% endif %}"
                                            onclick="graphPage.onShareGraphWithPublicBtn(this,{{ graph.id }})">
                                        <i class="fa fa-share"></i>
                                        Share
                                    </button>
                                    <button type="button"
                                            class="btn btn-danger btn-sm unshare-graph-btn {% if graph.is_public == 0 %}hidden{% endif %}"
                                            onclick="graphPage.onUnshareGraphWithPublicBtn(this,{{ graph.id }})">
                                        <i class="fa fa-remove"></i>
                                        Unshare
                                    </button>
                                </span>
                            </li>
                        </ul>
                        <ul class="list-group" style="max-height: 365px; overflow-x: hidden; height: auto">

                            {% for group in groups %}
                                <li class="list-group-item row gs-list-group-item">
                                    <span class="col-md-10 lead">
                                        {{ group.name }} <small>owned by: {{ group.owner_email }}</small>
                                    </span>

                                    <span class="col-md-2" style="text-align: right">
                                        <button type="button"
                                                class="btn btn-default btn-sm share-graph-btn {% if group.is_shared == 1 %}hidden{% endif %}"
                                                onclick="graphPage.onShareGraphWithGroupBtn(this, {{ graph.id }}, {{ group.id }})">
                                            <i class="fa fa-share"></i>
                                            Share
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger btn-sm unshare-graph-btn {% if group.is_shared == 0 %}hidden{% endif %}"
                                                onclick="graphPage.onUnshareGraphWithGroupBtn(this, {{ graph.id }}, {{ group.id }})">
                                            <i class="fa fa-remove"></i>
                                            Unshare
                                        </button>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save Layout Modal -->
        <div class="modal fade" id="saveLayoutModal" tabindex="-1" role="dialog" aria-labelledby="saveLayoutModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Save Layout</h4>
                    </div>
                    <div class="modal-body">

                        <div class="layout_fields">
                            <div class="control-group">
                                <label for="layoutNameInput">Layout Name</label>
                                <input id="layoutNameInput" class="form-control" type="text" name="layout_name"
                                       autocomplete="off"/>
                            </div>
                            <br>
                            <div class="form-group">
                                <button name="saveLayoutBtn" id="saveLayoutBtn" class="btn btn-success">Save Layout
                                </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--- Modals end here--->
    <div class="container-fluid zero-margin zero-padding padding-top-2">

        <ul class="nav nav-tabs">
            <li class="active text-center">
                <a class="link-reset" href="#graph_representation_tab" data-toggle="tab">Graph Representation</a>
            </li>

            <li class="text-center">
                <a class="link-reset" href="#graph_nodes_tab" data-toggle="tab">Nodes <span
                        class="badge">{{ graph.json.graph.nodes|length }}</span> </a>
            </li>

            <li class="text-center">
                <a class="link-reset" href="#graph_edges_tab" data-toggle="tab">Edges <span
                        class="badge">{{ graph.json.graph.edges|length }}</span></a>
            </li>

            <li class="text-center">
                <a class="link-reset" href="#graph_layouts_tab" data-toggle="tab">Layouts <span
                        class="badge">{{ layouts|length }}</span></a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content gs-full-height bg-white">
            <div class="tab-pane fade in active gs-full-height" id="graph_representation_tab">
                <div id="wrapper" class="gs-full-height">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <br><br>
                            </li>
                            <li>
                                <div class="form-group has-feedback" style="margin: 0 -1em;" data-trigger="focus"
                                     data-target="#searchPopover" data-container="body"
                                     data-placement="left" data-toggle="popover">
                                    <input type="text" class="form-control" id="inputSearchEdgesAndNodes"
                                           aria-describedby="inputSearchEdgesAndNodes" style="border-radius: 1em;"
                                           placeholder="Search" onkeyup="graphPage.onInputSearchEdgesAndNodes(this);">
                                <span class="glyphicon glyphicon-search form-control-feedback"
                                      aria-hidden="true"></span>
                                </div>
                                <div id="searchPopover" class="popover fade">
                                    <p class="lead zero-margin zero-padding"
                                       style="font-size: large; text-align: right;">
                                        Search
                                        for nodes and egdes.</p>
                                </div>
                            </li>
                            <li>
                                <a class="btn" href="#" data-trigger="focus" data-target="#exportPopover"
                                   data-container="body"
                                   data-placement="left" data-toggle="popover">
                                    <i class="fa fa-download fa-lg"></i> Export
                                </a>
                                <div id="exportPopover" class="popover fade">
                                    <button type="button" class="btn btn-default" onclick="graphPage.export('json');">
                                        JSON
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="graphPage.export('png');">PNG
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="graphPage.export('jpg');">JPG
                                    </button>
                                </div>
                            </li>
                            <li>
                                <a class="btn" href="#" data-toggle="modal" data-target="#shareGraphModal">
                                    <i class="fa fa-share-alt fa-lg"></i> Share
                                </a>
                            </li>
                            <li>
                                <a class="btn" href="#">
                                    <i class="fa fa-filter fa-lg"></i> Filter nodes <br> and edges
                                </a>
                            </li>
                            <li>
                                <a class="btn" href="#" data-target="#changeLayoutPopover"
                                   data-container="body"
                                   data-placement="left" data-toggle="popover">
                                    Change Layout
                                </a>
                                <div id="changeLayoutPopover" class="popover fade">
                                    <p class="lead text-center zero-margin">Select Layout</p>
                                    <ul class="bg-white"
                                        style="list-style: none; max-height: 80%; overflow-x: hidden; height: auto; padding: 0.5em">
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="circle"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Circle
                                            </button>
                                        </li>
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="grid"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Grid
                                            </button>
                                        </li>
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="concentric"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Concentric
                                            </button>
                                        </li>
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="cose"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Spring
                                                Embedder
                                            </button>
                                        </li>
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="breadthfirst"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Tree
                                            </button>
                                        </li>
                                        <li class="margin-bottom-2">
                                            <button type="button"
                                                    class="btn btn-default gs-full-width select-layout-btn auto-layout"
                                                    data-layout-id="cola"
                                                    onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                Cola
                                            </button>
                                        </li>
                                        {% for layout in layouts %}
                                            <li class="margin-bottom-2">
                                                <button type="button"
                                                        class="btn btn-default gs-full-width select-layout-btn user-layout"
                                                        data-layout-id="{{ layout.id }}"
                                                        onclick="graphPage.onSelectLayoutBtnClick(this)">
                                                    <b>{{ layout.name }}</b> <br> created by {{ layout.owner_email }}
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="btn" href="#">
                                    <i class="fa fa-pencil-square-o fa-lg"></i> Use Layout <br> Editor
                                </a>
                            </li>
                            <li>
                                <a class="btn" href="#" data-toggle="modal" data-target="#saveLayoutModal">
                                    <i class="fa fa-save fa-lg"></i> Save Layout
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper" class="gs-full-height">
                        <div class="gs-full-height zero-margin zero-padding">
                            <div class="row gs-full-height">
                                <div class="col-lg-12 gs-full-height">
                                    <div class="gs-full-height padding-bottom-6"
                                         style="margin: 0; width: 100%;">
                                        <h1 class="text-center">
                                            {{ graph.name }}
                                        </h1>
                                        <input type="text" id="GraphName" value="{{ graph.name }}" hidden/>
                                        <input type="text" id="GraphID" value="{{ graph.id }}" hidden/>
                                        <div id="cyGraphContainer"></div>
                                    </div>
                                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->
                </div>
            </div>
            <div class="tab-pane fade gs-full-height container" id="graph_nodes_tab">
                <table id="NodesTable"
                       data-toggle="table"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-ajax="graphPage.nodesTable.getNodesByGraphID"
                       data-search="true"
                       data-side-pagination="server"
                       data-data-field="nodes"
                       data-pagination="true"
                       data-sort-name="name"
                       data-id-field="id"
                       data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="name" data-sortable="True">Node Name</th>
                        <th data-field="label">Node Label</th>
                        <th data-field="updated_at" data-formatter="utils.dateFormatter" data-sortable="True">Last Modified</th>
                        <th data-field="operations">
                            Operations
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade gs-full-height container" id="graph_edges_tab">
                <table id="EdgesTable"
                       data-toggle="table"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-ajax="graphPage.edgesTable.getEdgesByGraphID"
                       data-search="true"
                       data-side-pagination="server"
                       data-data-field="edges"
                       data-pagination="true"
                       data-sort-name="name"
                       data-id-field="id"
                       data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="name" data-sortable="True">Edge Name</th>
                        <th data-field="is_directed" data-sortable="True">Is Directed ?</th>
                        <th data-field="tail_node.label" data-sortable="True">Tail Node</th>
                        <th data-field="head_node.label" data-sortable="True">Head Node</th>
{#                        <th data-field="label">Node Label</th>#}
                        <th data-field="updated_at" data-formatter="utils.dateFormatter" data-sortable="True">Last Modified</th>
                        <th data-field="operations">
                            Operations
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade gs-full-height" id="graph_layouts_tab">

            </div>
        </div>

    </div>





    <footer class="footer">
        <br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
        <br><a href="http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
    </footer>

    <script type="text/javascript" src="{% static 'components/cytoscape/dist/cytoscape.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/webcola/WebCola/cola.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/cytoscape-cola/cytoscape-cola.js' %}"></script>
    <!-- JSON support for Graph Page -->
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graphs_page.js' %}"></script>

    <script>
        $(document).ready(function () {
            console.log("Loading graph page");
            graphPage.init();
        });
    </script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                template: '<div class="popover gs-transparent-popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
                content: function () {
                    return $($(this).data('target')).html();
                }

            })
        })


    </script>
{% endblock %}