{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}

    <link href={% static "graphs/css/pager.css" %} rel="stylesheet">
    <link href={% static "graphs/css/graphs.css" %} rel="stylesheet">
    {#    <script type="text/javascript" src="{% static 'graphs/js/groups.js' %}"></script>#}

    <div class="container graphs padding-bottom-6">
        <h1 class="text-center">{{ group.name }}</h1>
        {% if group.description and group.description|length != 0 %}
            <p class="text-center lead">{{ group.description }}</p>
        {% endif %}
        <br>
        <ul class="nav nav-tabs nav-justified margin-bottom-4">
            <li class="active text-center">
                <a href="#shared_graphs" data-toggle="tab">{{ group.total_graphs }} Shared Graphs</a>
            </li>
            <li class="text-center">
                <a href="#members" data-toggle="tab">{{ group.total_members }} Members</a>
            </li>
            <li class="text-center">
                <a href="#update_group" data-toggle="tab">Update Group</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active" id="shared_graphs">
                <table id="SharedGraphsTable"
                       data-toggle="table"
                       data-show-refresh="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-ajax="groupPage.SharedGraphsTable.getGraphsSharedToGroup"
                       data-search="true"
                       data-side-pagination="server"
                       data-data-field="graphs"
                       data-pagination="true"
                       data-sort-name="name"
                       data-id-field="id"
                       data-sort-order="asc">
                    <thead>
                    <tr>
                        <th data-field="name" data-sortable="True" data-formatter="groupPage.SharedGraphsTable.nameFormatter">Graph Name</th>
                        <th data-field="owner_email" data-sortable="True">Graph Owner</th>
                        <th data-field="is_public" data-formatter="groupPage.SharedGraphsTable.visibilityFormatter" data-sortable="True">Visibility</th>
                        <th data-field="updated_at" data-formatter="utils.dateFormatter" data-sortable="True">Last Modified</th>
                        {% if group.owner_email == uid %}
                            <th data-field="operations"
                                data-formatter="groupPage.SharedGraphsTable.operationsFormatter"
                                data-events="groupPage.SharedGraphsTable.operationEvents">
                                Operations
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tab-pane fade" id="members">
                <div style="width: 50%; min-width:200px; margin: 0 auto;">
                    <table id="GroupMembersTable"
                           data-toggle="table"
                           data-show-refresh="true"
                           data-ajax="groupPage.GroupMembersTable.getGroupMembers"
                           data-search="false"
                           data-pagination="true"
                           data-sort-name="email"
                           data-id-field="id">
                        <thead>
                        <tr>
                            <th data-field="email" data-sortable="true" data-halign="center" data-align="center">Email</th>
                            {% if group.owner_email == uid %}
                                <th data-field="operations"
                                    data-formatter="groupPage.GroupMembersTable.operationsFormatter"
                                    data-events="groupPage.GroupMembersTable.operationEvents" data-halign="center"
                                    data-align="center">
                                    Operations
                                </th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="update_group">
                <div class="panel panel-default" style="max-width:400px; width:50%; margin: 0 auto;">
                    <div class="panel-body">
                        <form id="UpdateGroupForm" role="form">
                            <input type="text" id="GroupID" hidden value="{{ group.id }}">
                            <input type="text" id="GroupOwnerEmail" hidden value="{{ group.owner_email }}">
                            <div class="control-group">
                                <label for="GroupNameInput">Group Name:</label>
                                <input id="GroupNameInput" class="form-control" maxlength="32" type="text"
                                       name="group_name" autocomplete="off" placeholder="Required"
                                       value="{{ group.name }}"/>
                            </div>

                            <br>

                            <div class="control-group">
                                <label for="GroupDescriptionInput">Group Description:</label>
                                <input id="GroupDescriptionInput" class="form-control" maxlength="200" type="text"
                                       name="description" autocomplete="off" placeholder="Optional"
                                       value="{% if group.description %} {{ group.description }} {% endif %}"/>
                            </div>

                            <br>
                            <button id="UpdateGroupBtn" class="btn btn-primary gs-full-width">Update Group</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteGroupToGraphModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteGroupModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModal">Confirm Unshare</h4>
                    </div>
                    <div class="modal-body">

                        <h4>Are you sure you want to unshare this graph?</h4>
                        <br/>
                        <button type="button" id="ConfirmRemoveGroupToGraphBtn" class="btn btn-success">
                            Unshare Graph
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteGroupMemberModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteGroupModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModal">Confirm Remove</h4>
                    </div>
                    <div class="modal-body">

                        <h4>Are you sure you want to remove the user from this group?</h4>
                        <br/>
                        <button type="button" id="ConfirmRemoveGroupMemberBtn" class="btn btn-success">
                            Remove
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
        <br><a href="http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
    </footer>

    <!-- JSON support for Groups Page -->
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/groups_page.js' %}"></script>

    <script>
        $(document).ready(function () {
            groupPage.init();
        });
    </script>
{% endblock %}

{% block css-js-footer %}
    <!-- load javascripts -->
    <!-- javascript for side menu -->

    <!--jQuery UI, needed for side menu -->
    <script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

    <!-- JSON support for IE (needed to use JS API) -->
    <script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

    <!-- load stylesheets -->
    <!-- jQuery UI style sheet -->
    <link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

    <!-- stylesheet for pager -->
    <link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

    <!-- stylesheet for elements specified in this html(graphs.html) -->
    <link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

    <!-- stylesheet for side menues -->
    <link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}