{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}

    <div class="container-fluid zero-padding padding-bottom-6">

        <ul class="nav nav-tabs">
            {% if uid %}
                <li class="active text-center">
                    <a href="#owned_graphs" data-toggle="tab">My Graphs <span id="ownedGraphsTotal"
                                                                              class="badge">{{ owned_graphs.total }}</span></a>
                </li>
                <li class="text-center">
                    <a href="#shared_graphs" data-toggle="tab">Shared Graphs <span id="sharedGraphsTotal"
                                                                                   class="badge">{{ shared_graphs.total }}</span></a>
                </li>
            {% endif %}

            <li class="text-center {% if not uid %} active {% endif %}">
                <a href="#public_graphs" data-toggle="tab">Public Graphs <span id="publicGraphsTotal"
                                                                               class="badge">{{ public_graphs.total }}</span></a>
            </li>

            <li class="text-center">
                <a href="{% url 'upload_graph' %}">Upload New Graph</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content container-fluid bg-white padding-top-4">
            <div id="toolbar">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <span>Search: </span>
                        <input name="search" style="width: 300px" class="form-control graphs-table-search" type="text"
                               placeholder="Search Graphs, Nodes and Edges">
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <span>Tags: </span>
                        <input id="tagSearchBar" name="tags" class="form-control graphs-table-search" type="text"
                               placeholder="Search Tags">
                    </div>
                    <button id="ok" type="submit" class="btn btn-default">Search</button>
                    <a id="clear" class="btn btn-default">Clear Search</a>
                </div>
            </div>

            {% if uid %}
                <div class="tab-pane fade in active" id="owned_graphs">
                    {% include 'graphs/owned_graphs_table.html' %}
                </div>

                <div class="tab-pane fade" id="shared_graphs">
                    {% include 'graphs/shared_graphs_table.html' %}
                </div>
            {% endif %}

            <div class="tab-pane fade {% if not uid %} in active {% endif %}" id="public_graphs">
                {% include 'graphs/public_graphs_table.html' %}
            </div>

            <div class="tab-pane fade" id="upload_graph">
                Upload Graph
            </div>
        </div>

        {% include 'graphs/delete_graph_modal.html' %}

    </div>

    <!-- JSON support for Graphs Page -->
    <script type="text/javascript" src="{% static 'js/graphs_page.js' %}"></script>

    <script>
        $(document).ready(function () {
            graphsPage.init();
        });
    </script>
{% endblock %}