{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <link href="{% static 'components/select2/dist/css/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'components/select2/dist/js/select2.full.min.js' %}"></script>

    <div class="container-fluid zero-padding padding-bottom-6" style="margin-top: 5px;">
        {% csrf_token %}
        <ul class="nav nav-tabs">
            {% if uid %}
                <li class="active text-center">
                    <a href="#owned_graphs" data-toggle="tab">My Graphs <span id="ownedGraphsTotal"
                                                                              class="badge">{{ owned_graphs.total }}</span></a>
                </li>
                <li class="text-center">
                    <a href="#shared_graphs" data-toggle="tab">Shared Graphs <span id="sharedGraphsTotal"
                                                                                   class="badge">{{ shared_graphs.total }}</span></a>
                </li>
            {% endif %}

            <li class="text-center {% if not uid %} active {% endif %}">
                <a href="#public_graphs" data-toggle="tab">Public Graphs <span id="publicGraphsTotal"
                                                                               class="badge">{{ public_graphs.total }}</span></a>
            </li>

            <li class="text-center">
                <a href="{% url 'upload_graph' %}">Upload New Graph</a>
            </li>
        </ul>


        <div id="myTabContent" class="tab-content container-fluid bg-white padding-top-4">
            <div id="toolbar">
                <div class="form-inline gs-full-width" role="form">
                    <div class="form-group col-md-6">
                        <select class="graph-search gs-full-width" multiple="multiple">
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group col-md-4">
                        <select class="tags-search gs-full-width" multiple="multiple">
                        </select>
{#                        <input id="tagSearchBar" name="tags" class="form-control graphs-table-search tags-search gs-full-width"#}
{#                               type="text"#}
{#                               placeholder="Search Tags" value="{{ tags }}">#}
                    </div>
                    <button id="ok" type="submit" class="btn btn-default">Search</button>
                    <a id="clear" class="btn btn-default">Clear Search</a>
                </div>
                <br>
                <a id="advancedSearchBtn" class="pull-right" data-toggle="collapse" href="#advancedSearchCollapse"
                   aria-expanded="false" aria-controls="advancedSearchCollapse" style="margin-right: 3.5%">
                    More filters
                </a>
                <br>
                <div class="collapse gs-full-width col-md-12" id="advancedSearchCollapse">
{#                    <p class="lead text-center"><u>Use the advanced query search builder below to create your search</u>#}
{#                    <p class="lead text-center">Filter networks by node, edge and network attributes.</p>#}
{#                    <br>#}
                    <div id="queryBuilder" style="display: none">
                        <div class="row query-builder-field">
                            <div class="col-md-1 or-label"></div>
                            <div class="col-md-1">
                                <select class="form-control datatype-select">
                                    <option value="node" selected>Node</option>
                                    <option value="edge">Edge</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <select class="node-search" style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-1 zero-margin zero-padding">
                                <button class="btn btn-default btn-sm add-query-btn" aria-label="add"
                                        style="border-color: transparent;color: green;"
                                        onclick="graphsPage.queryBuilder.addQueryField(this);">
                                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="AdvancedQueryBuilder">
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1 or-and-label"></div>
                            <div class="col-md-1">
                                <p>
                                    Node Attributes
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input id="nodeSearchQuery" class="form-control  graphs-filter-field gs-full-width" type="text" placeholder="e.g., name:egfr OR label:egfr "/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1 or-and-label">
                                <select name="edgeSearchOperator" id="edgeSearchOperator" class="form-control">
                                    <option value="OR">OR</option>
                                    <option value="AND" selected>AND</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <p>
                                    Edge Attributes
                                </p>
                            </div>
                            <div class="col-md-8">
                                <input id="edgeSearchQuery" class="form-control graphs-filter-field gs-full-width" type="text" placeholder="e.g., source:wnt OR target:fzd "/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1 or-and-label">
                                <select name="networkSearchOperator" id="networkSearchOperator" class="form-control">
                                    <option value="OR">OR</option>
                                    <option value="AND" selected>AND</option>
                                </select>
                            </div>
                            <div class="col-md-1">

                                <p>
                                    Network Attributes
                                </p>

                            </div>
                            <div class="col-md-8">
                                <input id="networkSearchQuery" class="form-control  graphs-filter-field gs-full-width" type="text" placeholder="e.g., name:kegg OR tags:pathlinker "/>
                            </div>
                        </div>
                    </div>

                </div>
                <br>

            </div>

            {% if uid %}
                <div class="tab-pane fade in active" id="owned_graphs">
                    {% include 'graphs/owned_graphs_table.html' %}
                </div>

                <div class="tab-pane fade" id="shared_graphs">
                    {% include 'graphs/shared_graphs_table.html' %}
                </div>
            {% endif %}

            <div class="tab-pane fade {% if not uid %} in active {% endif %}" id="public_graphs">
                {% include 'graphs/public_graphs_table.html' %}
            </div>

            <div class="tab-pane fade" id="upload_graph">
                Upload Graph
            </div>
        </div>

        {% include 'graphs/delete_graph_modal.html' %}

    </div>

    <!-- JSON support for Graphs Page -->
    <script type="text/javascript" src="{% static 'js/search_query_json_template.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/graphs_page.js' %}"></script>

    <script>
        $(document).ready(function () {
            graphsPage.init();
        });

    </script>
{% endblock %}