{% extends 'base.html' %}
{% load staticfiles %}
{% block cytoscapeweb %}
<script type="text/javascript">
   var graph_json = {{ graph|safe }};
   var layout = {{ layout_to_view|safe }};
   var task_view = "{{ task_view|safe }}";
   var researcher_view = "{{ researcher_view|safe }}";
   var approve_view = "{{ approve_view|safe }}";
   var designer_view = "{{ designer_view|safe }}";
   window.cy;
</script>
<div id="dialog"></div>
<!--#######################################-->
<!-- Save Modal -->
<div class="modal fade" id="layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Save Layout</h4>
         </div>
         <div class="modal-body">
            <form method="post" id="layout_form" class="layout_form" role="form">
               <div class="layout_fields">
                  <div class="control-group">
                     <label for="layout_name">Layout Name</label>
                     <input id="layout_name" class="form-control" type="text" name="layout_name" autocomplete="off"/>
                  </div>
                  <br>
                  <div class="form-group">
                     <button name="save_layout" id="save_layout" class="btn btn-success">Save Layout</button>
                     {% if designer_view == True %}
                        <button name="return_view" id="return_view" class="btn btn-success">Exit Without Saving</button>
                     {% endif %}
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- Guidelines Modal -->
<div class="modal fade" id="guidelines_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Guidelines</h4>
         </div>
         <div class="modal-body">
            The following guidelines are ranked from most important to least important<br><br>
            <ol>
               <li>Arrange triangles at the top of the graph</li>
               <li>Arrange rectangles at the bottom of the graph</li>
               <li>Arrange nodes of the same shape together</li>
               <li>Arrange nodes of the same color together</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<!-- Notes Modal -->
<div class="modal fade" id="notes_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Notes</h4>
         </div>
         <div class="modal-body">
            <ul id="notes_list">
            </ul>
         </div>
         <div class="modal-body">
          <form>
            <textarea placeholder="Please add a few notes regarding the experience of this task." id="feedback" class="form-control" rows="3"></textarea>
            <br>
            <div class="form-group">
               <button type="button" id="add_note" value="" class="btn btn-success">Add Note</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
   </div>
</div>
<!-- Change Layout Name Modal -->
<div class="modal fade" id="change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Change Name of Layout</h4>
         </div>
         <div class="modal-body">
            <form id="layout_form" class="layout_form" role="form">
               <div class="layout_fields">
                  <div class="control-group">
                     <label for="layout_name">New Layout Name</label>
                     <input id="new_layout_name" class="form-control" type="text" name="new_layout_name" autocomplete="off"/>
                  </div>
                  <br>
                  <div class="form-group">
                     <button type="button" id="change_layout" value="" class="btn btn-success">Save Layout</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Share Groups Modal -->
<div class="modal fade" id="share_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Select all groups to share graph with</h4>
         </div>
         <div class="modal-body">
            <div class="group_body">
               <ul class="list-group checked-list-box">
               </ul>
            </div>
            <div class="form-group">
               <button type="button" id="share_graph_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Share Layouts Modal -->
<div class="modal fade" id="share_layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Select all groups to share layout with</h4>
         </div>
         <div class="modal-body">
            <div class="group_body">
               <ul class="list-group checked-list-box">
               </ul>
            </div>
            <div class="form-group">
               <button type="button" id="share_layout_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Task Modal -->
<div class="modal fade" id="task_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Launch Task on Amazon Mechanical Turk?</h4>
         </div>
         <div class="modal-body">
            <div class="group_body">
               <p>By clicking launch task, your graph will appear as a task on Amazon Mechanical Turk.  From there, workers will work
                  to generate layouts.
               </p>
            </div>
            <div class="form-group">
               <button type="button" id="{{graph_id}}" value="{{owner}}" class="btn btn-success launch_task">Launch Task</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Survey Code modal -->
<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Task Completed</h4>
         </div>
         <div class="modal-body">
            <div class="group_body">
               <p>Thank you for your work.  Please enter the provided code in Amazon Mechanical Turk to complete the task.
               </p>
               <input class="form-control" type="text" readonly id="code">
            </div>
            <br>
            <form id="layout_form" class="layout_form" role="form">
               <div class="layout_fields">
                  <div class="control-group">
                     <label for="layout_name">Feedback</label>
                     <textarea placeholder="Please add a few notes regarding the experience of this task." id="feedback" class="form-control" type="text" name="feedback" autocomplete="off" /></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                     <button type="button" id="send_feedback" value="" class="btn btn-success">Finished</button>
                     <button type="button" class="btn btn-danger" id="exit" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </form>
            <!-- <div class="form-group">
               <button type="button" class="btn btn-danger" id="exit" data-dismiss="modal">Close</button>
               </div> -->
         </div>
      </div>
   </div>
</div>

<!-- Approve Code modal -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" id="changeLabelModal">Task Completed</h4>
         </div>
         <div class="modal-body">
            <div class="group_body">
               <p>Thank you for your work.  Please enter the provided code in Amazon Mechanical Turk to complete the task.
               </p>
               <input class="form-control" type="text" readonly id="approveCode">
            </div>
            <br>
            <button type="button" class="btn btn-default" id="exitPage" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div id="overlay"></div>
<p id="uid" style="display:none;">{{owner}}</p>
<p id="gid" style="display:none;">{{graph_id}}</p>
<div class="container-fluid csjs_container">
   <p id"test"></p>
   <div id="graph_title" >
      <h1 id="title" style="display:none;">{{graph_name}}</h1>
   </div>
   <div class="csjs" id="csjs">    
   </div>
   <!-- side menu must be on top for 'float' to work properly -->
   <div id="side_menu" class="side_menu">
      <!-- div classes are used to style these menu items,
         ids are used for accordian jQuery functions. -->
      <!-- Graph Details menu -->
      {% if researcher_view == True %}
      <div id="accordion_graph_details" class="accordion">
         <h3>Graph Details</h3>
         <div class="accordion_content">
            {{ description|safe }} </br>
         </div>
      </div>
      <div id="accordion_search" class="accordion">
         <h3>Search<a class="help" href="../../../help/#search_panel" style="float: right; color: #0000FF;">Help</a></h3>
         <div class="accordion_content test">
            <div class="search_box">
               <a id='url'></a>
               <form>
                  <div class="input-group">
                     <input class="form-control" type="text" name="search" id="search" placeholder="Enter Node or Edge ID to highlight">
                     <span class="input-group-btn">
                     <button class="btn btn-info" name="search_button" id="search_button">Search</button>
                     </span>
                  </div>
                  <div class="input-group" id="search_radios">
                     <label>
                     <input type="radio" class="search_type" id="partial_search" name="match" value="partial_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that partially match the search term(s)"> Similar
                     </label>
                     <label>
                     <input type="radio" id="full_search" class="search_type" name="match" value="full_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that fully match the search term(s)"> Exact
                     </label>
                  </div>
               </form>
            </div>
            <div id="search_error" style="display: none;" class="alert alert-danger alert-dismissable">
               <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
               <strong>
                  <p id="search_error_text"></p>
               </strong>
            </div>
            <div style="text-align: center;">
               <button class="btn btn-default" id="clear_search" style="width: 100%;">Clear all search terms</button>
            </div>
            <ul class="nav nav-pills" id="search_terms">
            </ul>
         </div>
      </div>
      <!-- Export menu -->
      <div id="accordion_export" class="accordion">
         <h3>Export</h3>
         <div class="accordion_content">
            <!-- There seems to be an issue with adobe flash used with Cytoscape Web. 
               https://groups.google.com/forum/#!msg/cytoscapeweb-discuss/548wkpC3iE8/TAwyrA2MO-cJ-->
            <button class="btn btn-default" id="export" value="{{ graph_id }}">PNG</button>
            <br/>
            <hr/>
            <!-- View JSON function to be added -->
            <form>
               <button class="btn btn-default" name="view_json" type="submit">View JSON</button>
            </form>
         </div>
      </div>
      <!-- Owner menu -->
      <div id="accordion_owner" class="accordion">
         <h3>Owner</h3>
         <div class="accordion_content">
            <a href="#user_profile">{{ owner }}</a>
         </div>
      </div>
      <!-- Sharing menu -->
      <div id="accordion_sharing" class="accordion">
         <h3>Sharing<a id="sharing_panel" href="../../../help/#sharing_panel" style="float: right; color: #0000FF;">Help</a></h3>
         <div class="accordion_content">
            {% if shared_groups|length == 0 %}
            <p>This graph is not shared with any groups.</p>
            {% else %}
            <p>This graph has been shared with the following group(s):
            <ul>
               {% for o in shared_groups %}
               {% with url|add:"groups/"|add:o.1|add:'/'|add:o.0 as url %}
               <li><a href={{url}}><u>{{ o.0 }} owned by {{o.1}}</u></a><br></li>
               {% endwith %}
               {% endfor %}
            </ul>
            </p>
            {% endif %}
            <br>
            {% if uid == owner %}
            <button class="btn btn-default" style="width: 100%;" id='share_graph' data-toggle="modal" data-target="#share_group_modal">Share graph with groups</button>
            {% endif %}
         </div>
      </div>
      <!-- Layouts menu -->
      <div id="accordion_layouts" class="accordion">
         <h3>Layouts<a class="help" href="../../../help/#layout_panel" style="float: right; color: #0000FF;">Help</a></h3>
         <div class="accordion_content">
            {% if uid != None %}
            <div>
               <p id="loggedIn" style="display:none;">{{uid}}</p>
               <button class="btn btn-default" data-toggle="modal" data-target="#layout_modal">Save Layout</button><br><br>
               {% if task_launched %}
               <button class="btn btn-default disabled">Task Currently Live</button>
               {% else %}
                  {% if uid in crowd_group %}
                  <button class="btn btn-default" data-toggle="modal" data-target="#task_modal">Ask Crowd</button><br><br>
                  {% endif %}
               {% endif %}
                  <button class="btn btn-default" id="design_view">Use Layout Editor</button><br><br>
            </div>
            {% endif %}
            <hr/>
            <div class="tabbable">
               <ul class="nav nav-tabs" id="layout-tabs">
                  <a id='layout_link' href=""></a>
                  <li id="auto"><a href="#builtin" data-toggle="tab">Auto</a></li>
                  <li id="manual"><a href="#custom" data-toggle="tab">Manual</a></li>
                  {% if uid in crowd_group %}
                  <li id="crowd"><a href="#mturk_pane" data-toggle="tab">Crowd</a></li>
                  {% endif %}
               </ul>
               <div class="tab-content">
                  <div class="tab-pane" id="builtin">
                     <br/>
                     <ul class="nav nav-pills">
                        {% if layout_name == "default_circle" %}
                        <li class="active" id="default_circle"><a id="default_circle" class="layout_buttons">Circle</a></li>
                        {% else %}
                        <li id="lr"><a id="default_circle" class="layout_buttons">Circle</a></li>
                        {% endif %}
                        {% if layout_name == "default_grid" %}
                        <li class="active" id="lt"><a id="default_grid" class="layout_buttons">Grid</a></li>
                        {% else %}
                        <li id="lt"><a id="default_grid" class="layout_buttons">Grid</a></li>
                        {% endif %}
                        {% if layout_name == "default_concentric" %}
                        <li class="active" id="ldf"><a id="default_concentric" class="layout_buttons">Concentric</a></li>
                        {% else %}
                        <li id="ldf"><a id="default_concentric" class="layout_buttons">Concentric</a></li>
                        {% endif %}
                        {% if layout_name == "default_cose" %}
                        <li class="active" id="lt"><a id="default_cose" class="layout_buttons">Spring Embedder</a></li>
                        {% else %}
                        <li id="lt"><a id="default_cose" class="layout_buttons">Spring Embedder</a></li>
                        {% endif %}
                        {% if layout_name == "default_breadthfirst" %}
                        <li class="active" id="lc"><a id="default_breadthfirst" class="layout_buttons">Tree</a></li>
                        {% else %}
                        <li id="lc"><a id="default_breadthfirst" class="layout_buttons">Tree</a></li>
                        {% endif %}
                     </ul>
                  </div>
                  <div class="tab-pane" id="custom">
                     <br/>
                     <div class="tabbable">
                        <ul class="nav nav-pills">
                           <li id="private">
                              <a id="layouts-mine" href="#my_layouts_pane" style="text-align: center;" data-toggle="tab">Private<br>{{my_layouts|length}}</a>
                           </li>
                           <li id="shared">
                              <a id="layouts-shared" href="#shared_layouts_pane" style="text-align: center;" data-toggle="tab">Shared<br>{{shared_layouts|length}}</a>
                           </li>
                        </ul>
                        <br/>
                        <div id="alert-div">
                        </div>
                        <div class="tab-content">
                           <div class="tab-pane" id="my_layouts_pane">
                              {% for o in my_layouts %}
                              {% with layout_urls|add:o.layout_name|add:"&layout_owner="|add:o.owner_id  as url%}
                              {% if o.layout_name == layout_name and o.owner_id == layout_owner%}
                              <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                              {% else %}
                              <a class="list-group-item layout_buttons" href="{{url}}">
                                 {% endif %}
                                 {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                 <button class="btn btn-default layout_links remove" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Delete Layout" value="{{o.layout_name}}" style="float: left;">
                                 <span class="glyphicon glyphicon-remove"></span>
                                 </button>
                                 <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Share layout" style="float: left;">
                                 <span class="glyphicon glyphicon-eye-close"></span>
                                 </button>
                                 <button class="btn btn-default layout_links change" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o.layout_name}}" style="float: left;">
                                 <span class="glyphicon glyphicon-pencil"></span>
                                 </button>
                                 <button class="btn btn-default layout_links highlight" id="{{o.owner_id}}"  value="{{o.layout_name}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                 <span class="glyphicon glyphicon-link"></span>
                                 </button>
                                 <div style="clear: both;"></div>
                              </a>
                              {% endwith %}
                              {% endfor %}
                           </div>
                           <div class="tab-pane" id="shared_layouts_pane">
                              {% for o in shared_layouts %}
                              {% with layout_urls|add:o.layout_name|add:"&layout_owner="|add:o.owner_id  as url%}
                              {% if o.layout_name in my_shared_layouts %}
                              {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                              <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                              {% else %}
                              <a class="list-group-item layout_buttons" href="{{url}}">
                                 {% endif %}
                                 {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                 <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Unshare layout" style="float: left;">
                                 <span class="glyphicon glyphicon-eye-close"></span>
                                 </button>
                                 <button class="btn btn-default layout_links change" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o.layout_name}}" style="float: left;">
                                 <span class="glyphicon glyphicon-pencil"></span>
                                 </button>
                                 <button class="btn btn-default layout_links highlight"  value="{{o.layout_name}}" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                 <span class="glyphicon glyphicon-link"></span>
                                 </button>
                                 {% if uid == owner %}
                                 {% if default_layout_name == None or default_layout_name != o.layout_name %}
                                 <button class="btn btn-default layout_links default" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Set as default layout" value="{{o.layout_name}}" style="float: left;">
                                 <span class="glyphicon glyphicon-bookmark"></span>
                                 </button>
                                 {% elif default_layout_name == o.layout_name %}
                                 <button class="btn btn-default layout_links removeDefault" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o.layout_name}}" style="float: left;">
                                 <span class="glyphicon glyphicon-bookmark"></span>
                                 </button>
                                 {% endif %}
                                 {% endif %}
                                 <div style="clear: both;"></div>
                              </a>
                              {% else %}
                              {% if uid == owner %}
                              {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                              <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                              {% else %}
                              <a class="list-group-item layout_buttons" href="{{url}}">
                              {% endif %}
                              {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                              </button>
                              <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Unshare layout" style="float: left;">
                              <span class="glyphicon glyphicon-eye-close"></span>
                              </button>
                              <button class="btn btn-default layout_links highlight"  value="{{o.layout_name}}" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                              <span class="glyphicon glyphicon-link"></span>
                              </button>
                              {% if uid == owner and default_layout_name == o %}
                              <button class="btn btn-default layout_links removeDefault" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o.layout_name}}" style="float: left;">
                              <span class="glyphicon glyphicon-bookmark"></span>
                              </button>
                              {% else %}
                              <button class="btn btn-default layout_links default" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Set as default layout" value="{{o.layout_name}}" style="float: left;">
                              <span class="glyphicon glyphicon-bookmark"></span>
                              </button>
                              {% endif %}
                              {%else %}
                              {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                              <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                              {% else %}
                              <a class="list-group-item layout_buttons" href="{{url}}">
                                 {% endif %}
                                 {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                 <button class="btn btn-default layout_links highlight" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                 <span class="glyphicon glyphicon-link"></span>
                                 </button>
                                 {% endif %}
                                 <div style="clear: both;"></div>
                              </a>
                              {% endif %}
                              {% endwith %}
                              {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane" id="mturk_pane">
                     {% for o in crowd_layouts %}
                     {% with layout_urls|add:o.layout_name|add:"&layout_owner="|add:o.owner_id  as url%}
                     {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                     <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">{{o.layout_name}}</a>
                     {% else %}
                     <a class="list-group-item layout_buttons" href="{{url}}">{{o.layout_name}}</a>
                     {% endif %}
                     <div style="clear: both;"></div>
                     {% endwith %}
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% if filters != None %}
      <!-- Filters menu -->
      <div id="accordion_filters" class="accordion">
         <h3>Filter nodes and edges<a class="help" href="../../../help/#step_panel" style="float: right; color: #0000FF;">Help</a></h3>
         <div class="accordion_content">
            Current rank
            <input class="form-control" id="input_k" style="width: 4em;" value="0" size="4" maxlength="">
            <br>
            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
            </div>
            <br>
            Maximum rank
            <input class="form-control" id="input_max" value="0" style="width: 4em;" size="4" maxlength="4">
            <br>
            <div id="slider_max" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
            </div>
         </div>
      </div>
      <br>
      <br>
      {% else %}
      <br>
      <br>
      {% endif %}
      {% elif task_view == True or designer_view == True %}
      <script type="text/javascript">
         var task_layout_name = "{{layout_name}}";
         var hit_id = "{{hit_id}}";
      </script>
      {% if uid != None %}
      <p id="loggedIn" style="display:none;">{{uid}}</p>
      {% endif %}
      <div class="btn-group">
         {% if task_view == True %}
         <button title="Learn how to use the application" class="btn btn-default" id="tutorial_start">Start Tour</button>
         <button data-toggle="modal" data-target="#guidelines_modal" title="Show guidelines of how to lay graph" class="btn btn-primary" data-intro="Reveals guidelines to generate acceptable layouts." data-step="2" id="guidelines">Guidelines&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
         <div class="btn-group" style="margin-top: 10px;">
            <button title="Show/add notes for this layout" class="btn btn-default" id="notes" data-intro="Shows any notes for this layout as well as allows user to input their own notes." data-step="3">Notes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button title="Submit this layout for approval" class="btn btn-primary" id="finished" data-intro="Click this when you are finished with the task." data-step="4">Finished Task</button>
         </div>
         <hr>
         {% else %}
            <div class="btn-group">
               <button title="Learn how to use the application" class="btn btn-default" id="tutorial_start">Start Tour</button>
               <button class="btn btn-default" id="researcher_view" data-toggle="modal" data-target="#layout_modal">Exit layout editor</button>
            </div>
         {% endif %}
      </div>
      <h3>Select</h3>
      <div style="text-align: center;" id="selection" class="input-group">
      </div>
      <button title="Unselects all selected nodes" class="btn btn-primary" value="unselect" id="unselect" data-intro="This option unselects all selected nodes." data-step="7">Unselect All Nodes</button><br><br>
      <div class="btn-group">
         <button title="Undo last change" class="btn btn-primary" value="undo" id="undo" data-intro="Undo previous action." data-step="8"><i class="fa fa-mail-reply"></i></button>
         <button title="Redo change" class="btn btn-primary" value="redo" id="redo" data-intro="Redo previous action." data-step="9"><i class="fa fa-mail-forward"></i></button>
      </div>
      <hr>
      <!-- <h3 data-intro="This panel allows for the modification of all selected nodes." data-step="5">Modify</h3>
         <div style="text-align: center;" id="modify" class="input-group">
           <p style='text-align: left;' data-intro="For all selected nodes, this allows you to change the color of those nodes." data-step="6">Modify Color:
               <input type='text' class='basic' id='selectionPalette' value='red' />
           </p>
         
           <div class="dropup" style='text-align: left;' data-intro="For all selected nodes, this allows you to change the shape of those nodes." data-step="7">
             Modify Shape: 
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               Shapes
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
               <li><a data-value="rectangle">Rectangle</a></li>
               <li><a data-value="roundrectangle">Round Rectangle</a></li>
               <li><a data-value="ellipse">Ellipse</a></li>
               <li><a data-value="triangle">Triangle</a></li>
               <li><a data-value="pentagon">Pentagon</a></li>
               <li><a data-value="hexagon">Hexagon</a></li>
               <li><a data-value="heptagon">Heptagon</a></li>
               <li><a data-value="octagon">Octagon</a></li>
               <li><a data-value="star">Star</a></li>
               <li><a data-value="diamond">Diamond</a></li>
               <li><a data-value="vee">Vee</a></li>
               <li><a data-value="rhomboid">Rhomboid</a></li>
             </ul>
           </div>
         </div> -->
      <h3>Arrange</h3>
             <div class="btn-group">
                <button title="Arranges all selected nodes in open circle" data-intro="Arrange all the selected nodes along the periphery of a circle." data-step="10" data-position="top" id="circle_selected" class="btn btn-primary move" value="circle_selected"><i class="fa fa-circle-o"></i></button>
                <button title="Arranges all selected  nodes in dense circle" data-position="top" data-intro="Arrange all selected nodes inside a circle." data-step="11" data-position="top" id="fill_circle_selected" class="btn btn-primary move" value="circle_selected"><i class="fa fa-circle"></i></button>
                <button title="Arranges all selected  nodes in open square" data-position="top" data-intro="Arrange all the selected nodes along the perimeter of a square." data-step="12" data-position="top" id="square_selected" class="btn btn-primary move" value="square_selected"><i class="fa fa-square-o"></i></button>
                <button title="Arranges all selected  nodes in dense square" data-position="top" data-intro="Arrange all selected nodes into a grid." data-step="13" data-position="top" id="grid_selected" class="btn btn-primary move" value="square_selected"><i class="fa fa-square"></i>&nbsp;</button>
             </div>
             <br><br>
             <div class="btn-group">
                <button title="Arranges all selected  nodes in vertical line" data-position="top" data-intro="Arrange all selected nodes along a vertical line." data-step="14" value="vertical" class="btn btn-primary" id="vertical" style="display: block; margin: 0 auto;"><i class="fa-rotate-90 fa fa-minus"></i></button>
                <button title="Arranges all selected  nodes in horizontal line" data-position="top" data-intro="Arrange all selected nodes along a horizontal line." data-step="15" value="horizontal" class="btn btn-primary" id="horizontal" style="display: block; margin: 0 auto;"><i class="fa fa-minus"></i></button>
                <button title="Move all selected  nodes closer to each other" data-position="top" data-intro="Move all selected nodes closer to each other." data-step="16" data-position="top" class="btn btn-primary" style="display: block; margin: 0 auto;" value="squeeze" id="group" ><span class="glyphicon glyphicon-resize-small"></span></button>
                <button title="Move all selected nodes away from each other" data-position="top" data-intro="Move all selected nodes away from each other." data-step="17" value="release" class="btn btn-primary" id="ungroup" style="display: block; margin: 0 auto;"><span class="glyphicon glyphicon-resize-full"></span></button>
             </div>
             <br><br>
             <!-- <div id="moveArrows" >
                <table style="margin: 0 auto;">
                   <tr>
                      <th></th>
                      <th>
                         <button value="upArrow"  data-intro="For all selected nodes, this moves them up." data-step="15" type="button" class="btn btn-default" aria-label="Left Align" id="upArrow" data-position="top">
                         <span class="glyphicon glyphicon-arrow-up"></span>
                         </button>
                      </th>
                      <th></th>
                      <th></th>
                   </tr>
                   <tr>
                      <td>
                         <button value="leftArrow" data-intro="For all selected nodes, this moves them left." data-step="16" type="button" class="btn btn-default" aria-label="Left Align" id="leftArrow" data-position="top">
                         <span class="glyphicon glyphicon-arrow-left"></span>
                         </button>
                      </td>
                      <td></td>
                      <td>
                         <button value="rightArrow" data-intro="For all selected nodes, this moves them right." data-step="17" type="button" class="btn btn-default" aria-label="Left Align" id="rightArrow" data-position="top">
                         <span class="glyphicon glyphicon-arrow-right"></span>
                         </button>
                      </td>
                   </tr>
                   <tr>
                      <td></td>
                      <td>
                         <button value="downArrow" data-intro="For all selected nodes, this moves them down." data-step="18" type="button" class="btn btn-default" aria-label="Left Align" id="downArrow" data-position="top">
                         <span class="glyphicon glyphicon-arrow-down"></span>
                         </button>
                      </td>
                      <td></td>
                   </tr>
                   </tr>
                </table>
         <div style="height: 100px;"></div>
         </div> -->
      </div>
   </div>
   <!-- </div>
      </div> -->
   {% else %}
   <h4>Please rate how well on a scale to 1-5 where 1 is bad and 5 is perfect.</h4>
       <li>How well are the triangles arranged at the top of the graph?</li><br>
       <input class="form-control" id="triangle_rating" style="width: 4em;" value="1" size="5" maxlength="">
      <br>
      <div id="triangle_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
      </div>
       <li>How well are the rectangles arranged at the bottom of the graph?</li><br>
       <input class="form-control" id="rectangle_rating" style="width: 4em;" value="1" size="5" maxlength="">
      <br>
      <div id="rectangle_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
       <li>How well are the nodes with the same shape arranged together?</li><br>
       <input class="form-control" id="shape_rating" style="width: 4em;" value="1" size="5" maxlength="">
      <br>
      <div id="shape_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
      <br>
       <li>How well are the nodes with the same color arranged together?</li><br>
       <input class="form-control" id="color_rating" style="width: 4em;" value="1" size="5" maxlength="">
      <br>
      <div id="color_slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
      <br>
      <btn class="btn btn-primary" id="submitEvaluation">Submit Rating</btn>
   <script type="text/javascript">
      var task_layout_name = "{{layout_name}}";
      var hit_id = "{{hit_id}}";
   </script>
  <!--  <div class="btn-group">
      <btn class="btn btn-primary" id="ApproveLayout">Yes</btn>
      <btn class="btn btn-danger" id="DenyLayout">No</btn>
   </div> -->
   {% endif %}
</div>
<!-- end class = side_menu -->
<p style="z-index=9999;position:fixed; top:40%; left:40%;" data-intro="Welcome to the tour of the layout editor! To leave this tour, please press either the Skip button below or just click anywhere outside this box." data-step='1'></p>
</div>
{% for layout in my_layouts %}
{% if layout.owner_id == layout_owner and layout.layout_name == layout_name %}
<script type="text/javascript">
   $("#builtin").removeClass("active");
   $("#manual").addClass('active');
   $('#custom').addClass('active');
   $("#private").addClass('active');
   $("#my_layouts_pane").addClass("active");
</script>
{% endif %}
{% endfor %}
{% for layout in shared_layouts %}
{% if layout.owner_id == layout_owner and layout.layout_name == layout_name %}
<script type="text/javascript">
   $("#builtin").removeClass("active");
   $("#manual").addClass('active');
   $('#custom').addClass('active');
   $("#shared").addClass('active');
   $("#shared_layouts_pane").addClass("active");
</script>
{% endif %}
{% endfor %}

{% for layout in crowd_layouts %}
{% if layout.owner_id == layout_owner and layout.layout_name == layout_name %}
<script type="text/javascript">
   $("#builtin").removeClass("active");
   $("#manual").removeClass('active');
   $('#custom').removeClass('active');
   $("#shared").removeClass('active');
   $("#shared_layouts_pane").removeClass("active");
   $("#mturk_pane").addClass('active');
   $("#crowd").addClass('active');
</script>
{% endif %}
{% endfor %}
{% endblock %}
{% block css-js-footer %}
<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/spectrum.js' %}"></script>
<link rel="stylesheet" href="{% static 'graphs/css/cytoscape.js-panzoom.css' %}">
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'graphs/font-awesome/css/font-awesome.css' %}">
<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>
<!-- CytoscapeJS API-->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js' %}"></script>
<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js-panzoom.js' %}"></script>
<!-- stylesheet for view_graph page -->
<!-- cytoscape web wrapper for viewing graph -->
<script type="text/javascript" src="{% static 'graphs/js/intro.js' %}"></script> 
<script type="text/javascript" src="{% static 'graphs/js/clock.js' %}"></script> 
<script type="text/javascript" src="{% static 'graphs/js/log.js' %}"></script> 
<script type="text/javascript" src="{% static 'graphs/js/view_graph.js' %}"></script> 
<!-- stylesheet for view_graph page -->
<link rel="stylesheet" href="{% static 'graphs/css/view_graph.css' %}">
<link rel="stylesheet" href="{% static 'graphs/css/intro.css' %}">
<link rel="stylesheet" href="{% static 'graphs/css/spectrum.css' %}">
<!-- stylesheet for side menus -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">
{% if search_result %}
<script>$(document).ready(function() {
   window.cy.on('load', function(){
     window.cy.$("#{{ result_id }}").select(); 
   });
   });
</script>
{% endif %}
{% endblock %}