<!-- sidebar -->
<ul id="legendEditorSideBar" class="sidebar-nav gs-sidebar-nav">
    <li>
        <a id="exitLegendEditorBtn" class="btn btn-xs d-inline-block" href="#" data-target="#defaultSideBar">
            <i class="fa fa-chevron-left"></i> Exit Legend Editor &nbsp;&nbsp;
        </a>
    </li>
    <li>
        <a id="addNodeLegendBtn" class="btn btn-xs d-inline-block" href="#">
           Add Node <br> Legend
        </a>

        <a id="addEdgeLegendBtn" class="btn btn-xs d-inline-block" href="#">
           Add Edge <br> Legend
        </a>
    </li>
<!--     <li>
        <a id="editSelectedLegendBtn" class="btn btn-xs disabled" href="#"
           data-intro="This option lets you edit selected legend."
           data-step="7">
            Edit selected <br> legend
        </a>
    </li> -->
</ul>
