<form id="CreateGroupForm" role="form">
    <div class="control-group">
        <label for="GroupNameInput">Group Name:</label>
        <input id="GroupNameInput" class="form-control" maxlength="32" type="text"
               name="group_name" autocomplete="off" placeholder="Required"/>
    </div>

    <br>

    <div class="control-group">
        <label for="GroupDescriptionInput">Group Description:</label>
        <input id="GroupDescriptionInput" class="form-control" maxlength="200" type="text"
               name="description" autocomplete="off" placeholder="Optional"/>
    </div>

    <br>
    <button id="CreateGroupBtn" class="btn btn-primary gs-full-width">Create Group</button>
</form>