/* For base.html */

/* skeleton of the webpage */
html, body { 
    height: 98%; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    background-color: #eee;
}

/* container for the content to be viewed on the pages 
(Graphs, Groups and Help) */
div.content_container {
	/* should occupy entire page */
	width: 100%;
	height: 100%;
	margin-top: auto;
}

/* content of the pages. This div will house any content
served through GraphSpace */
div.content {
	/* should occupy entire parent div (content_container) */
	width: 100%;
	height: 100%;
    margin-top: 10px;
    padding: 40px 15px;
    visibility: hidden;
}

.footer {
	text-align: center;
}

.center {
   display: block;
    margin-left: auto;
    margin-right: auto
}