.pager {
   padding-top: 0;
   padding-left: 0;
}

.pager .page a {
   border: 3px solid #bbbbbb;
   margin-left: 1px;
   margin-right: 1px;
   padding-left: 4px;
   padding-right: 4px;
   text-decoration: none;
   color: #000000;
}

.pager .current {
   border: 3px solid #444444;
   margin-left: 2px;
   margin-right: 2px;
   padding-left: 2px;
}