{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid zero-padding zero-margin">

        <div class="content">
          <div class="container-fluid">

            <h1 class="padding-top-2 padding-bottom-2">My Profile</h1>

            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><strong>User Identifier</strong></td>
                    <td>{{user.id}}</td>
                  </tr>
                  <tr>
                    <td><strong>Email</strong></td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td><strong>Auth Token</strong></td>
                    <td>{{user.auth_token}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

    </div>
{% endblock %}
