{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid margin-top-4" style="height: auto">
        Networks have become ubiquitous in scientific enquiry. Visualization is a crucial component in their analyses.
        Many websites exist for visualizing networks, but they tend to be specific to the computational algorithm used.
        Standalone packages have limited features for sharing visualizations between collaborators. GraphSpace is an
        easy-to-use web-based platform that collaborating research groups can use for storing, interacting with, and
        sharing networks.

        </p>

        GraphSpace is being developed by <a href="http://bioinformatics.cs.vt.edu/~murali">T. M. Murali</a>'s research
        group in the Department of Computer Science at Virginia Tech.<br/>

        <h3 style="padding-top: 50px; margin-top: -40px;" id="contrib">Contributors</h3>

        <ul>

            <li>Aditya Bharadwaj</li>
            <li>Divit Singh</li>
            <li>Jaeil Yi</li>
            <li>Craig Estep</li>
            <li>Naveed Massjouni</li>
            <li>Anna Ritz</li>
            <li>Allison Tegge</li>
            <li>T. M. Murali</li>

        </ul>

        <h3 style="padding-top: 50px; margin-top: -40px;" id="lib">Libraries</h3>

        GraphSpace uses the following software:<br/>


        <ul>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="http://js.cytoscape.org/">Cytoscape JS</a></li>
            <li><a href="https://jquery.org/">jQuery</a> and <a href="http://jqueryui.com/">jQuery UI</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>

        </ul>

        <h3 style="padding-top: 50px; margin-top: -40px;" id="lib">How to Cite GraphSpace</h3>
            If you use GraphSpace in your research, please cite the following paper:<br/>
            <a href="https://academic.oup.com/bioinformatics/article/33/19/3134/3867143">GraphSpace: Stimulating Interdisciplinary Collaborations in Network Biology, </a>
            Aditya Bharadwaj, Divit P. Singh, Anna Ritz, Allison N. Tegge, Christopher L. Poirel, Pavel Kraikivski, Neil Adames, Kurt Luther, Shiv D. Kale, Jean Peccoud, John J. Tyson, and T. M. Murali, Bioinformatics, 13 (19), 3134-3136, 2017


    </div>

{% endblock %}
