<div class="modal fade" id="addDiscussionForm" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addModalLabel" style="text-align: center;"><b>Create new discussion</b></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Topic" class="col-form-label">Topic:</label>
            <input type="text" class="form-control" id="DiscussionTopicInput">
          </div>
          <div class="form-group">
            <label for="Comment" class="col-form-label">Description</label>
            <textarea class="form-control" id="DiscussionDescriptionInput"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id ="CreateDiscussionBtn"class="btn btn-success pull-left">Create Discussion</button>
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>