<div class="modal fade" id="DeleteDiscussionModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteDiscussionModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModal">Delete</h4>
            </div>
            <div class="modal-body">

                <h4>Are you sure you want to Delete this Discussion?</h4>
                <br/>
                <button type="button" id="ConfirmRemoveGroupToDiscussionBtn" class="btn btn-success">
                    Delete 
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>