<div class="modal fade" id="deleteGroupToGraphModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteGroupModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModal">Confirm Unshare</h4>
            </div>
            <div class="modal-body">

                <h4>Are you sure you want to unshare this graph?</h4>
                <br/>
                <button type="button" id="ConfirmRemoveGroupToGraphBtn" class="btn btn-success">
                    Unshare Graph
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>