{% extends 'base.html' %}
{% block content %}

<div class="container graphs">
<h1>GraphSpace Features</h1>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;">Interactive graphs</h3>
<ul>
	<li>Upload and <a href="{{url}}/graphs">view</a> interactive graphs via <a href="{{url}}help/programmers">REST API</a> or <a href="{{url}}graphs/upload">User Interface</a></li>
	<li>Save and customize <a href="{{url}}help/#layout_panel">layouts</a> of graphs</li>
	<li><a href="{{url}}help/#search_panel">Search</a> for elements inside of graphs</li>
	<li>Sequentially <a href="{{url}}help/##step_panel">step through subgraphs</a> of the entire graph</li>
</ul>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;">Share graphs with collaborators</h3>
<ul>
	<li><a href="{{url}}help#sharing_graphs">Share graphs</a> between all members of a <a href="{{url}}help#groups">group</a></li>
	<li>Interact and manipulate other <a href="{{url}}help#groups">group members'</a> graphs</li>
	<li><a href="{{url}}help#sharing_layouts">Create and save layouts</a> for group members' graphs</li>
</ul>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;">Organization of graphs</h3>
<ul>
	<li><a href="{{url}}help#tags">Tags</a> allow for organizing multiple graphs</li>
	<li>Quickly <a href="{{url}}help/programmers/#tags">search</a> for all graphs that match tag</li>
</ul>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;">REST API</h3>
<ul>
	<li><a href="{{url}}help/programmers">Programmatically</a> communicate with GraphSpace</li>
	<li><a href="{{url}}help/programmers/#graphs">Manage graphs</a> and faciliate graph <a href="{{url}}help/programmers/#add_graph">uploads</a></li>
	<li>Allows one to easily create scripts to interact with features of GraphSpace</li>
</ul>
</div>
<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">CytoscapeJS 2.4.0</a>
</footer>
{% endblock %}