{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container graphs">
    
    <div class="row">
        <div class="col-xs-6 col-sm-9">
            <div class="graph_links">                
                {% if uid != None %}
                    {% if search_word %}
                        {% if tags %}
                            {% url 'graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word|add:"&tags="|add:tags as final_url %}
                                {% if view_type == 'my graphs' %}
                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">My Graphs<br>{{ my_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">My Graphs<br>{{ my_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'shared_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word|add:"&tags="|add:tags as final_url %}
                                {% if view_type == 'shared' %}
                                   <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word|add:"&tags="|add:tags as final_url %}
                                {% if view_type == "public" %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            {% url 'graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word as final_url %}
                                {% if view_type == 'my graphs' %}

                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">My Graphs<br>{{ my_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">My Graphs<br>{{ my_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'shared_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word as final_url %}
                                {% if view_type == 'shared' %}
                                   <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word as final_url %}
                                {% if view_type == 'public' %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        {% if tags %}
                            {% url 'graphs' as the_url %}
                            {% with the_url|add:"?tags="|add:tags as final_url %}
                                {% if view_type == 'my graphs' %}
                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">My Graphs<br>{{ my_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">My Graphs<br>{{ my_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'shared_graphs' as the_url %}
                            {% with the_url|add:"?tags="|add:tags as final_url %}
                                {% if view_type == 'shared' %}
                                   <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Shared with me<br>{{ shared_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?tags="|add:tags as final_url %}
                                {% if view_type == 'public' %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-default">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% else %}
                                    <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            {% if view_type == 'my graphs' %}
                                <a style='color:white' href="{% url 'graphs' %}"><button class="btn btn-default">My Graphs<br>{{ my_graphs }}</button></a>
                            {% else %}
                                <a style='color:white' href="{% url 'graphs' %}"><button class="btn btn-primary">My Graphs<br>{{ my_graphs }}</button></a>
                            {% endif %}
                            {% if view_type == 'shared' %}
                                <a style='color:white' href="{% url 'shared_graphs' %}"><button class="btn btn-default">Shared with me<br>{{ shared_graphs }}</button></a>
                            {% else %}
                                <a style='color:white' href="{% url 'shared_graphs' %}"><button class="btn btn-primary">Shared with me<br>{{ shared_graphs }}</button></a>
                            {% endif %}
                            {% if view_type == 'public' %}
                                <a style='color:white' href="{% url 'public_graphs' %}"><button class="btn btn-default">Public Graphs<br>{{ public_graphs }}</button></a>
                            {% else %}
                                <a style='color:white' href="{% url 'public_graphs' %}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                            {% endif %}
                            <!-- All Graphs is for admin mode. Specific functionality to be added. -->
                            {% if admin == 1 %}
                                {% if view_type == 'all' %}
                                    <a style='color:white' href="{% url 'all_graphs' %}"><button class="btn btn-default">All Graphs</button></a>
                                {% else %}
                                    <a style='color:white' href="{% url 'all_graphs' %}"><button class="btn btn-primary">All Graphs</button></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if search_word %}
                        {% if tags %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word|add:"&tags="|add:tags as final_url %}
                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                            {% endwith %}
                        {% else %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?search="|add:search_word as final_url %}
                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        {% if tags %}
                            {% url 'public_graphs' as the_url %}
                            {% with the_url|add:"?tags="|add:tags as final_url %}
                                <a style='color:white' href="{{ final_url }}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                            {% endwith %}
                        {% else %}
                            <a style='color:white' href="{% url 'public_graphs' %}"><button class="btn btn-primary">Public Graphs<br>{{ public_graphs }}</button></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            {% if page_numbers|length > 1 %}
                <div class="pagination pagination-centered">
                    {% if graph_list != None and graph_list|length > 0%}
                        {% if has_previous %}
                            {% if search_word and tags%}
                                <li><a href="?page={{ previous_page_number }}&search={{ search_word }}&tags={{ tags}}">&lt; Prev</a></li>
                            {% elif search_word %}
                                <li><a href="?page={{ previous_page_number }}&search={{ search_word }}">&lt; Prev</a></li>
                            {% elif tags %}
                                <li><a href="?page={{ previous_page_number }}&tags={{ tags}}">&lt; Prev</a></li>
                            {% else %}
                                <li><a href="?page={{ previous_page_number }}">&lt; Prev</a></li>
                            {% endif %}
                        {% endif %}

                        {% if search_word %}
                            {% for p in page_numbers %}
                                {% if tags != None %}
                                    {% if p == current_page.number %}
                                       <li class='active'><a href="{% url 'graphs' %}?search={{ search_word }}&tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                                    {% else %}
                                        <li><a href="?search={{ search_word }}&tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if p == current_page.number %}
                                       <li class='active'><a href="{% url 'graphs' %}?search={{ search_word }}&page={{ p }}">{{ p }}</a></li>
                                    {% else %}
                                        <li><a href="?search={{ search_word }}&page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                <li><a href="?search={{ search_word }}&page={{ next_page_number }}">Next &gt;</a></li> 
                            {% endif %}
                        {% elif tags != None %}
                            {% for p in page_numbers %}
                                {% if p == current_page.number %}
                                   <li class='active'><a href="{% url 'graphs' %}?tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                <li><a href="?search={{ search_word }}&page={{ next_page_number }}">Next &gt;</a></li> 
                            {% endif %}
                        {% else %}
                           {% for p in page_numbers %}
                                {% if p == current_page.number %}
                                   <li class='active'><a href="{% url 'graphs' %}?page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                {% if search_word and tags%}
                                    <li><a href="?page={{ next_page_number }}&search={{ search_word }}&tags={{ tags}}">Next &gt;</a></li>
                                {% elif search_word %}
                                    <li><a href="?page={{ next_page_number }}&search={{ search_word }}">Next &gt;</a></li>
                                {% elif tags %}
                                    <li><a href="?page={{ next_page_number }}&tags={{ tags}}">Next &gt;</a></li>
                                {% else %}
                                    <li><a href="?page={{ next_page_number }}">Next &gt;</a></li>
                                {% endif %}
                            {% endif %}
                        {% endif %}                        
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

<!-- list of graphs from database displayed in table form -->
<div class="row">
    <div class="col-sm-9">
        <div class="results_table">
        <table class='table table-hover' style='table-layout:fixed;overflow:hidden;word-wrap:break-word;'>
        {% if graph_list != None and graph_list|length > 0 %}
                {% if current_page != None %}
                <tr>
                    <th>
                      <button id="order_graphs_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Graph ID ascending">
                        <span id="order_graphs_icon" class="glyphicon glyphicon-sort"></span>
                      </button>
                      <span>Graph ID</span>
                    </th>
                    <th>Tags</th>
                    {% if search_result %}
                        <th>Node ID(Labels)</th>
                    {% endif %}
                    <th>
                      <button id="order_modified_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Modified ascending">
                        <span id="order_modified_icon" class="glyphicon glyphicon-sort"></span>
                      </button>
                      <span>Modified</span>
                    </th>                    
                    <th>
                      <button id="order_owner_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Owner ascending">
                        <span id="order_owner_icon" class="glyphicon glyphicon-sort"></span>
                      </button>
                      <span>Owner</span>
                    </th>  
                    <th>Visibility</th>
                </tr>
                {% for g in current_page %}
                <tr> 
                    <!-- If there is a search term or a tag term -->
                    {% if search_result %}
                        {% with url|add:"graphs/"|add:g.5|add:"/"|add:g.0|add:"/?search="|add:g.3 as final_url %}
                            <td><div class="test"><a href="{{final_url}}">{{ g.0 }}</a></div></td>
                        {%endwith %}
                        <td><div class="test">
                            {% for tag in g.1 %}
                                <p><a class='tag_links' id='{{tag}}'>{{tag}}</a></p>
                            {% endfor %}</div>
                        </td>
                        <td><div class="test">{{ g.2 }}</div></td>
                        <td><div class="test">{{ g.4 }}</div></td>
                        <td><div class="test">{{ g.5 }}</div></td>
                        {% if g.6 == 1 %}
                            <td><div class="test">Public</div></td>
                        {% else %}
                            <td><div class="test">Private</div></td>
                        {% endif %} 
                </tr>
                    {% else %}
                        <td><div class="test"><a href="{% url 'view_graph' uid=g.3 gid=g.0 %}">{{ g.0 }}</a></div></td>
                        <td><div class="test">
                                {% for tag in g.1 %}
                                     {% with url|add:"graphs/"|add:"?tags="|add:tag as url %}
                                         <p><a class='tag_links' id='{{tag}}'>{{tag}}</a></p>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </td>
                        <td><div class="test">{{ g.2 }}</div></td>
                        <td><div class="test">{{ g.3 }}</div></td>
                        {% if g.4 == 1 %}
                            <td><div class="test">Public</div></td>
                        {% else %}
                            <td><div class="test">Private</div></td>
                        {% endif %}
                </tr>
                    {% endif %}                   
                {% endfor %}
                {% endif %}            
        {% else %}
            <p>{% autoescape off %}{{ message }}{% endautoescape %}</p>
        {% endif %}
        </table>
        </div> <!-- end results_table -->
    </div>

    <div class="col-xs-6 col-sm-3 side">
    {% if page_numbers|length > 1 %}
        <div id="search_box_panel_accordion" class="panel-group" style="margin-top: -161px;">
    {% else %}
        <div id="search_box_panel_accordion" class="panel-group" style="margin-top: -70px;">
    {% endif %}
              <div id="search_box_panel" class="panel panel-default">
                <div class="panel-heading" class=accordion-toggle data-toggle="collapse" data-parent="#search_box_panel_accordion" href="#collapse_search_box">
                  <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#search_box_panel_accordion" href="#collapse_search_box">Search</a></h3>
                </div>
                <div class="panel-collapse collapse in" id="collapse_search_box">
                <div class="panel-body">
                  <form method="get" role="form">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." id="searching">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="search_button" type="submit">Search</button>
                        </span>
                    </div>
                  </form><br><br>
                  <div id="search_tips" class="alert alert-info alert-dismissable" style="">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Search tips:</strong><br>
                    <ul>   
                      <li>Graphs returned match all search terms</li>
                      <li>Search for graphs, nodes, and edges.</li>
                      <li>Edge searching syntax - head:tail</li>
                      <li>Edge searching example: Example: AKT1:JUN</li>
                    </ul>
                  </div>
                   <!-- <ul class="nav nav-pills">
                    {% if search_word %}
                        {% for term in search_word_terms %}
                        <li><a class='search' href="{{ base_url }}" id='{{ term }}'>Clear Search for "{{ term }}"</a></li>
                        {% endfor %}
                    {% endif %}
                  </ul> -->
                  <br/>
                </div>
              </div>
            </div>
            </div>
            <br> <br>
    <div id="tag_panel_accordion" class="panel-group">
      <div id="tag_panel" class="panel panel-default">
        <div class="panel-heading" class=accordion-toggle data-toggle="collapse" data-parent="#tag_panel_accordion" href="#collapse_tags">
          <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#tag_panel_accordion" href="#collapse_tags">Tags</a></h3>
        </div>
        <div class="panel-collapse collapse in" id="collapse_tags">
          <div class="panel-body">
            <p id="tag_content"></p>
                <form method="get" role="form"> 


                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Tags" id="tags_searching">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="tags_button" type="submit">Search</button>
                        </span>
                    </div>
                </form>
                <!-- <ul class="nav nav-pills">
                    {% if tags %}
                        {% for term in tag_terms %}
                          <li><a class='tags' href="{{ base_url }}" id='{{ term }}'>Clear Search for "{{ term }}"</a></li>
                        {% endfor %}
                    {% endif %}
                  </ul> -->
                {% for tag in all_tags %}
                    {% with base_url|add:"?tags="|add:tag as tag_url %}
                    <button class="btn btn-default tag_links" id="{{tag}}" style="margin: 2px;">{{ tag }}</button>
                    {% endwith %}
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>

</div> <!-- end graphs_container -->
</div>
<!-- </div> -->
{% endblock %} <!-- end content block -->

{% block css-js-footer %}
<!-- load javascripts -->
<!-- javascript for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/graphs.js' %}"></script>

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- load stylesheets -->
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- stylesheet for pager -->
<link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

<!-- stylesheet for elements specified in this html(graphs.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

<!-- stylesheet for side menues -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}