{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<!-- <div class="graphs_container">
 -->
<div class="container graphs">
    
    <div class="row">
        <div class="col-xs-6 col-sm-9">
            <div class="graph_links">
                {% if search_word %}
                <ul class="nav nav-pills">
                    <li><a href="{{ base_url }}">Clear Search for "{{ search_word}}"</a></li>    
                </ul>
                {% endif %}
                {% if tags %}
                    <ul class="nav nav-pills">
                        <li><a href="{{ base_url }}">Clear Search for "{{ tags}}"</a></li>    
                    </ul>
                {% endif %}
                {% if uid != None %}
                    <button class="btn btn-primary"><a style='color:white' href="{% url 'graphs' %}">My Graphs</a></button>
                    <button class="btn btn-primary"><a style='color:white' href="{% url 'shared_graphs' %}">Shared with me</a></button>
                    <button class="btn btn-primary"><a style='color:white' href="{% url 'public_graphs' %}">Public Graphs</a></button>
                    <!-- All Graphs is for admin mode. Specific functionality to be added. -->
                    {% if admin == 1 %}
                    <button class="btn btn-primary"><a style='color:white' href="{% url 'all_graphs' %}">All Graphs</a></button>
                    {% endif %}
                {% else %}
                <!-- A user is not logged in. display a link for public graphs -->
                <button class="btn btn-primary"><a style='color:white' href="{% url 'public_graphs' %}">Public Graphs</a></button>
                {% endif %}
            </div>

            <div class="pagination pagination-centered">
                    {% if graph_list != None %}
                        {% if has_previous %}
                            <li><a href="?page={{ previous_page_number }}">&lt; Prev</a></li>
                        {% else %}
                            <li><a href="?page=1">Prev</a></li>
                        {% endif %}
                        {% if show_first %}
                            <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if search_word %}
                            {% for p in page_numbers %}
                                {% if p == current_page.number %}
                                   <li class='active'><a href="{% url 'graphs' %}?search={{ search_word }}&page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                <li><a href="?page={{ next_page_number }}">Next &gt;</a></li> 
                            {% endif %}
                        {% elif tags != None %}
                            {% for p in page_numbers %}
                                {% if p == current_page.number %}
                                   <li class='active'><a href="{% url 'graphs' %}?tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                <li><a href="?page={{ next_page_number }}">Next &gt;</a></li> 
                            {% endif %}
                        {% else %}
                           {% for p in page_numbers %}
                                {% if p == current_page.number %}
                                   <li class='active'><a href="{% url 'graphs' %}?page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if has_next %}
                                <li><a href="?page={{ next_page_number }}">Next &gt;</a></li> 
                            {% endif %}
                        {% endif %}

                    {% endif %}
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 side" id="sidebar">
            <div id="search_box_panel_accordion" class="panel-group">
              <div id="search_box_panel" class="panel panel-default">
                <div class="panel-heading" class=accordion-toggle data-toggle="collapse" data-parent="#search_box_panel_accordion" href="#collapse_search_box">
                  <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#search_box_panel_accordion" href="#collapse_search_box">Search</a></h3>
                </div>
                <div class="panel-collapse collapse in" id="collapse_search_box">
                <div class="panel-body">
                  <form method="get" role="form">
                     <div class="input-group">
                        {{ search_form }}
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">Search</button>
                        </span>
                    </div>
                  </form>
                  <br/>
                </div>
              </div>
            </div>
            </div>
        </div>

    </div>

<!-- pagination of list of graphs.
     See util/paginator.py for details. -->
<!-- <div class="pager">
    {% if graph_list != None %}
    {% if has_previous %}
    <span class="page">
        <a href="?page={{ previous_page_number }}">&lt; Prev</a>
    </span>
    {% endif %}
    
    {% if show_first %}
        <span class="page"><a href="?page=1">1</a></span>
        <span class="ellipsis">...</span>
    {% endif %}

    {% for p in page_numbers %}
        {% if p == current_page.number %}
            <span class="current">{{ current_page.number }}</span>
        {% else %}
            <span class="page"><a href="?page={{ p }}">{{ p }}</a></span>
        {% endif %}
    {% endfor %}
    
    {% if show_last %}
        <span class="ellipsis">...</span>
        <span class="page"><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></span>
    {% endif %}

    {% if has_next %}
        <span class="page"><a href="?page={{ next_page_number }}">Next &gt;</a></span> 
    {% endif %}
    {% endif %}
</div> -->

<!-- list of graphs from database displayed in table form -->
<div class="row">
    <div class="col-xs-9 col-sm-9">
        <div class="results_table">
        <table class='table table-hover'>
        {% if graph_list != None %}
            <!-- list search results -->
            {% if search_result %}
                {% if current_page != None %}
                <tr>
                    <td>Graph ID</td>
                    <!-- <td>Tags</td> -->
                    <td>User ID</td>
                    <td>Node ID</td>
                    <td>Node Label</td>
                </tr>
                {% for g in current_page %}
                <tr> 
                    <td><a href="{% url 'view_graph' uid=g.1 gid=g.0 %}">{{ g.0 }}</a></td>
                    <!-- <td></td> -->
                    <td>{{ g.1 }}</td>
                    <td>{{ g.2 }}</td>
                    <td>{{ g.3 }}</td>
                </tr>
                {% endfor %}
                {% endif %}

            <!-- list graphs -->
            {% else %}
                {% if current_page != None %}
                <tr>
                    <th>Graph ID</th>
                    <th>Tags</th>
                    <th>Modified</th>
                    <th>Owner</th>
                    <th>Visibility</th>
                </tr>
                {% for g in current_page %}
                <tr> 
                    <td><a href="{% url 'view_graph' uid=g.3 gid=g.0 %}">{{ g.0 }}</a></td>
                    <td>
                        {% for tag in g.1 %}
                             {% with "http://localhost:8000/graphs/"|add:"?tags="|add:tag as url %}
                                <a href={{url}}>{{ tag }}</a>
                            {% endwith %}

                        {% endfor %}
                    </td>
                    <td>{{ g.2 }}</td>
                    <td>{{ g.3 }}</td>
                    {% if g.4 == 1 %}
                    <td>Public</td>
                    {% else %}
                    <td>Private</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
            {% endif %}
        {% else %}
            <p>No graphs to list</p>
        {% endif %}
        </table>
        </div> <!-- end results_table -->
    </div>

    <div class="col-xs-9 col-sm-3 side">

    <div id="tag_panel_accordion" class="panel-group">
      <div id="tag_panel" class="panel panel-default">
        <div class="panel-heading" class=accordion-toggle data-toggle="collapse" data-parent="#tag_panel_accordion" href="#collapse_tags">
          <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#tag_panel_accordion" href="#collapse_tags">Tags</a></h3>
        </div>
        <div class="panel-collapse collapse in" id="collapse_tags">
          <div class="panel-body">
            <p id="tag_content"></p>
                <form method="get" role="form"> 
                    <div class="form-group">
                        <input class="form-control" type="text" name="tags" placeholder="Enter tag">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </form>
                {% for tag in all_tags %}
                    {% with base_url|add:"?tags="|add:tag as tag_url %}
                    <button class="btn btn-success" style="margin: 2px;"><a href="{{tag_url}}" style="color: white;">{{ tag }}</a></button>
                    {% endwith %}
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>

</div> <!-- end graphs_container -->
</div>
<!-- </div> -->
{% endblock %} <!-- end content block -->

{% block css-js-footer %}
<!-- load javascripts -->
<!-- javascript for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/graphs.js' %}"></script>

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- load stylesheets -->
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- stylesheet for pager -->
<link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

<!-- stylesheet for elements specified in this html(graphs.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

<!-- stylesheet for side menues -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}