{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<link href={% static "graphs/css/pager.css" %} rel="stylesheet">
<link href={% static "graphs/css/graphs.css" %} rel="stylesheet">

<div class="container graphs">

{% if uid != None %}
<div class="graph_links">
    <a style='color:white' href="{% url 'groups' %}"><button class="btn btn-primary">Owner of<br>{{my_groups}}</button></a>
    <a style='color:white' href="{% url 'groups_member' %}"><button class="btn btn-primary">Member of<br>{{member_groups}}</button></a>
    {% if admin == 1 %}
        <button class="btn btn-primary"><a style='color:white' href="{% url 'all_groups' %}">All Groups<br>{{all_groups}}</a></button>
    {% endif %}
</div>
<br>
<!-- <button id="group_modal" data-toggle="modal" data-target="#groupModal" class="btn btn-default">Create Group</button> -->
<p id="username" style="display: none;">{{uid}}</p>
<!-- Create Modal -->
    <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Create Group</h4>
          </div>
          <div class="modal-body">

            <form id="group_form" class="register_form" role="form">
                <div class="register_fields">
                    <div class="control-group">
                        <label for="group_name">Group Name:</label>
                        <input id="group_name" class="form-control" maxlength="32" type="text" name="group_name" autocomplete="off"/>
                    </div>
                </div>
                <br>
                <button name="create_group" id="create_group" class="btn btn-default">Create Group</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endif %}

<hr> <!-- temporary divider -->

<!-- pagination of list of groups. based on: http://www.tummy.com/articles/django-pagination/ -->
<div class="pager">
    {% if graph_list != None %}
    {% if has_previous %}
    <span class="page">
        <a href="?page={{ previous_page_number }}">&lt; Prev</a>
    </span>
    {% endif %}
    
    {% if show_first %}
        <span class="page"><a href="?page=1">1</a></span>
        <span class="ellipsis">...</span>
    {% endif %}

    {% for p in page_numbers %}
        {% if p == current_page.number %}
            <span class="current">{{ current_page.number }}</span>
        {% else %}
            <span class="page"><a href="?page={{ p }}">{{ p }}</a></span>
        {% endif %}
    {% endfor %}
    
    {% if show_last %}
        <span class="ellipsis">...</span>
        <span class="page"><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></span>
    {% endif %}

    {% if has_next %}
        <span class="page"><a href="?page={{ next_page_number }}">Next &gt;</a></span> 
    {% endif %}
    {% endif %}
</div>

<table class="table table-hover">

{% if group_list != None %}
{% if current_page != None %}
    <tr>
        <th>Group ID</th>
        <th>Description</th>
        <th>Owner</th>
        <td>Graphs</td>
        <th>Visibility</th>
        <th>Listed</th>
        <th></th>
    </tr>
{% for g in current_page %}
    <tr> 
        <td><a href="{% url 'graphs_in_group' group_id=g.6%}">{{g.0}}</a></td>
        <td>{{ g.1 }}</td>
        <td>{{ g.2 }}</td>
        <td>{{ g.3 }}</td>
        {% if g.4 == 1 %}
        <td>Public</td>
        {% else %}
        <td>Private</td>
        {% endif %}
        {% if g.5 == 1 %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
       <!--  {% if g.2 == uid %}
            <td><button class="btn btn-default delete" id="{{ g.0 }}_{{ g.2 }}">Delete</button></td>
        {% else %}
            <td><button class="btn btn-default remove" id="{{ g.0 }}_{{ g.2 }}">Unfollow group</button></td>
        {% endif %} -->
    </tr>
{% endfor %}
{% endif %}
{% else %}
    <p>No groups to list.</p>
{% endif %}
</table>
</div>
{% endblock %}

{% block css-js-footer %}
<!-- load javascripts -->
<!-- javascript for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/groups.js' %}"></script>

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- load stylesheets -->
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- stylesheet for pager -->
<link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

<!-- stylesheet for elements specified in this html(graphs.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

<!-- stylesheet for side menues -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}