{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<link href={% static "graphs/css/pager.css" %} rel="stylesheet">
<link href={% static "graphs/css/graphs.css" %} rel="stylesheet">
<script type="text/javascript" src="{% static 'graphs/js/groups.js' %}"></script>

<div class="container graphs">

{% if uid != None %}
<div class="graph_links">
    {% if view_type == 'member' %}
        <a style='color:white' href="{% url 'groups' %}"><button class="btn btn-primary">Owner of<br>{{my_groups}}</button></a>
        <a style='color:white' href="{% url 'groups_member' %}"><button class="btn btn-default">Member of<br>{{member_groups}}</button></a>
    {% elif view_type == 'owner of' %}
        <a style='color:white' href="{% url 'groups' %}"><button class="btn btn-default">Owner of<br>{{my_groups}}</button></a>
        <a style='color:white' href="{% url 'groups_member' %}"><button class="btn btn-primary">Member of<br>{{member_groups}}</button></a>
    {% endif %}
    {% if admin == 1 %}
        <button class="btn btn-primary"><a style='color:white' href="{% url 'all_groups' %}">All Groups<br>{{all_groups}}</a></button>
    {% endif %}
</div>
<br>
{% if page_numbers|length > 1 %}
          <div class="pagination pagination-centered" style="margin-top: 0px;">
              {% if group_list != None and group_list|length > 0%}
                  {% if has_previous %}
                      {% if search_word and tags%}
                          <li><a href="?page={{ previous_page_number }}&search={{ search_word }}&tags={{ tags}}">&lt; Prev</a></li>
                      {% elif search_word %}
                          <li><a href="?page={{ previous_page_number }}&search={{ search_word }}">&lt; Prev</a></li>
                      {% elif tags %}
                          <li><a href="?page={{ previous_page_number }}&tags={{ tags}}">&lt; Prev</a></li>
                      {% else %}
                          <li><a href="?page={{ previous_page_number }}">&lt; Prev</a></li>
                      {% endif %}
                  {% endif %}

                  {% if search_word %}
                      {% for p in page_numbers %}
                          {% if tags != None %}
                              {% if p == current_page.number %}
                                 <li class='active'><a href="{% url 'graphs' %}?search={{ search_word }}&tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                              {% else %}
                                  <li><a href="?search={{ search_word }}&tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                              {% endif %}
                          {% else %}
                              {% if p == current_page.number %}
                                 <li class='active'><a href="{% url 'graphs' %}?search={{ search_word }}&page={{ p }}">{{ p }}</a></li>
                              {% else %}
                                  <li><a href="?search={{ search_word }}&page={{ p }}">{{ p }}</a></li>
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                      {% if has_next %}
                          <li><a href="?search={{ search_word }}&page={{ next_page_number }}">Next &gt;</a></li> 
                      {% endif %}
                  {% elif tags != None %}
                      {% for p in page_numbers %}
                          {% if p == current_page.number %}
                             <li class='active'><a href="{% url 'graphs' %}?tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                          {% else %}
                              <li><a href="?tags={{ tags }}&page={{ p }}">{{ p }}</a></li>
                          {% endif %}
                      {% endfor %}
                      {% if has_next %}
                          <li><a href="?search={{ search_word }}&page={{ next_page_number }}">Next</a></li> 
                      {% endif %}
                  {% else %}
                     {% for p in page_numbers %}
                          {% if p == current_page.number %}
                             <li class='active'><a href="{% url 'graphs' %}?page={{ p }}">{{ p }}</a></li>
                          {% else %}
                              <li><a href="?page={{ p }}">{{ p }}</a></li>
                          {% endif %}
                      {% endfor %}
                      {% if has_next %}
                          {% if search_word and tags%}
                              <li><a href="?page={{ next_page_number }}&search={{ search_word }}&tags={{ tags}}">Next &gt;</a></li>
                          {% elif search_word %}
                              <li><a href="?page={{ next_page_number }}&search={{ search_word }}">Next &gt;</a></li>
                          {% elif tags %}
                              <li><a href="?page={{ next_page_number }}&tags={{ tags}}">Next &gt;</a></li>
                          {% else %}
                              <li><a href="?page={{ next_page_number }}">Next &gt;</a></li>
                          {% endif %}
                      {% endif %}
                  {% endif %}                        
              {% endif %}
    </div>
{% endif %}
<br>
<button id="group_modal" data-toggle="modal" data-target="#groupModal" class="btn btn-default">Create Group</button>
<p id="username" style="display: none;">{{uid}}</p>

<!-- Create Modal -->
    <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Create Group</h4>
          </div>
          <div class="modal-body">

            <form id="group_form" class="register_form" role="form">
                <div class="register_fields">
                    <div class="control-group">
                        <label for="group_name">Group Name:</label>
                        <input id="group_name" class="form-control" maxlength="32" type="text" name="group_name" autocomplete="off"/>
                    </div>
                </div>
                <br>
                <button name="create_group" id="create_group" class="btn btn-default">Create Group</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endif %}

<table class="table table-hover" style='margin-top: 15px;'>

{% if group_list != None %}
{% if current_page != None %}
    <tr>
        <th>
          <button id="order_groups_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Group ID descending">
            <span id="order_groups_icon" class="glyphicon glyphicon-sort"></span>
          </button>
          <span>Group ID</span>
        </th>
        <th>Description</th>
        <th>
          <button id="order_owner_btn" class="btn btn-default order" rel="tooltip" data-toggle="tooltip" title="Sort by Group ID asscending">
            <span id="order_owner_icon" class="glyphicon glyphicon-sort"></span>
          </button>
          <span>Owner</span>
        </th>
        <th># of Graphs</th>
        <th></th>
    </tr>
{% for g in current_page %}
    <tr> 
        <td><a href="{% url 'graphs_in_group' group_owner=g.2 group_id=g.6%}">{{g.0}}</a></td>
        <td>{{ g.1 }}</td>
        <td>{{ g.2 }}</td>
        <td>{{ g.3 }}</td>
        {% if g.2 == uid %}
            <td><button class="btn btn-default delete" id="{{ g.6 }}concat_val_buffer{{ g.2 }}">Delete</button></td>
        {% else %}
            <td><button class="btn btn-default remove" id="{{ g.6 }}concat_val_buffer{{ g.2 }}">Unfollow group</button></td>
        {% endif %}
    </tr>
{% endfor %}
{% endif %}
{% else %}
    <p>{{message}}</p>
{% endif %}
</table>
</div>
<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">CytoscapeJS</a>
</footer>
{% endblock %}

{% block css-js-footer %}
<!-- load javascripts -->
<!-- javascript for side menu -->

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- load stylesheets -->
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- stylesheet for pager -->
<link href="{% static 'graphs/css/pager.css' %}" rel="stylesheet">

<!-- stylesheet for elements specified in this html(graphs.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/graphs.css' %}">

<!-- stylesheet for side menues -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% endblock %}