{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help' %}" style="text-align:center">Getting started</a></li>
    <li><a href="{% url 'help_tutorials' %}" style="text-align:center">Tutorials</a></li>
    <li><a href="{% url 'help_graphs' %}" style="text-align:center">Graphs</a></li>
    <li><a href="{% url 'help_restapi' %}" style="text-align:center">REST API</a></li>
    <li class="active"><a href="{% url 'help_jsonref' %}" style="text-align:center">JSON Reference</a></li>
    <li><a href="{% url 'help_about' %}" style="text-align:center">About</a></li>
  </ul>
<hr>

 For a detailed description of the JSON structure for graphs, please see the <a href="http://cytoscapeweb.cytoscape.org/documentation/elements">Cytoscape Web API</a>.

Below is a reference for the different JSON attributes a graph can have.

<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <td> Description </td> </tr>
  </thead>
  <tbody>
    <tr> <td> metadata </td> <td> object </td> <td> Container for the graph details html. </td> </tr>
    <tr> <td> layout    </td> <td> string  </td> <td> The layout style for the graph. </td> </tr>
    <tr> <td> tags </td> <td> array    </td> <td> The initial tags to add when the graph is uploaded. </td> </tr>
    <tr> <td> data </td> <td> object </td> <td> The node and edge data of the graph. </td> </tr>
  </tbody>
</table>

Below are the most common attributes that nodes and edges can have. For a more complete list, see the Cytoscape Web documentation for 
<a href="http://cytoscapeweb.cytoscape.org/documentation/elements#section/Node">nodes</a> and 
<a href="http://cytoscapeweb.cytoscape.org/documentation/elements#section/Edge">edges</a>.

<p>
Nodes can have the following attributes:
</p>

<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <th> Description </th> </tr>
  </thead>
  <tbody>
    <tr> <td> id </td> <td> string </td> <td> The id of the node. </td> </tr>
    <tr> <td> label    </td> <td> string </td> <td> The visible node label. </td> </tr>
    <tr> <td> popup    </td> <td> string </td> <td> The html that will be displayed when the node is hovered/clicked. </td> </tr>
    <tr> <td> color    </td> <td> string </td> <td> The color of the node. </td> </tr>
    <tr> <td> size     </td> <td> float  </td> <td> The size of the node. </td> </tr>
    <tr> <td> shape    </td> <td> string </td> <td> The shape of the node. </td> </tr>
    <tr> <td> graph_id </td> <td> int    </td> <td> The id of the graph that the node belongs to. </td> </tr>
    <tr> <td> labelFontWeight </td> <td> string </td> <td> The font size of the label. </td> </tr>
  </tbody>
</table>

<p>
Edges can have the following attributes:
</p>

<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <td> Description </td> </tr>
  </thead>
  <tbody>
    <tr> <td> id </td> <td> string </td> <td> The id of the edge. </td> </tr>
    <tr> <td> label    </td> <td> string </td> <td> The visible label of the edge </td> </tr>
    <tr> <td> popup    </td> <td> string </td> <td> The html that will be displayed when the edge is hovered/clicked. </td> </tr>
    <tr> <td> color    </td> <td> string </td> <td> The color of the edge. </td> </tr>
    <tr> <td> width    </td> <td> float  </td> <td> The width of the edge. </td> </tr>
    <tr> <td> graph_id </td> <td> int    </td> <td> The id of the graph this edge belongs to. </td> </tr>
    <tr> <td> labelFontWeight </td> <td> string </td> <td> The font size of the label </td> </tr>
  </tbody>
</table>

{% endblock %}