{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help_tutorial' %}" style="text-align:center">Tutorial</a></li>
    <li><a href="{% url 'help' %}" style="text-align:center">User's Guide</a></li>
    <li class="active"><a href="{% url 'help_programmers' %}" style="text-align:center">Programmer's Guide</a></li>
<!--     <li><a href="{% url 'help_about' %}" style="text-align:center">About Us</a></li>
 -->  </ul>
<hr>

<b>
GraphSpace provides a RESTful API for managing your graphs and facilitating graph uploads. <br><br>The API offers the following advantages: <ul><li>A registered user can write software to upload several graphs in an automated manner</li> <li>In the JSON for every uploaded graph, the user may specific the graph’s names, details about it, and information on every node and edge.</li><!-- li>< We provide a simple Python script that abstracts away the details of the REST API and illustrates how a user may upload graphs programmatically.</li> --></ul>
Graphs are represented in <a href="http://json.org">JSON</a> format.<br><br>
<p>In order to fully utilize features of this REST API, one must have an account with GraphSpace.</p>
</p>
</b>

<h3>Prerequisites</h3>

<p>
To execute the examples from the command line you will need an HTTP client. On Debian systems you can install one by running </p>

<pre>
sudo apt-get install curl
</pre>

<hr>

<h3>API Basics</h3>

<p>All of the GraphSpace API documentation adhere to the following semantics.</p>

<p>Anything in "[]" specifies a variable.  For example, [email] means use GraphSpace account (email) in place of [email] in the request.

<p>Example GET graph request in the documentation is: <br>
<pre>curl -X POST "http://localhost:8000/api/users/[email]/graph/get/[graphname]/" -F "username=[email]" -F "password=[password]"; echo</pre></p>

<p>The same GET graph request for a graph named "example_graphname" and a GraphSpace email of "example@example.com" with password "example_password" would be: <br><pre>curl -X POST "http://localhost:8000/api/users/example@example.com/graph/get/example_graphname/" -F "username=example" -F "password=example_password"; echo</pre></p>

<p>In general, API calls using this REST API will have a "StatusCode" property.  This property adheres to the usual <a href="http://www.restapitutorial.com/httpstatuscodes.html">REST API status codes</a>.</p>
<h3>API calls</h3>

<p>
Below is a list of the different API calls.
</p>

<ul>
<li><h4><a href="#graphs">Graphs</a></h4>
<ul>
<li><a href="#json_ref">JSON Reference</a></li>
<li><a href="#example">Example JSON</a></li>
<li><a href="#add_graph">Add graph</a></li>
<li><a href="#graph_exists">Graph Exists</a></li>
<li><a href="#get_graph">Get graph</a></li>
<li><a href="#update_graph">Update graph</a></li>
<li><a href="#remove_graph">Remove graph</a></li>
<li><a href="#get_user_graphs">Get user graphs</a></li>
<li><a href="#make_graph_public">Make graph public</a></li>
<li><a href="#make_graph_private">Make graph private</a></li>
</ul>
</li>
<li><h4><a href="#groups">Groups</a></h4>
<ul>
<li><a href="#create_group">Create group</a></li>
<li><a href="#remove_group">Remove group</a></li>
<!-- <li><a href="#get_groups">Get groups</a></li> -->
<li><a href="#get_group">Get group</a></li>
<!-- <li><a href="#remove_group">Remove group</a></li>
 --><!-- <li><a href="#create_group">Create group</a></li>
 --><li><a href="#get_user_groups">Get groups a user belongs to</a></li>
<li><a href="#add_user_to_group">Add user to group</a></li>
<li><a href="#remove_user_from_group">Remove user from group</a></li>
<li><a href="#share_graph">Share a graph with a group</a></li>
<li><a href="#unshare_graph">Unshare a graph with a group</a></li>
</ul>
</li>
<li><h4><a href="#tags">Tags</a></h4>
<ul>
<li><a href="#tag_for_user">Get Tags for User</a></li>
<li><a href="#tag_for_graph">Get Tags for Graph</a></li>
<li><a href="#make_graphs_for_tag_public">Make all graphs for a tag public</a></li>
<li><a href="#make_graphs_for_tag_private">Make all graphs for a tag private</a></li>
<li><a href="#delete_graphs_for_tag">Delete all graphs for a tag</a></li>
</ul>
</li>
</ul>

<hr>
<h2 style="padding-top: 50px; margin-top: -40px;" id="graphs">Graphs</h2>
<h3 style="padding-top: 50px; margin-top: -40px;" id="json_ref">JSON Reference</h3>
<p>This section details the structure all graphs inserted into GraphSpace should follow.  Any deviation from this schema may result in GraphSpace rejecting the graph or problems rendering the graph.

<p>GraphSpace supports Nody and Edge body properties from <a href="http://js.cytoscape.org/#style/node-body">CytoscapeJS</a>.</p>
<p><b>Note</b>: All properties supported by CytoscapeJS which contain the '-' character must be specified as the '_' character when constructing the JSON for a graph.  For example, "background-color" is a property that is supported by CytoscapeJS.  In order to utilize this property in GraphSpace, it should be written as "background_color".  Another example is "border-color".  If a user wants to define this property in the JSON of the graph, it should be written as "border_color".</p></p>

<p>The basic structure of a properly formatted JSON in GraphSpace contains the following structure: 

<pre>
{
    "graph": {
        "nodes": [],
        "edges": []
    },
    "metadata": {
        "name": "",
        "description": "",
        "tags": []
    }
}
</pre>
<hr>
<p>The "graph" property contains an array of <b>"nodes"</b> and <b>"edges"</b>.</p>

<p>A node is an object that <b>must</b> contain the following properties:</p>

<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <th> Description </th> </tr>
  </thead>
  <tbody>
    <tr> <td> id </td> <td> string </td> <td> The id of the node. </td> </tr>
    <tr> <td> content    </td> <td> string </td> <td> The text that is displayed inside of the node. </td> </tr>
    <tr> <td> popup    </td> <td> string </td> <td> The information that will be displayed in a popup when the node is hovered/clicked. </td> </tr>
    <tr> <td> background_color    </td> <td> string </td> <td> The background color of the node.  It may be the names of colors or <a href="http://www.w3schools.com/tags/ref_colorpicker.asp">hexadecimal</a> values of the colors. </td> </tr>
    <tr> <td> height     </td> <td> float  </td> <td> The height of the node. </td> </tr>
    <tr> <td> width     </td> <td> float  </td> <td> The width of the node. </td> </tr>
    <tr> <td> shape    </td> <td> string </td> <td> The shape of the node. (See <a href="http://js.cytoscape.org/#style/node-body">CytoscapeJS</a> documentation for types of shapes)</td> </tr>
    <tr> <td> k     </td> <td> integer  </td> <td> Show this node at the "kth" step.  Allows one to see all nodes up until the "kth" step.  (See <a href="{{url}}help/#step_panel">Step through Filtering Panel</a> for more information.</td> </tr>
 </tbody>
</table>
<hr>
<p>An edge is an object that <b>must</b> have the following properties:</p>

<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <td> Description </td> </tr>
  </thead>
  <tbody>
    <tr> <td> id </td> <td> string </td> <td> The id of the edge. </td> </tr>
    <tr> <td> content    </td> <td> string </td> <td> Text that will be displayed on the edge (usually blank strings)</td> </tr>
    <tr> <td> popup    </td> <td> string </td> <td> The information that will be displayed in a popup when the edge is hovered/clicked. </td> </tr>
    <tr> <td> color    </td> <td> string </td> <td> The color of the edge. </td> </tr>
    <tr> <td> width    </td> <td> float  </td> <td> The width of the edge. </td> </tr>
    <tr> <td> source </td> <td> string    </td> <td> The id of the node where the edge is coming from</td> </tr>
    <tr> <td> target </td> <td> string    </td> <td> The id of the node where edge is going to. </td> </tr>
    <tr> <td> k     </td> <td> integer  </td> <td> Show this node at the "kth" step.  Allows one to see all nodes up until the "kth" step.  (See <a href="{{url}}help/#step_panel">Step through Filtering Panel</a> for more information.</td> </tr>
  </tbody>
</table>
<hr>

<p>The "metadata" property in a graph contains information about the graph.</p>

<p>Below are properties that the metadata object may have</p>
<table class="table">
  <thead>
    <tr> <th> Name </th> <th> Type </th> <th> Description </th> </tr>
  </thead>
  <tbody>
  <tr><td> name</td><td> string</td><td> Name that is displayed while viewing a graph</td>
  <tr><td> description</td><td> string</td><td> May be HTML formatted string.  May be link to image hosted elsewhere.  May contain information such as a legend or significance of the graph.</td>
  <tr><td> tags</td><td> array of strings</td><td> Used to categorize graphs.  See <a href="{{url}}help/#tags">Tags</a> for more information.</td></tr>
  </tbody>
</table>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" style="padding-top: 50px; margin-top: -40px;" id="example">Example JSON</h3>
<p>The following example is a correctly structured JSON for GraphSpace.</p>
<pre>
{
    "graph": {
        "nodes": [
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P4314611",
                    "content": "DCC",
                    "height": 50,
                    "width": 50,
                    "background_color": "yellow",
                    "background_blacken": 0.1,
                    "border_width": 2,
                    "k": 0
                }
            }, 
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P0810711",
                    "content": "This is an example\n of how to use new lines for the content of\n a node.",
                    "height": 150,
                    "width": 150,
                    "background_color": "red",
                    "background_blacken": 0,
                    "border_width": 5,
                    "border_style": "double",
                    "border_color": "black",
                    "text_wrap": "wrap",
                    "color": "black",
                    "text_outline_width": 2,
                    "text_outline_color": "#888",
                    "k": 0
                }
            }
        ],
        "edges": [
            {
                "data": {
                    "source": "P4314611",
                    "target": "P0810711",
                    "width": 12,
                    "line_color": "blue",
                    "line_style": "dotted",
                    "source_arrow_color": "yellow",
                    "target_arrow_shape": "triangle",
                    "k": 0
                }
            }
        ]

    },
    "metadata": {
        "name": "Graph Name",
        "description": "Description of graph.. can also point to an image hosted elsewhere",
        "tags": [
            "tutorial"
        ]
    }
}
</pre>
<hr>

<h3 style="padding-top: 50px; margin-top: -40px;" id="add_graph">Add graph</h3>

In order to add a graph to GraphSpace, make the following POST request where [email] is your email and [password] is your password.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/add/[graphname]/" -F "username=[email]" -F "password=[password]" -F graphname=@"path_to_json"; echo
</pre>

Here is an example of a basic graph JSON:
<pre>
{
    "graph": {
        "nodes": [
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P4314611",
                    "content": "DCC",
                    "height": 50,
                    "width": 50,
                    "background_color": "yellow",
                    "background_blacken": 0.1,
                    "border_width": 2
                }
            }, 
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P0810711",
                    "content": "This is an example\n of how to use new lines for the content of\n a node.",
                    "height": 150,
                    "width": 150,
                    "background_color": "red",
                    "background_blacken": 0,
                    "border_width": 5,
                    "border_style": "double",
                    "border_color": "black",
                    "text_wrap": "wrap",
                    "color": "black",
                    "text_outline_width": 2,
                    "text_outline_color": "#888"
                }
            }
        ],
        "edges": [
            {
                "data": {
                    "source": "P4314611",
                    "target": "P0810711",
                    "width": 12,
                    "line_color": "blue",
                    "line_style": "dotted",
                    "source_arrow_color": "yellow",
                    "target_arrow_shape": "triangle"
                }
            }
        ]

    },
    "metadata": {
        "name": "Graph Name",
        "description": "Description of graph.. can also point to an image hosted elsewhere",
        "tags": [
            "tutorial"
        ]
    }
}
</pre>

<!-- <p><b>The following properties are required for a <em>node</em> to have:</b>
  
  <ul>
    <li>content</li>
    <li>id (each node id has to be unique)</li>
  </ul>

<b>The following properties are required for a <em>edge</em> to have:</b>
  
  <ul>
    <li>source</li>
    <li>target</li>
  </ul>

</p>

<b>When using HEX value to specify color, be sure to prepend with '#' character e.g. '#000000'</b><br><br> -->


Example successful response:

<pre>
{
    "Message": "Graph inserted into GraphSpace!",
    "StatusCode": 201
}
</pre>

If JSON fails validation, it should give some sort of error as to why it failed

<pre>
{
    "Error": "Property content not in JSON for node",
    "StatusCode": 400
}
</pre>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" style="padding-top: 50px; margin-top: -40px;" id="graph_exists">Graph Exists</h3>

Checks to see if there is a graph that a user owns in GraphSpace.  <b>Note</b>: This command <b>only</b> checks for graphs owned by the user making the request.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/exists/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "User [email] owns a graph with id [graphname]!",
    "StatusCode": 200
}
</pre>

Example failed response:
<pre>
{
    "Error": "User [email] owns a graph with id [graphname]!",
    "StatusCode": 404
}
</pre>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" style="padding-top: 50px; margin-top: -40px;" id="get_graph">Get graph</h3>

To get the JSON for an existing graph use the following GET command. You can only get the JSON for a graph that belongs to you or is shared with a group you belong to.  Here, [email] refers to the owner of the graph whose JSON you are trying to retrieve.  It may or may not be your email.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/get/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "graph": {
        "nodes": [
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P4314611",
                    "content": "DCC",
                    "height": 50,
                    "width": 50,
                    "background_color": "yellow",
                    "background_blacken": 0.1,
                    "border_width": 2,
                    "k": 0
                }
            }, 
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P0810711",
                    "content": "This is an example\n of how to use new lines for the content of\n a node.",
                    "height": 150,
                    "width": 150,
                    "background_color": "red",
                    "background_blacken": 0,
                    "border_width": 5,
                    "border_style": "double",
                    "border_color": "black",
                    "text_wrap": "wrap",
                    "color": "black",
                    "text_outline_width": 2,
                    "text_outline_color": "#888",
                    "k": 0
                }
            }
        ],
        "edges": [
            {
                "data": {
                    "source": "P4314611",
                    "target": "P0810711",
                    "width": 12,
                    "line_color": "blue",
                    "line_style": "dotted",
                    "source_arrow_color": "yellow",
                    "target_arrow_shape": "triangle",
                    "k": 0
                }
            }
        ]

    },
    "metadata": {
        "name": "Graph Name",
        "description": "Description of graph.. can also point to an image hosted elsewhere",
        "tags": [
            "tutorial"
        ]
    }
}
</pre>

Example failed response:

<pre>
{
    "Error": "No Such Graph Exists!",
    "StatusCode": 404
}
</pre>
<h3 style="padding-top: 50px; margin-top: -40px;" id="update_graph">Update graph</h3>
If a user wants to update any information for a specific graph, they can do so using this command.  The user uploads the modified JSON of the graph to the server.  Note, a user can only update a graph if it already exists in GraphSpace for that user.
<pre>
curl -X POST "{{url}}api/users/[email]/graph/update/[graphname]/" -F "username=[email]" -F "password=[password]" -F graphname=@"path_to_json"
</pre>

Example successful response:

<pre>
{
    "Message": "Updated [graphname] for [email].",
    "StatusCode": 201
}
</pre>

Example failed response:

<pre>
{
    "Error": "Can't update [graphname] because it does not exist for [email]",
    "StatusCode": 404
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="remove_graph">Remove graph</h3>

To remove a graph use the following command. You can only remove a graph that belongs to you.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/delete/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Successfully deleted [graphname] owned by [email].",
    "StatusCode": 200
}
</pre>

Example failed response:
<pre>
{
    "Error": "No Such Graph Exists.",
    "StatusCode": 404
}
</pre>


<h3 style="padding-top: 50px; margin-top: -40px;" id="get_user_graphs">Get user graphs</h3>

Get all ids of graphs belonging to the user making this request. The result is a JSON object containing a list of all graph ids for the specified user.

<pre>
curl -X POST "{{url}}api/users/[email]/graphs/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example response:

<pre>
{
    "Graphs": [
        "tutorial_graph1",
        "tutorail_graph2"
    ],
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="make_graph_public">Make graph public</h3>

Makes a specific graph that user owns public (viewable to all users of GS). All layouts shared with groups will also become public.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/makeGraphPublic/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:
<pre>
{
    "Message": "Successfully made [graphname] owned by [email] public.",
    "StatusCode": 200
}
</pre>

Example failed response:
<pre>
{
    "Error": "Graph with name [graphname] doesn't exist under [email].",
    "StatusCode": 404
}
</pre>
<h3 style="padding-top: 50px; margin-top: -40px;" id="make_graph_private">Make graph private</h3>

Makes a specific graph that user owns private (only groups that graph is shared with and owner of graph can see it).

<pre>
curl -X POST "{{url}}api/users/[email]/graph/makeGraphPrivate/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:
<pre>
{
    "Message": "Successfully made [graphname] owned by [email] public.",
    "StatusCode": 200
}
</pre>

Example failed response:
<pre>
{
    "Error": "Graph with name [graphname] doesn't exist under [email].",
    "StatusCode": 404
}
</pre>
<h2 style="padding-top: 50px; margin-top: -40px;" id="groups">Groups</h2>

<p><b>Note: All spaces that are contained within the name of a group will be truncated for GET requests.  For example, if there is a group named: "Test 1", then the [group_id] for this group would be "Test1". </b></p>

<!-- <h3 id="get_groups">Get groups</h3>

Get the ids of all groups on the server. The result is a JSON object containing a list of all groups, including their descriptions and owners.

<pre>
curl -X POST "{{url}}api/groups/get/" -F "username=[email]" -F "password=[password]"
</pre>

Example response:

<pre>
{
   "groups" : [
      {
         "owner" : "divit52@vt.edu",
         "id" : "Research",
         "description" : "Research team group."
      }
   ]
}
</pre> -->


<h3 style="padding-top: 50px; margin-top: -40px;" id="create_group">Create group</h3>

To create a group, use the following command. You will be the owner of the group, and you will have to set the description later.

<pre>
curl -X POST "{{url}}api/groups/add/[group_owner]/[groupname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Group Id": "Test2",
    "Message": "Group created!",
    "Group Name": "Test2",
    "StatusCode": 201
}
</pre>

Example failure response:

<pre>
{
    "Error": "Group name already exists for this account",
    "StatusCode": 400
}

</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="remove_group">Remove group</h3>

To remove a group use the following command. You can only remove a group that you are the owner of.

<pre>
curl -X POST "{{url}}api/groups/delete/[group_owner]/[groupname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Successfully deleted [groupname] owned by [group_owner].",
    "StatusCode": 200
}

</pre>

Example failed response:

<pre>
{
    "Message": "Group not found!",
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="get_group">Get group</h3>

Get a group by id. The result is a JSON object with the group's id, description, and owner, as well as the list of users belonging to the group, and the list of graph ids (and the user ids for those graphs) that are shared with the group.

<pre>
curl -X POST "{{url}}api/groups/get/[group_owner]/[group_id]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

<pre>
{
    "Groups": {
        "owner": "dsingh5270@gmail.com",
        "graphs": [
            "api_test",
            "secret_feature"
        ],
        "group_id": "Test1",
        "description": "This is test group to see if changing description works properly.",
        "members": [
            "annaritz@vt.edu",
            "ategge@vt.edu",
            "dsingh5270@gmail.com"
        ]
    },
    "StatusCode": 200
}

</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="get_user_groups">Get groups a user belongs to</h3>

Get groups a user belongs to. The result is a JSON object with a list of group ids.

<pre>
curl -X POST "{{url}}api/users/[email]/groups/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example response:

<pre>
{
  "Groups": [
      {
          "group_owner": "[email]",
          "groupId": "[Test1]"
      }
  ],
  "StatusCode": 200
}

</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="add_user_to_group">Add user to group</h3>

Add a user to a group. You can only add a user to a group that you belong to.

<pre>
curl -X POST "{{url}}api/groups/[group_owner]/[groupname]/adduser/[member]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Successfully added user [member] to [groupname].",
    "StatusCode": 200
}
</pre>

Example failed response:

<pre>
{
    "Error": "Group doesn't exist or user has already been added!",
    "StatusCode": 400
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="remove_user_from_group">Remove user from group</h3>

Remove a user from a group. You can remove yourself from any group, but you must be the owner of a group to remove other members.

<pre>
curl -X POST "{{url}}api/groups/[group_owner]/[groupname]/removeuser/[member]/" -F "username=dsingh5270@gmail.com" -F "password=test"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Successfully removed user [member] from [groupname].",
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="share_graph">Share graph with a group</h3>

Share a graph with a group, effectively giving all members in the group the ability to see a graph. You can only share graphs you own with groups you are a member of or the owner of.

<pre>
curl -X POST "{{url}}api/users/graphs/[graph name]/share/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Graph successfully shared with group!",
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id="unshare_graph">Unshare graph with a group</h3>

Unshare a graph with a group, effectively removing read permission from all members in the group. You can only unshare graphs you own from groups you belong to.

<pre>
curl -X POST "{{url}}api/users/graphs/[graphname]/unshare/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Graph successfully unshared with group!",
    "StatusCode": 200
}
</pre>

<h2 style="padding-top: 50px; margin-top: -40px;" id="tags">Tags</h2>

<h3 style="padding-top: 50px; margin-top: -40px;" id='tag_for_user'>Get Tags for User</h3>

Get all the tags that a user has for their graphs.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
    "Tags": [
        "tutorial,
        "pathways",
        "pictures",
    ],
    "StatusCode": 200
}

</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id='tag_for_graph'>Get Tags for a Graph</h3>

Get all the tags that are attached to a certain graph.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[graphname]/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:
<pre>
{
    "Tags": [
        "tutorial"
    ],
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id='make_graphs_for_tag_public'>Make all graphs for a tag public</h3>

Changes the privacy of all graphs that contain a [tag] under [email] public.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/makePublic/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Graphs with tag have been made public",
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id='make_graphs_for_tag_private'>Make all graphs for a tag private</h3>

Changes the privacy of all graphs that contain a [tag] under [email] private.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/makePrivate/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Graph with tag have been made private",
    "StatusCode": 200
}
</pre>

<h3 style="padding-top: 50px; margin-top: -40px;" id='delete_graphs_for_tag'>Delete all graphs for a tag</h3>

Delets all graphs that contain a [tag] under [email].
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/delete/" -F "username=[email]" -F "password=[password]"; echo
</pre>

Example successful response:

<pre>
{
    "Message": "Graphs with tag have been deleted",
    "StatusCode": 200
}
</pre>

</div>
<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">CytoscapeJS 2.4.0</a>
</footer>

{% endblock %}