{% extends 'base.html' %}
{% block content %}

{% include 'graphs/help_menu.html' %}

<p>This page describes many of the different features of graphs on GraphSpace and how to interact with them.</p>

<p>Let's use <a href="{{url}}graphs/craigy@vt.edu/linker-q_0.5-query_CDC5-path_k_50/" target="_blank">this CDC5 network</a> as an example and follow along.</p>

</p>In the middle of the page is the graph itself. You can click on a node or edge in the graph to see details for that node or edge. In the CDC5 graph, nodes represent proteins, and node details contain the systematic name, as well as description of the protein. Edges represent interactions between proteins, and edge details contain the confidence in that edge as well as a list of publications with evidence for that edge and the types of interactions that edge represents.</p>

</p>On the right hand side, there are panels with information about the graph. Some of these panels are hidden. Clicking on the panel title will expand the panel. Expanding the "Graph Details" panel for this graph will show a legend image for this graph.</p>

</p>In the "Export" panel, there are buttons for saving the graph as an image (useful in publications), or getting the JSON code for the graph, which is useful if you want to re-upload the graph yourself (see the <a href="{% url 'help_restapi' %}">REST API help page</a> for details).</p>

</p>The "Owner" panel shows the username of the owner of the graph, and a link to their page on GraphSpace.</p>

</p>The "Sharing" panel gives information about the privacy settings for the graph, as well as the groups that you have in common with the graph.</p>

</p>The "Layouts" panel gives you tools for automatically laying out the graph on screen. Click on "Auto" to see built-in algorithms. Click on "ForceDirected" to arrange the graph using a force directed layout. In the "Manual" tab, you can see layouts that users have made for the graph. If you are logged in, you can save your own layouts here.</p>

</p>Finally, the "Filters" panel allows you to narrow down parts of the graph using pre-defined information. In the CDC5 graph, the sliders control how many probable paths you see from CDC5 to the nodes marked as yellow rectangles.</p>
{% endblock %}