{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help' %}" style="text-align:center">Getting started</a></li>
<!--     <li><a href="{% url 'help_tutorials' %}" style="text-align:center">Tutorials</a></li>
 -->    <li><a href="{% url 'help_graphs' %}" style="text-align:center">Graphs</a></li>
    <li><a href="{% url 'help_restapi' %}" style="text-align:center">REST API</a></li>
    <li><a href="{% url 'help_jsonref' %}" style="text-align:center">JSON Reference</a></li>
    <li class="active"><a href="{% url 'help_about' %}" style="text-align:center">About</a></li>
  </ul>
<hr>

<h4>Description</h4>

GraphSpace is a tool for storing, sharing, and visualizing graphs in order to help collaborative research.<br/><br/>

It was developed by the Murali lab at Virginia Tech.<br/><br/><br/>

<h4>Libraries</h4>

It is built using the following technologies:<br/><br/>


<ul>
<!--<a href="http://cytoscapeweb.cytoscape.org/">
    Cytoscape Web<img src="http://cytoscapeweb.cytoscape.org/img/logos/cw_s.png" alt="Cytoscape Web"/>
</a>-->
<li><a href="http://js.cytoscape.org/">Cytoscape JS</a> under the <a href="https://github.com/cytoscape/cytoscape.js/blob/master/LGPL-LICENSE.txt">LGPL</a></li>

<!--<br/><br/>-->

<li><a href="https://jquery.org/">jQuery</a> and <a href="http://jqueryui.com/">jQuery UI</a> under the terms of the <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT License</a>.</li>

<!--<br/><br/>-->

<li><a href="http://getbootstrap.com/">Bootstrap</a> under the <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">Apache 2 License</a>.</li>

<!--<br/><br/>-->

<li><a href="http://bartaz.github.io/sandbox.js/jquery.highlight.html">jQuery Highlight</a> under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.</li>

</ul>

<br/>
</div>
<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">CytoscapeJS</a>
</footer>
{% endblock %}