{% extends 'base.html' %}
{% block content %}

{% include 'graphs/help_menu.html' %}

    <li class="active"><a href="http://holmes.cs.vt.edu/help/tutorial-upload" style="text-align:center">Uploading</a></li>
    <li ><a href="http://holmes.cs.vt.edu/help/tutorial-filtering" style="text-align:center">Filtering</a></li>
  <br/>

  
  <p>This tutorial will teach you how to upload a simple graph into GraphSpace. First of all, you will need an account, which you can create <a href="http://holmes.cs.vt.edu/register">here</a>, as well as a Unix machine. You will need <pre>libwww-perl</pre> installed on the machine, which can be installed by running <pre> sudo-apt-get install libwww-perl</pre> if it is a Debian based machine such as Ubuntu.</p>

<p>We will use a graph with two nodes and one edge connecting the nodes in this tutorial. GraphSpace uses a JSON format to store graphs. The JSON code representing the graph is shown below.</p>

<pre>
{
   "metadata" : {
      "name" : "foo graph",
      "tags" : ["foo", "bar"]
   },
   "graph" : {
      "data" : {
         "edges" : [
            { "source" : "2", "target" : "1", "id" : "2-1" }
         ],
         "nodes" : [
            { "label" : "A", "id" : "1" },
            { "label" : "B", "id" : "2" }
         ]
      }
   }
}
</pre>

<p>Save the code above into a file called <pre>graph.json</pre>. Now, open a terminal and navigate to the location of the file. Execute the following command, where <pre>[username]</pre> is the email address you used to sign up for GraphSpace, and <pre>[password]</pre> is your GraphSpace password.</p>

<pre>
lwp-request -m PUT -C [username]:[password] http://http://holmes.cs.vt.edu/api/users/[username]/graphs/tutorial < graph.json
</pre>

<p>Now go to your <a href="http://http://holmes.cs.vt.edu/graphs">graphs page</a> and you should see a graph called 'tutorial' in the list.</p>

<p>For a more detailed reference on all of the functions of the GraphSpace API, look at the <a href="http://holmes.cs.vt.edu/help/rest">REST API help page</a>.</p>


{% endblock %}