{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li class="active"><a href="{% url 'help' %}" style="text-align:center">User's Guide</a></li>
    <li ><a href="{% url 'help_programmers' %}" style="text-align:center">Programmer's Guide</a></li>
  </ul>
<hr>

<h1>Welcome to GraphSpace!</h1>

<hr>
<b>This page should help familiarize you with GraphSpace's interface and basic features as a normal user.</b>

<br/>
<br/>
<ul>
<li><h4><a href="#graphs">Graphs</a></h4>
<ul>
<li><a href="#what_is">What is a graph</a></li>
<li><a href="#view_graph">Viewing a graph</a></li>
<li><a href="#embedded_info">Embedded Information</a></li>
<li><a href="#graph_panels">Graph Panels</a>
	<ul>
		<li><a href="#details_panel">Graph Details Panel</a></li>
		<li><a href="#search_panel">Search Panel</a></li>
		<li><a href="#export_panel">Export Panel</a></li>
		<li><a href="#owner_panel">Owner Panel</a></li>
		<li><a href="#sharing_panel">Sharing Panel</a></li>
		<li><a href="#layouts_panel">Layouts Panel</a></li>
		<li><a href="#step_panel">Step through Filtering Panel</a></li>
	</ul>
</li>
<li><a href="#finding_graphs">Finding Graphs</a></li>
<li><a href="#upload_graphs">Uploading Graphs</a></li>
<li><a href="#layouts">Layouts</a></li>
<li><a href="#search">Searching for graphs</a></li>
</ul>
</li>
<li><h4><a href="#groups">Groups</a></h4>
<ul>
	<li><a href="#grouping_graphs">Grouping graphs</a></li>
	<li><a href="#sharing_graphs">Sharing graphs</a></li>
	<li><a href="#sharing_layouts">Group layouts</a></li>
</ul>
</li>
<li><h4><a href="#tags">Tags</a></h4></li>
<li><h4><a href="#contact">Acknowledgements</a></h4></li>
</ul>

<h3 id="what_is">What is a graph?</h3>

A <a href="http://en.wikipedia.org/wiki/Graph_(mathematics)">graph</a> is a mathematical object containing vertices (also known as nodes or points) and edges which connect the vertices.

<br/>

Graphs are used to represent many different things such as computer networks, biological pathways, and many more.

<br/>

GraphSpace allows people to store and share graphs, regardless of what those graphs represent.


<ul>
<li><a href="#view">I want to find and view graphs that are shared with me</a>
<li><a href="#upload">I want to upload graphs</a>
<li><a href="#sharing">I want to share my graphs</a>
</ul>

<h3 id="view_graph">Viewing a Graph</h3>

Below is a public graph that can be found <a href="{{url}}graphs/craigy%40vt.edu/linker-q_0.5-query_CDC55-path_k_50/">here</a>.

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/public_graph.png">

<br><br>
Positions of all the nodes in a graph are mutable.  One can click and drag on nodes to change their positions.
<br><br>
<h3 id="embedded_info">Embedded Information</h3>
Elements inside of a graph may have information embedded in them.  Clicking on the element will reveal information it contains(such as description).  The image below shows the information that is contained inside a the node <b>CCT6</b>.

<br><br>
<img width="50%" height="400px" align="middle" src="../../static/images/node_info.png">
<br><br>
The information embedded inside elements may contain external links to sources as well.
<h3 id="graph_panels">Graph Panels</h3>
When viewing a grpah, you'll notice that there are panels to the right of a graph.  Some of these panels are hidden.  Clicking on an individual panel will reveal information the panels contain.
<br><br>
<b id="details_panel">Graph Details Panel</b>: Area where legent image for a graph and/or description of the graph
<br><br>
<b id="search_panel">Searching Panel</b>: "Search" allows one to <b>distinguish</b> an element of a graph.  If a user wants to distinguish a node, sipmly enter the text that is displayed on top of the node.  If a user wants to distinguish an edge, enter a query in the following format: [tail: head], where the tail is a node that an edge is pointing from, and the head is a node which the arrow is pointing towards. For example, if a user searched for the node 'TEM1', then the node will look like this:
<br><br>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">TEM1 before searching<br><img src="../../static/images/before_searching.png" style="width: 50%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">TEM1 after searching<br><img src="../../static/images/node_search.png" style="width: 50%"></p>
<p style="clear: both;"></p>

<br><br>

If a user wants to search for edge connection from TEF4 to TEM1, they can do so with the following serach command: TEF4:TEM1.  The edge will look lik this:
<br><br>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Before searching for edge<br><img src="../../static/images/before_edge.png" style="width: 60%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">After searching for edge<br><img src="../../static/images/edge_search.png" style="width: 60%"></p>
<p style="clear: both;"></p>

<br><br>
GraphSpace allows uesrs to send links which contain elements of a graph to be <b>distinguished</b>.  If a user searches for an element and the element is found inside the graph, a link is generated on top of the search bar.  This link provides a reference to this graph along with all of the elements to be distinguised.  If a GraphSpace user sends this link to someone else, they can follow the link to see the exact graph you are vieweing, including all the elements that you have distinguished.
<br><br>
The <b>Partial</b> option under the search bar allows one to search for all elements within a graph which may have the search term as part of its value.  For example, if there are two nodes CDC5 and CDC55 and the user does a partial search with the term 'CDC', then both CDC5 and CDC55 will be distinguished. 
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all elements within a graph that are identical to the search term. If there are two terms CDC5 and CDC55 and the user does an exact search with the term 'CDC5', only CDC5 will be distinguished.  <b>Note</b>: If the user had searched for the term 'CDC', nothing would have been distinguished since there are no nodes in our example graph which have CDC as their entire value.
<br><br>
Each term that is searched for while viewing the graph will get added to any previous search query.  For example, assume that there are two nodes, AKT1 and AKT3 that exist inside a graph.  The user searches for the term 'AKT1' using exact search.  If the user then exact searches for 'AKT3', then AKT3, in addition to AKT1 (from the previous search query) will be distinguished in the graph.  If one wishes to clear any search terms, they may do so by clicking the appropriate search term under the search bar.


<b id="export_panel">Export Panel</b>: Allows one to export the entire image of the as a PNG
<br><br>
<b id="owner_panel">Owner Panel</b>: shows the GraphSpace user whom the graph belongs to
<br><br>
<b id="sharing_panel">Sharing Panel</b>: Displays all the groups that a graph is shared with [See <a href="#groups">groups</a> below]
<br><br> 
<b id="layout_panel">Layouts Panel</b>: Provides multiple methods to display or layout a graph.  <b>Note</b>: a user must have an account with GraphSpace in order to save and share layouts they create.[See <a href="#layouts">Layout</a> section]
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Auto Layouts<br><img src="../../static/images/layout_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">Manual Layouts<br><img src="../../static/images/layout_panel.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<br><br>
The 'Auto' option provides methods to automatically layout a graph using their respective algorithms. If a person has created an account and logged into GraphSpace, they they will be allowed to save any changes to the positions of elements in the graph that they manually make.  In addition, they will also be able to view layouts and share layouts with groups that they are a member of. [See <a href="#groups">groups</a> below]

<br><br>
<b id="step_panel">Step through filtering Panel</b>: There are graphs in GraphSpace which employ the use of Step through filtering.  This concept allows one to see subgarphs of the entire graph.  In addition, it allows a user to "step" through the connections of a graph in sequential order.  The images below show a user stepping through a graph.
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_1.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"<br><img src="../../static/images/filter_2.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"><br><img src="../../static/images/filter_1.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<br><br>
<b>Max highly probable paths</b> tells GraphSpace to display a subgraph up to the specified value.
<br>
<br>
<b>Number of highly probably paths</b> reveals interactions (connections) that occur at a certain value.  For example, when <b>Number of highly probable paths</b> was 10, a read node was revealed.  When this value was 8, the red node was not present.
<br>
<br><br>
<h3 id="finding_graphs">Finding graphs</h3>

Notice the bar at the top of the screen. On the left hand side, right next to the big "GraphSpace" logo, are links to your graphs and groups.

<br/>

On your graphs page, you will see buttons at the top of the page called "My Graphs", "Shared with me" and "Public graphs".

<ul>

<li><b><a href="{{url}}graphs/">My Graphs</a></b> will show graphs that you own (you have uploaded). <b>(GraphSpace account required)</b></li>

<li><b><a href="{{url}}graphs/shared/">Shared with me</a></b> will show graphs that have been shared with you through groups [See <a href="#groups">groups</a> below]. <b>(GraphSpace account required)</b></li>

<li><b><a href="{{url}}graphs/public/">Public Graphs</a></b> will show graphs that have been made publicly available on GraphSpace.</li>

</ul>

<h3 id="upload_graphs">Uploading graphs</h3>

GraphSpace represents graphs using a JSON format. To see an example of how to uplaod a correctly formatted JSON graph to GraphSpace, please see <a href="{{url}}help/restapi/#add_graph">this page</a>.

<br><br>
<h3 id="layouts">Layouts</h3>
A layout is a specific representation of the network.  In terms of GraphSpace, a layout is the specific arrangement of nodes and edges for that graph.  GraphSpace provides a list of pre-defined algorithms to quickly layout any graph.  In addition, a user can also manually go in and arrange nodes and edges as they see fit and then save the layout for future reference. 
<br><br>
<h3 id="search">Searching for graphs</h3>

While on the graphs page, there are two boxes: Search and Tags [See <a href="#tags">Tags</a> section].  The Search panel allows for any user of GraphSpace to search a graph that matches the criteria of ALL search queries.  A user may search for graphs using its name as well as a node or an edge which a graph may contain.  
<br><br>
To search for graphs that match a name, simply type the name or a part of the name of the graph
<br><br>
To search for nodes, type the name of the node (text that you want to see inside the node)
<br><br>
To search for edges, search using the following syntax [tail: head] where tail is the name of the node where the arrow is coming from and head is the name of the node that the arrow is point to.  For example, to search for the edge that connects YEF3 to SIR2, type YEF3:SIR2.  All graphs that contain this edge will be presented to the user.  
<br><br>
If searching for multiple values, separate all individual search terms with commas.  Ex: AKT1, AKT3, JUN
<br><br>
The <b>Partial</b> option under the search bar allows one to search for all graphs that may contain that word in the graph itself.  This option will return all the graphs that may have a node which contains parts of the values you are searching for, graphs that may contain part of the searched term in its title, as well as if there are edges which contain part of the searched values as well.
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all graphs that have exactly what is being searched for.  Graphs returned from this option may have a node, graph title, or an edge which is identical to the searched terms.
<br><br>
<b>Note</b>:If there are multiple search terms (and/or tag terms), all graphs that are returned WILL match all of these terms.  All graphs that are returned by the searches of a node and/or an edge will have all searched terms <b>distinguished</b> inside the graph.
<br><br>



<h3 id="groups">Groups</h3>

<b>Note</b>: GraphSpace account required for this feature

<br><br>
Groups contain collections of graphs that are shared by members of the group.  
<br><br>
A <b>group owner</b> is the creator of the group.  They may<ul><li>Invite any GraphSpace user that has an account to be a member of their group <li>Remove any member from their group</li><li>Unshare any graph that has already been shared by the members of their group</li></ul>
A <b>group member</b>is a user that is a part of a group that is owned by someone else. They may<ul><li>Share their graphs with a group</li><li>Unshare the graphs that they own from the group</li></ul>
<b>Both groups owners and group members</b> may share layouts with the group of any graph that is shared with the group.

<h3 id="grouping_graphs">Grouping graphs</h3>

You can also look at groups, which are collections of graphs shared by members of the group. Click on groups in the navigation bar. You should see the following categories for groups

<ul>

<li><b><a href="{{url}}groups/">Owner of</a></b> are groups that you have created and are the owner of. You can set the description of groups that you own as well as add or remove members. All other functionality is accomplished through the <a href="{{url}}help/restapi/#groups">REST API</a></li>

<li><b><a href="{{url}}groups/member/">Members of</a></b> are groups that you have been added to. You can view or add graphs to these groups through the <a href="{{url}}help/restapi/#graphs">REST API</a></li>

</ul>

<h3 id="sharing_graphs">Sharing graphs</h3>
{% with url|add:"help/restapi/" as final_url %}
    To share one of your graphs, refer to the <a href='{{final_url}}'>REST API</a>.
{% endwith %}
<br>
In order to share a graph, you must own the graph.  In addition, you must be a member or the owner of the group you want to share the graph with.  Sharing a graph allows all the members in the group to see the graph.  Un-sharing a graph means that no one in the group is allowed to see that graph anymore.  Only the graph owner is allowed to see the graph.  

<h3 id="sharing_layouts">Sharing layouts</h3>
Similar to a graph, a layout may also be shared with a group.  In order for a layout to be shared with a group, the graph (and implicitly the graph owner) must already be shared with a group.  It would make no sense to share a layout with a group if that graph may not be viewed by any of the group's members. <br /><br />When you first create a layout, only the creator of the layout is allowed to see it.  If the graph is publicly available on GraphSpace, then if the user shares the layout they created, the layout will also be made publicly available.  If the graph is privately shared, then if the user decides to share a layout they created, every group that has both the creater of the layout as well as the graph which the layout references will have access to that layout.


<h3 id="tags">Tags</h3>

Tags are used to categorize graphs.  For example, if a user is uploading multiple graphs to GraphSpace for a specific paper, a tag would be used to categorize all the graphs related to the paper.  On the graphs page, a user can search for graphs that match a tag.  A graph may have any amount of tags that the user sees fit.  It is advantageous for users to group all graphs they upload using tags as it allows for <b>clear organization</b> of work on GraphSpace.
<br><br>
Currently, one has to know the exact tag to search for in order to retrieve all graphs that a user has permission to see which match the searched tag.  If you are searching for multiple tags, separate each individual tag value with commas. Ex: help, tutorial, guide

<h3 id="contact">Acknowledgements</h3>

GraphSpace is developed by the Murali lab at Virginia Tech.

<h4>Libraries</h4>

It is built using the following technologies:<br/><br/>

<ul>
<!--<a href="http://cytoscapeweb.cytoscape.org/">
    Cytoscape Web<img src="http://cytoscapeweb.cytoscape.org/img/logos/cw_s.png" alt="Cytoscape Web"/>
</a>-->
<li><a href="http://js.cytoscape.org/">Cytoscape JS</a> under the <a href="https://github.com/cytoscape/cytoscape.js/blob/master/LGPL-LICENSE.txt">LGPL</a></li>

<!--<br/><br/>-->

<li><a href="https://jquery.org/">jQuery</a> and <a href="http://jqueryui.com/">jQuery UI</a> under the terms of the <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT License</a>.</li>

<!--<br/><br/>-->

<li><a href="http://getbootstrap.com/">Bootstrap</a> under the <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">Apache 2 License</a>.</li>

<!--<br/><br/>-->

<li><a href="http://bartaz.github.io/sandbox.js/jquery.highlight.html">jQuery Highlight</a> under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.</li>

</ul>

</div>

<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">CytoscapeJS</a>
</footer>

{% endblock %}