{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help_tutorial' %}" style="text-align:center">Tutorial</a></li>
    <li class="active"><a href="{% url 'help' %}" style="text-align:center">User's Guide</a></li>
    <li><a href="{% url 'help_programmers' %}" style="text-align:center">Programmer's Guide</a></li>
</ul>
<hr>

<b>This page should help familiarize you with GraphSpace's interface and basic features.</b>
<br><br>
<ul>
	<li><h4><a href="#terminology">Terminology</a></h4></li>
	<ul>
		<li><a href="#user_type">Anonymous vs. Registered user</a></li>
		<li><a href="#public_private">Public vs. Private graphs</a></li>
		<li><a href="{{url}}help#groups">Groups</a></li>
		<li><a href="{{url}}help#tags">Tags</a></li>
	</ul>
	<li><h4><a href="#upload_graphs">Upload graphs</a></h4></li>
	<ul>
		<li><a href="#upload_graphs_rest">Via REST API</a></li>
		<li><a href="#upload_graphs_cyjs">Via Web Interface</a></li>
	</ul>
	<li><h4><a href="#view_graph">Interact with graphs</a></h4></li>
		<ul>
			<li><a href="#embedded_info">Embedded Information</a></li>
			<li><a href="#graph_panels">Graph Panels</a>
				<ul>
					<li><a href="#details_panel">Graph Details Panel</a></li>
					<li><a href="#search_panel">Search Panel</a></li>
					<li><a href="#export_panel">Export Panel</a></li>
					<li><a href="#owner_panel">Owner Panel</a></li>
					<li><a href="#sharing_panel">Sharing Panel</a></li>
					<li><a href="#layout_panel">Layouts Panel</a></li>
					<li><a href="#step_panel">Step through Filtering Panel</a></li>
				</ul>
			</li>
		</ul>
	<li><h4><a href="#share">Share graphs</a></h4></li>
		<ul>
			<li><a href="#sharing_graphs">Sharing graphs with group(s)</a></li>
			<li><a href="#sharing_layouts">Sharing layouts with group(s)</a></li>
		</ul>
	<li><h4><a href="#search">Search graphs</a></h4></li>
		<ul>
			<li><a href="#search_semantics">Semantics</a></li>
			<li><a href="#search_in_graph">Elements within a graph</a></li>
			<li><a href="#search_across_graph">Graphs that contain elements</a></li>
		</ul>
	<li><h4><a href="#organize">Organize graphs</a></h4></li>
		<ul>
			<li><a href="#tags">Tags</a></li>
		</ul>
	<li><h4><a href="#program">Programmatically communicate with GraphSpace</a></h4></li>
</ul>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="terminology">Terminology</h3>
<p>This section describes GraphSpace concepts and terms that are used throughout the documentation.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="user_type">Anonymous vs. Registered user</h3>
<p>An <b>anonymous</b> user is anyone that is using GraphSpace without being logged in.  An anonymous user does not have access to the <a href="{{url}}help/programmers">REST API</a> and may not be a member of a <a href="{{url}}help#groups">group</a>.  They may upload graphs anonymously (See <a href="{{url}}help#upload_graphs_cyjs">uploading via web interface</a>).  <b>Note</b>: Graphs that are uploaded by anonymous users will be deleted after <b>30 days</b>.</p>
<p>A <b>registered</b> user is anyone that is logged into GraphSpace.  By logging into GraphSpace, users have full access to the <a href="{{url}}help/programmers">REST API</a> and are allowed to be members of <a href="{{url}}help#groups">groups</a>.  Graphs uploaded by registered users will remain under a user's account unless they are deleted by the user themselves.   
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="public_private">Public vs. Private graphs</h3>
<p>When a registered user uploads a graph to GraphSpace either through the <a href="{{url}}help/programmers#add_graph">REST API call</a> found in the <a href="{{url}}help/programmers">Programmer's Guide</a> or through the <a href="{{url}}graphs/upload">web interface</a>, it is by default uploaded as a <b>private</b> graph.  A private graph may only be viewed by the owner of the graph (registered user who uploaded the graph).  The only way a private graph may be viewed by other registered GraphSpace users is if the private graph is shared with a <a href="#groups">group</a>.  If the owner of the graph is part of a group and shares their private graph with the group, all members of the group may view it as well as create their own layouts for the graph. (See <a href="#layout_panel">Layouts Panel</a>)</p>

<p>When an anonymous user uploads a graph, it is by default a <b>public</b> graph (See <a href="{{url}}help#upload_graphs_cyjs">uploading via web interface</a>).  A public graph is viewable to any person that visits GraphSpace.  

<p>In order to make a private graph uploaded by a registered user of GraphSpace public, it may be done so through the <a href="{{url}}help/programmers/#make_graph_public">REST API</a>.  By making a graph public, it allows all registered users to share their layouts they create for the graph. (See <a href="#layout_panel">Layouts Panel</a>)</p> 

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="groups">Groups</h3>

<b>Note</b>: GraphSpace account required for this feature

<br><br>
Groups may be thought of as a collection of GraphSpace users.  For example, if there are multiple researchers who are working on the same project, a group may be created containing all of the researchers.  Once a GraphSpace user is within a group, they may share any graph which they own with the rest of the group.  Only members of the group will be able to see the graph.
<br><br>
A <b>group owner</b> is the creator of the group.  They may<ul><li>Invite any GraphSpace user that has an account to be a member of their group <li>Remove any member from their group</li><li>Unshare any graph that has already been shared by the members of their group</li></ul>
A <b>group member</b> is a user that is a part of a group that is owned by someone else. They may<ul><li>Share their graphs with a group</li><li>Unshare the graphs that they own from the group</li></ul>
<b>Both groups owners and group members</b> may share layouts of any graph that is already shared with the group.

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="tags">Tags</h3>

<p>Tags are used to categorize graphs.  For example, if a user is uploading multiple graphs to GraphSpace for a specific paper, a tag would be used to categorize all the graphs related to the paper.  On the graphs page, a user can search for graphs that match a tag.  A graph may have any amount of tags that the user sees fit.  It is advantageous for users to group all graphs they upload using tags as it allows for <b>clear organization</b> of work on GraphSpace.  Tags are used to organize graphs for a user of GraphSpace, whereas groups are used to share graphs amongst multiple users of GraphSpace.</p>

<p>Currently, one has to know the exact tag to search for in order to retrieve all graphs that a user has permission to see which match the searched tag.  If you are searching for multiple tags, separate each individual tag value with commas. Ex: help, tutorial, guide</p>

<p>All tags associated with a graph must be defined in the metadata for the graph itself.  Refer to <a href="{{url}}help/programmers/#json_ref">JSON Reference</a>.</p>



<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs">Uploading graphs</h3>

<p>GraphSpace provides two methods to upload graphs: Through the <a href="{{url}}help/programmers/#add_graph">REST API call</a> or through the <a href="{{url}}graphs/upload">web interface</a>.</p>
<hr>
<h4 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs_rest">Via REST API</h4>
<p>This approach allows one to be more flexible and utilize all of the CSS features by specifically referencing them in the <a href="{{url}}help/programmers/#json_ref">JSON</a> for the graph. Please refer to the <a href="{{url}}help/programmers/">Programmer's Guide</a> for more information.</p>
<hr>
<h4 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs_cyjs">Via Web Interface</h4>
<p>For users who don't want to use the <a href="{{url}}help/programmers/">REST API</a> for uploading a graph, we provide an easy web interface for <a href="{{url}}graphs/upload">uploading</a> individual graphs.  This interface allows users to upload their graphs directly into their accounts on GraphSpace.
</p>

<p>We allow for the <a href="{{url}}graphs/upload">upload</a> of two types of files into GraphSpace using this interface: graphs that follow the <a href="">GraphSpace JSON Reference</a> (.json files) and graphs that are exported directly from Cytoscape 3.1 or later (.cyjs files).</p>

<p>Please follow <a href="https://github.com/idekerlab/cy-net-share/wiki">these instructions</a> to export your Cytoscape graph to .cyjs format.</p>

<p><b>Note: Files using the .cyjs format may only be uploaded via the web interface!</b></p>

<p>For users who are not registered on GraphSpace, we provide this upload functionality as a tool to obtain a unique URL that contains the content of any .json/.cyjs file that is uploaded via the web interface.</p>

<p><b>Note: all graphs that are uploaded for unregistered users of GraphSpace will be deleted after 30 days.</b></p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="view_graph">Interact with graphs</h3>

Consider the follow public <a href="{{url}}graphs/craigy%40vt.edu/linker-q_0.5-query_CDC55-path_k_50/">graph</a>:

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/public_graph.png">

<br><br>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="embedded_info">Embedded Information</h3>
Elements (nodes and edges) inside of a graph may have information embedded in them.  Upon clicking any element inside of a graph, the element's border color will turn red.  If the clicked element contains information (see <a href="{{url}}help/programmers/#json_ref">JSON reference</a>), it will show up as part of a pop up box, otherwise no pop up will be shown. The image below shows the information that is contained inside of the node <b>CCT6</b>.
<br><br>
<img width="50%" height="400px" align="middle" src="../../static/images/node_info.png">
<br><br>
The information embedded inside elements may contain external links to sources as well.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="graph_panels">Graph Panels</h3>
When viewing a graph, you'll notice that there are panels to the right of a graph.  Some of these panels are hidden.  Clicking on an individual panel will reveal information the panels contain.
<br><br>
<b style="padding-top: 60px; margin-top: -40px;" id="details_panel">Graph Details Panel</b>: Contains information describing the graph e.g. legend
<br><br>
<img src="../../static/images/gd_panel.png" style="width: 30%"></p>
<br>
<hr>
<b style="padding-top: 60px; margin-top: -40px;" id="search_panel">Searching Panel</b>: Allows user to find nodes/edges that match search terms.  See <a href="{{url}}help#search_in_graph">Elements within a graph</a> for more information.
<br><br>
<img src="../../static/images/s_panel.png" style="width: 30%"></p>

<br>
GraphSpace allows users to send links which contain elements being searched for.  If a user searches for an element and the element is found inside the graph, a link is generated on top of the search bar.  This link provides a reference to this graph with all of the search terms highlighted.  If a GraphSpace user sends this link to someone else, they can follow the link to see the current graph (including all searched elements) provided that they are able to access the graph. [See <a href="#groups">Groups</a>]
<hr>

<b style="padding-top: 50px; margin-top: -40px;" id="export_panel">Export Panel</b>: Allows one to export the entire image of the as a PNG.  The JSON option allows a user to see the exact JSON that was used to render the current graph.
<br>
<img src="../../static/images/e_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="owner_panel">Owner Panel</b>: shows the GraphSpace user whom the graph belongs to
<br>
<img src="../../static/images/o_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="sharing_panel">Sharing Panel</b>: Displays all the groups that a graph is shared with.  If a user is the owner of a graph, they will also have an option to share this graph with all the groups that they are a member of or the own.  [See <a href="#groups">Groups</a>]
<br>
<img src="../../static/images/sh_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="layout_panel">Layouts Panel</b>: Provides <a href="http://js.cytoscape.org/#layouts">multiple methods</a> to display or layout a graph.  <b>Note</b>: a user must have an account with GraphSpace in order to save and share layouts they create.
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Auto Layouts<br><img src="../../static/images/layout_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">Manual Layouts<br><img src="../../static/images/layout_panel.png" style="width: 90%"></p>
<p style="clear: both;"></p>
<br><br>
The 'Auto' option provides methods to automatically layout a graph using their respective <a href="http://js.cytoscape.org/#layouts">algorithms</a>. If a person has created an account and logged into GraphSpace, they they will be allowed to save any changes to the positions of elements in the graph that they manually make.  In addition, they will also be able to view layouts and share layouts with groups that they are a member of. [See <a href="#groups">Groups</a>]
<br><br>
If a user of GraphSpace saves their own layout, they are given the following functionalities for the layout through buttons presented in the following order:
(i) a direct link to this layout, (ii) change name of layout, (iii) share this layout with other users who have access to this graph, (iv) delete this layout, and (v) make it the default layout, i.e., instruct GraphSpace to display this layout whenever a user visits the page for this graph.
<br><br>
<img src="../../static/images/layout_panel_image.png" style="width: 25%"><br>
<br><br>

GraphSpace provides tools for the selection and movement of multiple elements in the graph.  In order to do this, click the <b>Use Layout Editor</b> button.  

<br><br>
<img src="../../static/images/layout_editor.png" style="width: 25%"><br>

Clicking this button takes a user of GraphSpace to a simplified view of the graph.  From here, they may use the tool pallette provided to quickly re-arrange the structure of the graph.  The picture below shows the simplified version of the graph seen throguhout this guide.  Notice that labels for nodes are no longer shown and different options are provided to the user.  

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/graph_layout_editor.png">
<br><br>

The <b>Start Tour</b> button walks a user through all of the features provided in the tool pallette.  The <b>Back to researcher view</b> button gives a user the option to save the current layout and/or go back to the original view of the current graph.  The <b>Select</b> section allows a user to choose elements in the graph based on their properties.  There are two properties from which a user can select elements: <b>Shape</b> and <b>Color</b>.

<br><br>
The <b>Shape</b> section allows a user to select all nodes that are any of the selected shapes.  For example, if a user wanted to select all nodes that are rectangle <b>OR</b> ellipses, they mark ellipse and rectangle under this section.

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/graph_layout_editor2.png">
<br><br>

<br><br>
The <b>Color</b> section allows a user to select all nodes that are any of the selected colors.  For example, if a user wanted to select all nodes that are yellow <b>OR</b> green, they mark yellow and green under this section.

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/graph_layout_editor3.png">
<br><br>

If a user wants to select all nodes that are rectangles <b>AND</b> are yellow, they would select rectangles from the Shape section and yellow from the Color section.

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/graph_layout_editor4.png">
<br><br>

<br><br>
A user may click on the <b>Unselect All Nodes</b> button to reset all selections made.  There are also <b>Undo</b> and <b>Redo</b> buttons in case a user wants to repeat or undo their actions. 

<br><br>
The <b>Arrange</b> section allows a user to arrange all selected nodes into different shapes shown on the buttons. The following picture shows the arrangements of selected nodes that users may construct by clicking the buttons in this section.

<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Open Circle<br><img src="../../static/images/arrange_1.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;">Closed Circle<br><img src="../../static/images/arrange_2.png" style="width: 90%"></p>
<p style="clear: both;"></p>
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Open Rectangle<br><img src="../../static/images/arrange_3.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;">Closed Rectangle<br><img src="../../static/images/arrange_4.png" style="width: 90%"></p>
<p style="clear: both;"></p>
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Vertical Line<br><img src="../../static/images/arrange_5.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;">Horizontal Line<br><img src="../../static/images/arrange_6.png" style="width: 90%"></p>
<p style="clear: both;"></p>
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Pinch<br><img src="../../static/images/arrange_7.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 35%; margin-right: 1%; margin-bottom: 0.5em;">Expand<br><img src="../../static/images/arrange_8.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<br><hr>
<b style="padding-top: 50px; margin-top: -40px;" id="step_panel">Step through filtering Panel</b>: There are graphs in GraphSpace which employ the use of Step through filtering.  This concept allows one to see subgraphs of the entire graph.  In addition, it allows a user to "step" through the connections of a graph in sequential order.  The images below show a user stepping through a graph.
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_1.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"<br><img src="../../static/images/filter_2.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"><br><img src="../../static/images/filter_1.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<br><br>
<b>Max highly probable paths</b> tells GraphSpace to display a subgraph up to the specified value.
<br>
<br>
<b>Number of highly probably paths</b> reveals interactions (connections) that occur at a certain value.  For example, when <b>Number of highly probable paths</b> was 10, the red node was revealed, however, when Number of highly probable paths was 8, it was hidden.
<br>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="share">Share graphs</h3>
<p>Share graphs among members of <a href="#groups">groups</a>.  Sharing graphs with a group gives permission to all members of a group to see the graph.</p>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="sharing_graphs">Sharing graphs with group(s)</h3>
<p>There are two ways to share a graph that a user owns: <a href='{{url}}help/programmers/#share_graph'>REST API</a> and <a href='{{url}}help/#sharing_panel'>Sharing Panel</a>.</p>

In order to share a graph, you must own the graph.  In addition, you must be a member or the owner of the group you want to share the graph with.  Sharing a graph allows all the members in the group to see the graph.  Un-sharing a graph means that no one else in the group is allowed to see that graph anymore.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="sharing_layouts">Sharing layouts with group(s)</h3>

<p>Similar to a graph, a layout may also be shared with a group.  In order for a layout to be shared with a group, the graph (and implicitly the graph owner) must already be shared with a group.  It would make no sense to share a layout with a group if that graph may not be viewed by any of the group's members. <br /><br />When you first create a layout, only the creator of the layout is allowed to see it.  If the graph is publicly available on GraphSpace, then if the user shares the layout they created, the layout will also be made publicly available.  If the graph is privately shared, then if the user decides to share a layout they created, every group that has both the creator of the layout as well as the graph which the layout references will have access to that layout.</p>

<p>See <a href='{{url}}help/#layout_panel'>Layout Panel</a>.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="search">Search graphs</h3>

<p>The Search panel allows for any user of GraphSpace to search for elements and graphs that matches the criteria of ALL query terms.  A user may search for graphs using the name of a graph as well as a node or an edge which a graph may contain.</p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="search_semantics">Semantics</h3>
<p>GraphSpace supports the searching of <b>multiple queries</b>.  In order to search for multiple terms, simply seperate each search term with a ",".  For example: AKT1, AKT3, CTNNB1".</p>
<p>In order to search for an <b>edge</b>, use the following syntax [tail: head] where tail is the name of the source node and the head is the name of the target node.</p>
<p>In order to search for a <b>node</b>, simply enter the node's content. For example: AKT1</p>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="search_in_graph">Elements within a graph</h3>
<p>GraphSpace allows a user to search for a nodes and edges that are inside a graph.  If a search term is found in the graph it is highlighted in the graph.  Multiple nodes and edges may be searched for within a graph by seperating each node/edge with a ",".

<br>
<p> For example, if a user searched for the node 'TEM1', then the node will look like this:</p><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">TEM1 before searching<br><img src="../../static/images/before_searching.png" style="width: 50%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">TEM1 after searching<br><img src="../../static/images/node_search.png" style="width: 50%"></p>
<p style="clear: both;"></p>

<br><br>

If a user wants to search for edge connection from TEF4 to TEM1, they can do so with the following search command: TEF4:TEM1.  The edge will look like this:
<br><br>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Before searching for edge<br><img src="../../static/images/before_edge.png" style="width: 60%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">After searching for edge<br><img src="../../static/images/edge_search.png" style="width: 60%"></p>
<p style="clear: both;"></p>

The <b>Similar</b> option under the search bar allows one to search for all elements within a graph which may have the search term as part of its value.  For example, if there are two nodes CDC5 and CDC55 and the user does a similar search with the term 'CDC', then both CDC5 and CDC55 will be highlighted. 
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all elements within a graph that are identical to the search term. If there are two terms CDC5 and CDC55 and the user does an exact search with the term 'CDC5', only CDC5 will be highlighted.  <b>Note</b>: If the user had searched for the term 'CDC', nothing would have been highlighted since there are no nodes in our example graph which have CDC as their entire value.</p>

<p><b>Note</b>:If there are mulitple search terms, all elements that are contained within the graph that is being searched on will be highlighted.</p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="search_across_graph">Graphs that contain elements</h3>

The <b>Similar</b> option under the search bar allows one to search for all graphs that may contain that word in the graph itself.  This option will return all the graphs that may have a node which contains parts of the term(s) being searching, graphs that may contain part of the searched term in its name, as well as if there are edges which contain part of the searched term(s).
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all graphs that have exactly what is being searched for.  Graphs returned from this option may have a node, graph name, or an edge which is identical to the searched term(s).
<br><br>
To search for graphs that match a graph name, simply type the name or a part of the name of the graph
<br><br>
To search for nodes, type the content inside of the node (text that is contained inside of a node)
<br><br>
To search for edges, search using the following syntax [tail: head] where tail is the name of the node where the arrow is coming from and head is the name of the node that the arrow is point to.  For example, to search for the edge that connects YEF3 to SIR2, type YEF3:SIR2.  All graphs that contain this edge will be presented to the user.  
<br><br>
If searching for multiple values, separate all individual search terms with commas.  Ex: AKT1, AKT3, JUN
<br><br>

<p><b>Note</b>:If there are multiple search terms (and/or tag terms), all graphs that are returned WILL match all of these terms.  All graphs that are returned by the searches of a node and/or an edge will have all searched terms highlighted inside the graph.</p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="organize">Organize Graphs</h3>
<p>To aid the organization of graphs, GraphSpace employs the user of <a href="#tags">Tags</a>. When searching for graphs, a user may use tags to narrow down the number of graphs shown.</p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="program">Programmatically communicate with GraphSpace</h3>
<p>For registered GraphSpace users that want to write scripts to communicate with GraphSpace, a <a href="{{url}}help/programmers">REST API</a> is provided.  This REST API allows access to almost all of the functionality that is provided through the website.  An example of when it would be advantageous to use the REST API would be for tasks that involve multiple iterative tasks such as uploading many graphs and/or sharing graphs with groups.  Consult the <a href="{{url}}help/programmers">Programmer's Guide</a> for more information.</p>

</div>

<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
</footer>

{% endblock %}
