<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help' %}" style="text-align:center">Getting started</a></li>
    <li><a href="{% url 'help_tutorials' %}" style="text-align:center">Tutorials</a></li>
    <li><a href="{% url 'help_graphs' %}" style="text-align:center">Graphs</a></li>
    <li><a href="{% url 'help_restapi' %}" style="text-align:center">REST API</a></li>
    <li><a href="{% url 'help_jsonref' %}" style="text-align:center">JSON Reference</a></li>
    <li><a href="{% url 'help_about' %}" style="text-align:center">About</a></li>
  </ul>
<hr>