{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help' %}" style="text-align:center">Getting started</a></li>
    <li><a href="{% url 'help_tutorials' %}" style="text-align:center">Tutorials</a></li>
    <li><a href="{% url 'help_graphs' %}" style="text-align:center">Graphs</a></li>
    <li class="active"><a href="{% url 'help_restapi' %}" style="text-align:center">REST API</a></li>
    <li><a href="{% url 'help_jsonref' %}" style="text-align:center">JSON Reference</a></li>
    <li><a href="{% url 'help_about' %}" style="text-align:center">About</a></li>
  </ul>
<hr>

<p>
GraphSpace provides a RESTful API for managing your graphs.
Graphs are represented in <a href="http://json.org">JSON</a> format.
</p>

<h3>Prerequisites</h3>

<p>
To execute the examples from the command line you will need an HTTP client. On Debian systems you can install by running </p>

<pre>
sudo apt-get install curl
</pre>

<p><b>In order to fully utilize all the features of GraphSpace, creating an account is strongly recommended.  However, it is not required as any user can still view <a href="{{url}}graphs/">public graphs</a>.</b>
</p>



<h3>API calls</h3>

<p>
Below is a list of the different API calls.
</p>

<ul>
<li><h4><a href="#graphs">Graphs</a></h4>
<ul>
<li><a href="#add_graph">Add graph</a></li>
<li><a href="#get_graph">Get graph</a></li>
<li><a href="#remove_graph">Remove graph</a></li>
<li><a href="#get_user_graphs">Get user graphs</a></li>
<li><a href="#make_graph_public">Make graph public</a></li>
<li><a href="#make_graph_private">Make graph public</a></li>
</ul>
</li>
<li><h4><a href="#groups">Groups</a></h4>
<ul>
<!-- <li><a href="#get_groups">Get groups</a></li> -->
<li><a href="#get_group">Get group</a></li>
<li><a href="#remove_group">Remove group</a></li>
<li><a href="#create_group">Create group</a></li>
<li><a href="#get_user_groups">Get groups a user belongs to</a></li>
<li><a href="#add_user_to_group">Add user to group</a></li>
<li><a href="#remove_user_from_group">Remove user from group</a></li>
<li><a href="#share_graph">Share a graph with a group</a></li>
<li><a href="#unshare_graph">Unshare a graph with a group</a></li>
</ul>
</li>
<li><h4><a href="#tags">Tags</a></h4>
<ul>
<li><a href="#tag_for_user">Get Tags for User</a></li>
<li><a href="#tag_for_graph">Get Tags for Graph</a></li>
<li><a href="#make_graphs_for_tag_public">Make all graphs for a tag public</a></li>
<li><a href="#make_graphs_for_tag_private">Make all graphs for a tag private</a></li>
<li><a href="#delete_graphs_for_tag">Delete all graphs for a tag</a></li>
</ul>
</li>
</ul>

<h2 id="graphs">Graphs</h2>

<h3 id="add_graph">Add graph</h3>

In order to add a graph to the server, make the following POST request where [email] is your email and [password] is your password.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/add/[graphname]/" -F "username=[email]" -F "password=[password]" -F graphname=@"path_to_json"
</pre>

Here is an example of a basic graph JSON:
<pre>
{
    "graph": {
        "nodes": [
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P4314611",
                    "label": "DCC",
                    "height": 50,
                    "width": 50,
                    "color": "yellow"
                }
            }, 
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P0810711",
                    "label": "HSPA1B",
                    "height": 50,
                    "width": 50,
                    "color": "yellow"
                }
            }
        ],
        "edges": [
            {
                "data": {
                    "source": "P4314611",
                    "target": "P0810711",
                    "directed": "true",
                    "color": "#000000",
                    "width": 2
                }
            }
        ]

    },
    "metadata": {
        "description": "This is a tutorial graph",
        "tags": [
            "tutorial"
        ]
    }
}
</pre>

<p><b>The following properties are required for a <em>node</em> to have:</b>
  
  <ul>
    <li>label</li>
    <li>shape</li>
    <li>color</li>
    <li>height</li>
    <li>width</li>
    <li>id (each node id has to be unique)</li>
  </ul>

<br>
<br>

<b>The following properties are required for a <em>edge</em> to have:</b>
  
  <ul>
    <li>color</li>
    <li>source</li>
    <li>target</li>
    <li>directed</li>
    <li>width</li>
  </ul>

</p>

<b>When using HEX value to specify color, be sure to prepend with '#' character e.g. '#000000'</b><br><br>


Example successful response:

<pre>
{
  "Success": "Graph inserted into GraphSpace!"
}
</pre>

If JSON fails validation, it should give some sort of error as to why it failed

<pre>
{"Error": "Property color not in JSON for an edge"}
</pre>

<h3 id="get_graph">Get graph</h3>

To get the JSON for an existing graph use the following GET command. You can only get the JSON for a graph that belongs to you or is shared with a group you belong to.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/get/[graphname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
    "graph": {
        "nodes": [
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P4314611",
                    "label": "DCC",
                    "height": 50,
                    "width": 50,
                    "color": "yellow"
                }
            }, 
            {
                "data": {
                    "shape": "ellipse",
                    "id":"P0810711",
                    "label": "HSPA1B",
                    "height": 50,
                    "width": 50,
                    "color": "yellow"
                }
            }
        ],
        "edges": [
            {
                "data": {
                    "source": "P4314611",
                    "target": "P0810711",
                    "directed": "true",
                    "color": "#000000",
                    "width": 2
                }
            }
        ]

    },
    "metadata": {
        "description": "This is a tutorial graph",
        "tags": [
            "tutorial"
        ]
    }
}
</pre>

Example failed response:

<pre>
{
   "error" : "No such graph exists"
}
</pre>


<h3 id="remove_graph">Remove graph</h3>

To remove a graph use the following command. You can only remove a graph that belongs to you.

<pre>
curl -X POST "{{url}}api/users/[email]/graph/delete/[graphname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
       Successfully deleted edge_test7 owned by divit52@vt.edu
}
</pre>

Example failed response:

<pre>
{
       "error" : "You can only delete your own graphs"
}
</pre>

<pre>
{
       "error" : "No such graph exists"
}
</pre>


<h3 id="get_user_graphs">Get user graphs</h3>

Get all ids of graphs belonging to a user. The result is a JSON object containing a list of all graph ids for the specified user.

<pre>
curl -X POST "{{url}}api/users/[email]/graphs/" -F "username=[email]" -F "password=[password]"
</pre>

Example response:

<pre>
{
  "Graphs" : ["graph1", "graph2"]
}
</pre>

<h3 id="make_graph_public">Make graph public</h3>

Makes a specific graph that user owns public (viewable to all users of GS). All layouts shared with groups will also become public.

<pre>
curl -X POST "http://localhost:8000/api/users/[email]/graph/makeGraphPublic/[graphname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:
<pre>
{"Success": "Successfully made [graphname] owned by [email] public."}
</pre>

Example failed response:
<pre>
{"Error": "Graph with name [graphname] doesn't exist under [email]."}
</pre>
<h3 id="make_graph_private">Make graph private</h3>

Makes a specific graph that user owns private (only groups that graph is shared with and owner of graph can see it).

<pre>
curl -X POST "http://localhost:8000/api/users/[email]/graph/makeGraphPrivate/[graphname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:
<pre>
{"Success": "Successfully made [graphname] owned by [email] private."}
</pre>

Example failed response:
<pre>
{"Error": "Graph with name [graphname] doesn't exist under [email]."}
</pre>
<h2 id="groups">Groups</h2>

<!-- <h3 id="get_groups">Get groups</h3>

Get the ids of all groups on the server. The result is a JSON object containing a list of all groups, including their descriptions and owners.

<pre>
curl -X POST "{{url}}api/groups/get/" -F "username=[email]" -F "password=[password]"
</pre>

Example response:

<pre>
{
   "groups" : [
      {
         "owner" : "divit52@vt.edu",
         "id" : "Research",
         "description" : "Research team group."
      }
   ]
}
</pre> -->

<h3 id="get_group">Get group</h3>

Get a group by id. The result is a JSON object with the group's id, description, and owner, as well as the list of users belonging to the group, and the list of graph ids (and the user ids for those graphs) that are shared with the group.

<pre>
curl -X POST "{{url}}api/groups/[groups]/get/" -F "username=[email]" -F "password=[password]"
</pre>

Example response:

<pre>
{
   "owner" : "divit52@vt.edu",
   "graphs" : [
      {
         "id" : "158148980"
      }
   ],
   "users" : [
      {
         "id" : "divit52@vt.edu"
      }
   ],
   "id" : "Research",
   "description" : "Research team group."
}
</pre>

<h3 id="create_group">Create group</h3>

To create a group, use the following command. You will be the owner of the group, and you will have to set the description later.

<pre>
curl -X POST "{{url}}api/groups/add/[group_owner]/[groupname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example response:

<pre>
{
   {"Group Name": "[groupname]", "Upload": "Success"}
}
</pre>

<h3 id="remove_group">Remove group</h3>

To remove a group use the following command. You can only remove a group that you are the owner of.

<pre>
curl -X POST "{{url}}api/groups/delete/[group_owner]/[groupname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
       "Success" : "Successfully deleted group owned by [group_owner]."
}
</pre>

Example failed response:

<pre>
{
       "Failure" : "You can only delete your own groups"
}
</pre>

<pre>
{
       "Failure" : "No such group exists"
}
</pre>

<h3 id="get_user_groups">Get groups a user belongs to</h3>

Get groups a user belongs to. The result is a JSON object with a list of group ids.

<pre>
curl -X POST "{{url}}api/users/[email]/groups/" -F "username=[email]" -F "password=[password]"</pre>

Example response:

<pre>
{
   "groups" : [
      {
         "id" : "Research"
      }
   ]
}
</pre>

<h3 id="add_user_to_group">Add user to group</h3>

Add a user to a group. You can only add a user to a group that you belong to.

<pre>
curl -X POST "{{url}}api/groups/[group_owner]/[groupname]/adduser/[member]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
   "Success" : "Successfully added user [member] to group [groupname]."
}
</pre>

<!-- Example failed response:

<pre>
</pre> -->

<h3 id="remove_user_from_group">Remove user from group</h3>

Remove a user from a group. You can remove yourself from any group, but you must be the owner of a group to remove other members.

<pre>
curl -X POST "{{url}}api/groups/[group_owner]/[groupname]/removeuser/[member]/" -F "username=dsingh5270@gmail.com" -F "password=test"
</pre>

Example successful response:

<pre>
{
   "Success" : "Successfully removed user [member] from group [groupname]."
}
</pre>

<!-- Example failed response:

<pre>
</pre> -->


<h3 id="share_graph">Share graph with a group</h3>

Share a graph with a group, effectively giving all members in the group read permission. You can only share graphs you own with groups you belong to.

<pre>
curl -X POST "{{url}}api/users/graphs/[graph name]/share/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
   "Success" : "Shared graph owned by [email] with group [groupname]."
}
</pre>

<h3 id="unshare_graph">Unshare graph with a group</h3>

Unshare a graph with a group, effectively removing read permission from all members in the group. You can only unshare graphs you own from groups you belong to.

<pre>
curl -X POST "{{url}}api/users/graphs/[graphname]/unshare/[group_owner]/[group name]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{
   "Success" : "Unshared graph [graphname] owned by [email] with group [groupname]."
}
</pre>

<h3 id='tag_for_user'>Get Tags for User</h3>

Get all the tags that a user has for their graphs.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{"Response": ["ISMB-2014-Crosstalk"]}
</pre>

<h3 id='tag_for_graph'>Get Tags for a Graph</h3>

Get all the tags that are attached to a certain graph.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[graphname]/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:
<pre>
{"Response": ["ISMB-2014-Crosstalk"]}
</pre>

<h3 id='make_graphs_for_tag_public'>Make all graphs for a tag public</h3>

Changes the privacy of all graphs that contain a [tag] under [email] public.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/makePublic/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{"Success": "Graph with tag have been made public"}
</pre>

<h3 id='make_graphs_for_tag_private'>Make all graphs for a tag private</h3>

Changes the privacy of all graphs that contain a [tag] under [email] private.
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/makePrivate/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{"Success": "Graph with tag have been made private"}
</pre>

<h3 id='delete_graphs_for_tag'>Delete all graphs for a tag</h3>

Delets all graphs that contain a [tag] under [email].
<pre>
curl -X POST "{{url}}api/tags/user/[email]/[tag]/delete/" -F "username=[email]" -F "password=[password]"
</pre>

Example successful response:

<pre>
{"Success": "Graphs with tag have been deleted"}
</pre>

{% endblock %}

{% block css-js-footer %}
<!-- load stylesheets -->
<!-- stylesheet for elements specified in this html(register.html) -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/register.css' %}">

{% endblock %}