{% extends 'base.html' %}
{% block content %}

<div class="container graphs">

<ul class="nav nav-pills">
    <li><a href="{% url 'help_tutorial' %}" style="text-align:center">Tutorial</a></li>
    <li class="active"><a href="{% url 'help' %}" style="text-align:center">User's Guide</a></li>
    <li ><a href="{% url 'help_programmers' %}" style="text-align:center">Programmer's Guide</a></li>
</ul>
<hr>

<!-- <h1>Welcome to GraphSpace!</h1>
 -->
<!-- <hr> -->
<b>This page should help familiarize you with GraphSpace's interface and basic features.</b>

<br/>
<br/>
<ul>
<li><h4><a href="#graphs">Graphs</a></h4>
<ul>
<li><a href="#what_is">What is a graph</a></li>
<li><a href="#public_private">Public vs. Private Graphs</a></li>
<li><a href="#view_graph">Viewing a graph</a></li>
	<ul>
		<li><a href="#embedded_info">Embedded Information</a></li>
		<li><a href="#graph_panels">Graph Panels</a>
			<ul>
				<li><a href="#details_panel">Graph Details Panel</a></li>
				<li><a href="#search_panel">Search Panel</a></li>
				<li><a href="#export_panel">Export Panel</a></li>
				<li><a href="#owner_panel">Owner Panel</a></li>
				<li><a href="#sharing_panel">Sharing Panel</a></li>
				<li><a href="#layout_panel">Layouts Panel</a></li>
				<li><a href="#step_panel">Step through Filtering Panel</a></li>
			</ul>
		</li>
	</ul>
<li><a href="#finding_graphs">Finding Graphs</a></li>
<li><a href="#upload_graphs">Uploading Graphs</a></li>
	<ul>
		<li><a href="#upload_graphs_rest">Via REST API</a></li>
		<li><a href="#upload_graphs_cyjs">Via Web Interface</a></li>
	</ul>
<li><a href="#search">Searching for graphs</a></li>
</ul>
</li>
<li><h4><a href="#groups">Groups</a></h4>
<ul>
<!-- 	<li><a href="#grouping_graphs">Grouping graphs</a></li>
 -->	<li><a href="#sharing_graphs">Sharing graphs</a></li>
	<li><a href="#sharing_layouts">Group layouts</a></li>
</ul>
</li>
<li><h4><a href="#tags">Tags</a></h4></li>
</ul>

<hr>

<h3 style="padding-top: 50px; margin-top: -40px;" id="what_is">What is a graph?</h3>

<p>A <a href="http://en.wikipedia.org/wiki/Graph_(mathematics)">graph</a> is a mathematical object containing nodes and edges which connect the nodes together.</p>

<p>Graphs may be used to represent many different types of models such as computer networks and biological pathways.  A graph may contain nodes(vertices) and edges(lines).  In GraphSpace, we utilize these two objects to layout biological networks.  In these networks, nodes may be thought of as proteins, and edges may be thought of as interactions between two proteins.  An edge that connects two proteins indicates an interaction between them.</p>
<!-- 
<ul>
<li><a href="#view">I want to find and view graphs that are shared with me</a>
<li><a href="#upload">I want to upload graphs</a>
<li><a href="#sharing">I want to share my graphs</a>
</ul> -->
<!-- <h3 style="padding-top: 50px; margin-top: -40px;" id="navigating_gs">Navigating GraphSpace</h3>

Users of GraphSpace who have not made an account or have not logged in may only see <a href="{{url}}graphs/public">public graphs</a>.  Public graphs contains all graphs that are available to everyone.  Any person on GraphSpace may upload a graph.  Users without a GraphSpace account may only <a href="{{url}}graphs/upload/">upload</a> public graphs.  If a person is a registered user of GraphSpace, they may upload via the <a href="{{url}}help/programmers#add_graph">REST API</a> or <a href="{{url}}graphs/upload/">web interface</a>.  Registered users of GraphSpace may specify whether they want their graphs to be private or public via <a href="{{url}}help/programmers#make_graph_public">REST API</a>.<br><br>
When a user is <b>logged into GraphSpace</b>, they may navigate to the <a href="{{url}}graphs/">Graphs</a> section in order to see all of the graphs that they have permissions to see.  The "Graphs" section has three options, <a href="{{url}}graphs/">My Graphs</a>  (all graphs that the user has already uploaded), <a href="{{url}}graphs/shared">Shared Graphs</a> (graphs that are shared with groups that the user is member of), and <a href="{{url}}graphs/public">Public Graphs</a>  (graphs that everyone can view). -->
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="public_private">Public vs. Private Graphs</h3>
<p>When a registered user uploads a graph to GraphSpace either through the <a href="{{url}}help/programmers#add_graph">REST API call</a> found in the <a href="{{url}}help/programmers">Programmer's Guide</a> or through the <a href="{{url}}graphs/upload">web interface</a>, it is by default uploaded as a <b>private</b> graph.  A private graph may only be viewed by the owner of the graph (registered user who uploaded the graph).  The only way a private graph may be viewed by other registered GraphSpace users is if the private graph is shared with a <a href="#groups">group</a>.  If the owner of the graph is part of a group and shares their private graph with the group, all members of the group may view it as well as create their own layouts for the graph. (See <a href="#layout_panel">Layouts Panel</a>)</p>

<p>A <b>public</b> graph is viewable to any person that visits GraphSpace.  In order to make a private graph public, it may be done so through the <a href="{{url}}help/programmers/#make_graph_public">REST API</a>.  By making a graph public, it allows all registered users to share their layouts to the graph. (See <a href="#layout_panel">Layouts Panel</a>)</p> 


<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="view_graph">Viewing a Graph</h3>

Consider the follow public <a href="{{url}}graphs/craigy%40vt.edu/linker-q_0.5-query_CDC55-path_k_50/">graph</a> below:

<br><br>
<img width="80%" height="500px" align="middle" src="../../static/images/public_graph.png">

<br><br>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="embedded_info">Embedded Information</h3>
Elements (nodes and edges) inside of a graph may have information embedded in them.  Upon clicking any element inside of a graph, the element's border color will turn red.  If the clicked element contains information (see <a href="{{url}}help/programmers/#json_ref">JSON reference</a>), it will show up as part of a pop up box, otherwise no pop up will be shown. The image below shows the information that is contained inside of the node <b>CCT6</b>.
<br><br>
<img width="50%" height="400px" align="middle" src="../../static/images/node_info.png">
<br><br>
The information embedded inside elements may contain external links to sources as well.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="graph_panels">Graph Panels</h3>
When viewing a graph, you'll notice that there are panels to the right of a graph.  Some of these panels are hidden.  Clicking on an individual panel will reveal information the panels contain.
<br><br>
<b style="padding-top: 60px; margin-top: -40px;" id="details_panel">Graph Details Panel</b>: Contains information describing the graph e.g. legend
<br><br>
<img src="../../static/images/gd_panel.png" style="width: 30%"></p>
<br>
<hr>
<b style="padding-top: 60px; margin-top: -40px;" id="search_panel">Searching Panel</b>: Allows user to find nodes/edges that match search terms.  If a user wants to search for a node, simply enter the text that is displayed on the node.  If a user wants to search for an edge, enter a query in the following format: [tail: head], where the tail is a node that an edge is pointing from, and the head is a node which the arrow is pointing towards.
<br><br>
<img src="../../static/images/s_panel.png" style="width: 30%"></p>
<br>
<p> For example, if a user searched for the node 'TEM1', then the node will look like this:</p><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">TEM1 before searching<br><img src="../../static/images/before_searching.png" style="width: 50%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">TEM1 after searching<br><img src="../../static/images/node_search.png" style="width: 50%"></p>
<p style="clear: both;"></p>

<br><br>

If a user wants to search for edge connection from TEF4 to TEM1, they can do so with the following search command: TEF4:TEM1.  The edge will look like this:
<br><br>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Before searching for edge<br><img src="../../static/images/before_edge.png" style="width: 60%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">After searching for edge<br><img src="../../static/images/edge_search.png" style="width: 60%"></p>
<p style="clear: both;"></p>

<br><br>
GraphSpace allows users to send links which contain elements of a graph to be <b>distinguished</b>.  If a user searches for an element and the element is found inside the graph, a link is generated on top of the search bar.  This link provides a reference to this graph along with all of the elements to be distinguished.  If a GraphSpace user sends this link to someone else, they can follow the link to see the current graph (including all distinguished elements) provided that they are able to access the graph. [See <a href="#groups">Groups</a> below]
<br><br>
The <b>Similar</b> option under the search bar allows one to search for all elements within a graph which may have the search term as part of its value.  For example, if there are two nodes CDC5 and CDC55 and the user does a similar search with the term 'CDC', then both CDC5 and CDC55 will be distinguished. 
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all elements within a graph that are identical to the search term. If there are two terms CDC5 and CDC55 and the user does an exact search with the term 'CDC5', only CDC5 will be distinguished.  <b>Note</b>: If the user had searched for the term 'CDC', nothing would have been distinguished since there are no nodes in our example graph which have CDC as their entire value.
<hr>
<!--
Consider a graph which contains 4 nodes: Node_1, Node_2, Node_3, and Node_10.  There is an edge connecting Node_1 to Node_2, Node_2 to Node_3 and Node_3 to Node_10.

<br><br>
The following table describes which nodes will be distinguished if a user of GraphSpace were to search this graph using Similar vs Exact search:
<br><br>

<table border="1" cellspacing="10" cellpadding="10" > 
<tbody>
<tr>
<td valign="top" ><p>Type of Search</p></td>
<td valign="top" ><p>Search Term</p></td>
<td valign="top" ><p>Nodes Distingushed</p></td>
</tr>

<tr>
<td valign="top" ><p>Exact</p></td>
<td valign="top" ><p>Node_1</p></td>
<td valign="top" ><p>Node_1</p></td>
</tr>

<tr>
<td valign="top" ><p>Similar</p></td>
<td valign="top" ><p>Node_1</p></td>
<td valign="top" ><p>Node_1</p></td>
</tr>

<tr>
<td valign="top" ><p>Exact</p></td>
<td valign="top" ><p>Node_</p></td>
<td valign="top" ><p>No nodes are distinguished</p></td>
</tr>

<tr>
<td valign="top" ><p>Similar</p></td>
<td valign="top" ><p>Node_</p></td>
<td valign="top" ><p>Node_1, Node_2, Node_3, Node_10</p></td>
</tr>

<tr>
<td valign="top" ><p>Exact</p></td>
<td valign="top" ><p>node_1</p></td>
<td valign="top" ><p>No nodes are distinguished</p></td>
</tr>

<tr>
<td valign="top" ><p>Similar</p></td>
<td valign="top" ><p>node_1</p></td>
<td valign="top" ><p>Node_1</p></td>
</tr>

<tr>
<td valign="top" ><p>Similar</p></td>
<td valign="top" ><p>Node_1</p></td>
<td valign="top" ><p>Node_1, Node_10</p></td>
</tr>

</tbody>
</table>
<br>-->
<!-- Each term that is searched for while viewing the graph will get added to any previous search query.  For example, assume that there are two nodes, AKT1 and AKT3 that exist inside a graph.  The user searches for the term 'AKT1' using exact search.  If the user then exact searches for 'AKT3', then AKT3, in addition to AKT1 (from the previous search query) will be distinguished in the graph.  If one wishes to clear any search terms, they may do so by clicking the appropriate search term under the search bar.
 -->

<b style="padding-top: 50px; margin-top: -40px;" id="export_panel">Export Panel</b>: Allows one to export the entire image of the as a PNG.  The JSON option allows a user to see the exact JSON that was used to render the current graph.
<br>
<img src="../../static/images/e_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="owner_panel">Owner Panel</b>: shows the GraphSpace user whom the graph belongs to
<br>
<img src="../../static/images/o_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="sharing_panel">Sharing Panel</b>: Displays all the groups that a graph is shared with.  If a user is the owner of a graph, they will also have an option to share this graph with all the groups that they are a member of or the own.  [See <a href="#groups">Groups</a> below]
<br>
<img src="../../static/images/sh_panel.png" style="width: 30%"><br>
<hr>
<b style="padding-top: 50px; margin-top: -40px;" id="layout_panel">Layouts Panel</b>: Provides <a href="http://js.cytoscape.org/#layouts">multiple methods</a> to display or layout a graph.  <b>Note</b>: a user must have an account with GraphSpace in order to save and share layouts they create.
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;">Auto Layouts<br><img src="../../static/images/layout_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">Manual Layouts<br><img src="../../static/images/layout_panel.png" style="width: 90%"></p>
<p style="clear: both;"></p>
<br><br>
The 'Auto' option provides methods to automatically layout a graph using their respective <a href="http://js.cytoscape.org/#layouts">algorithms</a>. If a person has created an account and logged into GraphSpace, they they will be allowed to save any changes to the positions of elements in the graph that they manually make.  In addition, they will also be able to view layouts and share layouts with groups that they are a member of. [See <a href="#groups">Groups</a> below]
<br><br>
If a user of GraphSpace saves their own layout, they are given the following functionalities for the layout through buttons presented in the following order:
(i) a direct link to this layout, (ii) change name of layout, (iii) share this layout with other users who have access to this graph, (iv) delete this layout, and (v) make it the default layout, i.e., instruct GraphSpace to display this layout whenever a user visits the page for this graph.
<br><br>
<img src="../../static/images/layout_panel_image.png" style="width: 25%"><br>

<br><hr>
<b style="padding-top: 50px; margin-top: -40px;" id="step_panel">Step through filtering Panel</b>: There are graphs in GraphSpace which employ the use of Step through filtering.  This concept allows one to see subgraphs of the entire graph.  In addition, it allows a user to "step" through the connections of a graph in sequential order.  The images below show a user stepping through a graph.
<br><br>
<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_1.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"<br><img src="../../static/images/filter_2.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;margin-left: 15%;"><br><img src="../../static/images/step_2.png" style="width: 90%"></p>

<p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"><br><img src="../../static/images/filter_1.png" style="width: 90%"></p>
<p style="clear: both;"></p>

<br><br>
<b>Max highly probable paths</b> tells GraphSpace to display a subgraph up to the specified value.
<br>
<br>
<b>Number of highly probably paths</b> reveals interactions (connections) that occur at a certain value.  For example, when <b>Number of highly probable paths</b> was 10, the red node was revealed, however, when Number of highly probable paths was 8, it was hidden.
<br><hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="finding_graphs">Finding graphs</h3>

Depending on the resolution of the computer that is used to access GraphSpace, one of two navigation bars may be shown at the top of the screen:
<br><br>
<img src="../../static/images/navbar.png" style="width: 60%;"><br>
<br><br>
or depending on the resolution, may look like:
<br><br>
<img src="../../static/images/navbar-2.png" style="width: 60%;"><br>
<br><br>

If the latter is shown, simply click on the toggle icon on the right of the navigation bar to reveal the links and buttons.

<br><br>
<img src="../../static/images/navbar-2-circle.png" style="width: 60%;"><br>
<br><br>

<br><br>
<img src="../../static/images/navbar-2-graphs.png" style="width: 60%;"><br>
<br><br>

On your graphs page, you will see buttons at the top of the page called "My Graphs", "Shared with me" and "Public graphs".

<ul>

<li><b><a href="{{url}}graphs/">My Graphs</a></b> will show graphs that you own (you have uploaded). <b>(GraphSpace account required)</b></li>

<li><b><a href="{{url}}graphs/shared/">Shared with me</a></b> will show graphs that have been shared with you through groups [See <a href="#groups">groups</a> below]. <b>(GraphSpace account required)</b></li>

<li><b><a href="{{url}}graphs/public/">Public Graphs</a></b> will show graphs that have been made publicly available on GraphSpace.</li>

</ul>

<p>If a user is logged into GraphSpace, then the graphs link will take them to graphs which they own.  If the user is not logged in, the graphs link will direct them to the public graphs page.</p>

<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs">Uploading graphs</h3>

<p>GraphSpace provides two methods to upload graphs: Through the <a href="{{url}}help/programmers/#add_graph">REST API call</a> or through the <a href="{{url}}graphs/upload">web interface</a>.</p>
<hr>
<h4 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs_rest">Via REST API</h4>
<p>This approach allows one to be more flexible and utilize all of the CSS features by specifically referencing them in the <a href="{{url}}help/programmers/#json_ref">JSON</a> for the graph. Please refer to the <a href="{{url}}help/programmers/">Programmer's Guide</a> for more information.</p>
<hr>
<h4 style="padding-top: 50px; margin-top: -40px;" id="upload_graphs_cyjs">Via Web Interface</h4>
<p>For users who don't want to use the <a href="{{url}}help/programmers/">REST API</a> for uploading a graph, we provide an easy web interface for <a href="{{url}}graphs/upload">uploading</a> individual graphs.  This interface allows users to upload their graphs directly into their accounts on GraphSpace.
</p>

<p>We allow for the <a href="{{url}}graphs/upload">upload</a> of two types of files into GraphSpace using this interface: graphs that follow the <a href="">GraphSpace JSON Reference</a> (.json files) and graphs that are exported directly from Cytoscape 3.1 or later (.cyjs files).</p>

<p>Please follow <a href="https://github.com/idekerlab/cy-net-share/wiki">these instructions</a> to export your Cytoscape graph to .cyjs format.</p>

<p><b>Note: Files using the .cyjs format may only be uploaded via the web interface!</b></p>

<!-- <p>For users who want to test drive GraphSpace and also use Cytoscape (3.1 or later), we allow <a href="{{url}}graphs/upload">uploads</a> of individual graphs in the CYJS format as well. Please follow <a href="https://github.com/idekerlab/cy-net-share/wiki">these instructions</a> to export your Cytoscape graph to CYJS format.<b>Note: CYJS Files may only be uploaded via this user interface!</b></p> -->

<p>For users who are not registered on GraphSpace, we provide this upload functionality as a tool to obtain a unique URL that contains the content of any .json/.cyjs file that is uploaded via the web interface.</p>

<p><b>Note: all graphs that are uploaded for unregistered users of GraphSpace will be deleted after 30 days.</b></p>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="search">Searching for graphs</h3>

While on the graphs page, there are two panels: Search and Tags [See <a href="#tags">Tags</a> section].  The Search panel allows for any user of GraphSpace to search a graph that matches the criteria of ALL search queries.  A user may search for graphs using its name as well as a node or an edge which a graph may contain.  
<br><br>
<img src="../../static/images/graph_search_panel.png" style="width: 60%;"><br>
<br><br>
The <b>Similar</b> option under the search bar allows one to search for all graphs that may contain that word in the graph itself.  This option will return all the graphs that may have a node which contains parts of the term(s) being searching, graphs that may contain part of the searched term in its name, as well as if there are edges which contain part of the searched term(s).
<br><br>
The <b>Exact</b> option under the search bar allows one to search for all graphs that have exactly what is being searched for.  Graphs returned from this option may have a node, graph name, or an edge which is identical to the searched term(s).
<br><br>
To search for graphs that match a graph name, simply type the name or a part of the name of the graph
<br><br>
To search for nodes, type the content inside of the node (text that is contained inside of a node)
<br><br>
To search for edges, search using the following syntax [tail: head] where tail is the name of the node where the arrow is coming from and head is the name of the node that the arrow is point to.  For example, to search for the edge that connects YEF3 to SIR2, type YEF3:SIR2.  All graphs that contain this edge will be presented to the user.  
<br><br>
If searching for multiple values, separate all individual search terms with commas.  Ex: AKT1, AKT3, JUN
<br><br>
<!-- <p>Refer to <a href="#search_panel">Searching Panel</a> for more information on searching funcitonality</p>
 -->
<p><b>Note</b>:If there are multiple search terms (and/or tag terms), all graphs that are returned WILL match all of these terms.  All graphs that are returned by the searches of a node and/or an edge will have all searched terms <b>distinguished</b> inside the graph.</p>
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="groups">Groups</h3>

<b>Note</b>: GraphSpace account required for this feature

<br><br>
Groups may be thought of as a collection of GraphSpace users.  For example, if there are multiple researchers who are working on the same project, a group may be created containing all of the researchers.  Once a GraphSpace user is within a group, they may share any graph which they own with the rest of the group.  Only members of the group will be able to see the graph.
<br><br>
A <b>group owner</b> is the creator of the group.  They may<ul><li>Invite any GraphSpace user that has an account to be a member of their group <li>Remove any member from their group</li><li>Unshare any graph that has already been shared by the members of their group</li></ul>
A <b>group member</b> is a user that is a part of a group that is owned by someone else. They may<ul><li>Share their graphs with a group</li><li>Unshare the graphs that they own from the group</li></ul>
<b>Both groups owners and group members</b> may share layouts of any graph that is already shared with the group.

<!--
<h3 style="padding-top: 50px; margin-top: -40px;" id="grouping_graphs">Grouping graphs</h3>

You can also look at groups, which are collections of graphs shared by members of the group. Click on groups in the navigation bar. You should see the following categories for groups

<ul>

<li><b><a href="{{url}}groups/">Owner of</a></b> are groups that you have created and are the owner of. You can set the description of groups that you own as well as add or remove members. All other functionality is accomplished through the <a href="{{url}}help/programmers/#groups">REST API</a></li>

<li><b><a href="{{url}}groups/member/">Members of</a></b> are groups that you have been added to. You can view or add graphs to these groups through the <a href="{{url}}help/programmers/#groups">REST API</a></li>

</ul> -->
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="sharing_graphs">Sharing graphs with group(s)</h3>
<p>There are two ways to share a graph that a user owns: <a href='{{url}}help/programmers/#share_graph'>REST API</a> and <a href='{{url}}help/#sharing_panel'>Sharing Panel</a>.</p>

In order to share a graph, you must own the graph.  In addition, you must be a member or the owner of the group you want to share the graph with.  Sharing a graph allows all the members in the group to see the graph.  Un-sharing a graph means that no one else in the group is allowed to see that graph anymore.
<hr>
<h3 style="padding-top: 50px; margin-top: -40px;" id="sharing_layouts">Sharing layouts with group(s)</h3>

<p>Similar to a graph, a layout may also be shared with a group.  In order for a layout to be shared with a group, the graph (and implicitly the graph owner) must already be shared with a group.  It would make no sense to share a layout with a group if that graph may not be viewed by any of the group's members. <br /><br />When you first create a layout, only the creator of the layout is allowed to see it.  If the graph is publicly available on GraphSpace, then if the user shares the layout they created, the layout will also be made publicly available.  If the graph is privately shared, then if the user decides to share a layout they created, every group that has both the creator of the layout as well as the graph which the layout references will have access to that layout.</p>

<p>See <a href='{{url}}help/#layout_panel'>Layout Panel</a>.
<hr>
<h3 id="tags">Tags</h3>

<p>Tags are used to categorize graphs.  For example, if a user is uploading multiple graphs to GraphSpace for a specific paper, a tag would be used to categorize all the graphs related to the paper.  On the graphs page, a user can search for graphs that match a tag.  A graph may have any amount of tags that the user sees fit.  It is advantageous for users to group all graphs they upload using tags as it allows for <b>clear organization</b> of work on GraphSpace.  Tags are used to organize graphs for a user of GraphSpace, whereas groups are used to share graphs amongst multiple users of GraphSpace.</p>

<p>Currently, one has to know the exact tag to search for in order to retrieve all graphs that a user has permission to see which match the searched tag.  If you are searching for multiple tags, separate each individual tag value with commas. Ex: help, tutorial, guide</p>

<p>All tags associated with a graph must be defined in the metadata for the graph itself.  Refer to <a href="{{url}}help/programmers/#json_ref">JSON Reference</a>.</p>


</div>

<footer class="footer">
<br>Powered by <a href="https://www.djangoproject.com/">Django 1.7.6</a>
<br><a href = "http://js.cytoscape.org/">Cytoscape.js 2.5.0</a>
</footer>

{% endblock %}