{% extends 'base.html' %}
{% block content %}
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69001577-1', 'auto');
      ga('send', 'pageview');

    </script>
    
	    <div class="container">

			<div class="content">

				<div class="jumbotron">

					<h1>Welcome to GraphSpace!</h1>

					<big>The interactive graph sharing website.</big>

					<br/>

					<!-- <h3>This is still under construction, so please don't mind the bugs.  In fact, report them to <b>divit52@vt.edu</b> :)</h3> -->

					{% if uid != None %}
						<big>You are logged in, go to <a href="/graphs">Graphs</a> to view your graphs or <a href="/graphs/upload">upload</a> a new graph.<br>
						</big>
					{% else %}
						<big>If you don't have an account right now, you can check out <a href="../graphs/">public graphs</a> or <a href="/graphs/upload">upload</a> a new graph.<br></big> 

					{% endif %}
					<!-- To learn about how you can use GraphSpace, check out

					<a href="help/getting-started">getting started</a> -->

					<br/>

					<h4>Please contact <b>murali@cs.vt.edu</b> for any questions/concerns.</h4>

					<br/>

					<!--For example graphs with code check out the

					<a href="help/demos">demos page</a>

					<br/>-->



					

				</div>

			</div>

		</div>
{% endblock %}

