{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

{% if uid != None %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Group1</h3>
  </div>
  <table class="table">
    <tr> 
    <td> <a href="">seth.mridul@gmail.com shared graph some_name_of_graph with the group Group 1.</td>
    </tr>
    <tr> 
    <td> <a href="">seth.mridul@gmail.com shared graph some_other_graph with the group Group 1.</td>
    </tr>

  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Group 2</h3>
  </div>
    <table class="table">
    <tr> 
    <td> <a href="">seth.mridul@gmail.com shared graph new_graph with the group Group 2.</td>
    </tr>
    <tr> 
    <td> <a href="">seth.mridul@gmail.com shared graph test_graph with the group Group 2.</td>
    </tr>
    <tr> 
    <td> <a href="">seth.mridul@gmail.com shared graph random_graph with the group Group 2.</td>
    </tr>

  </table>

</div>
{% endif %}
{% endblock %}