{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'graphs/js/notifications.js' %}"></script>

{% if uid != None %}



<br>
<div class="row"><button style="position: relative;
   right: 100px; float: right;" class="btn btn-default read_all_user_notifications" value="{{ uid }}">Mark all notifications as read</button></div>

<br>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Groups</div>
  <div class="panel-body">
    <p>Notifications</p>
  </div>

  <!-- Table -->
  <table class="table">
  {% for group in groups_for_user %}
    <tr>
    <td><a href="{% url 'notifications' uid %}{{ group.groupId }}">{{ group.groupId }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
  </div>


{% if notifications != None %}
{% if check_new_notifications == True %}
<div class="col-sm-8">

<!-- <div class="column"> -->
{% for group, events in notifications.items %}
{% if events != None %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ group }}</h3>
  </div>
  <table class="table">
  {% for event in events %}
  {% if event.owner_id != uid %}
  {% if event.is_active == 1 %}
    <tr> 
    <td> <a href="{% url 'graphs' %}/{{ event.owner_id }}/{{ event.graph_id}}">{{ event.owner_id }} shared {{ event.graph_id }} with {{ event.group_id }}.</td>
    <td><div id="read_notification" ><button class="btn btn-default read_notification" id="{{ event.id }}" value="{{ event.member_id }}">Mark as read</button></div></td>
    </tr>
  {% endif %}
  {% endif %}
  {% endfor %}

  </table>
  <div class="panel-footer"><div class="test"><button class="btn btn-default read_all_notifications" id="{{ group }}" value="{{ event.member_id }}">Mark all as read</button></div></div>
</div>
{% endif %}
{% endfor %}
</div>

</div>
<!-- </div> -->
{% else %}
<div class="col-sm-8">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title" style="text-align: center">No new notifications.</h4>
  </div>
</div>
</div> 
{% endif %}
{% else %}
<div class="col-sm-8">

<!-- <div class="column"> -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ group }}</h3>
  </div>
  <table class="table">
  {% for event in all_events_in_group %}
  {% if event.owner_id != uid %}
    <tr> 
    <td> <a href="{% url 'graphs' %}/{{ event.owner_id }}/{{ event.graph_id}}">{{ event.owner_id }} shared {{ event.graph_id }} with {{ event.group_id }}.</td>
    </tr>
  {% endif %}
  {% endfor %}

  </table>
</div>

</div>

</div>
{% endif %}

{% endif %}
{% endblock %}