{% extends 'base.html' %}
{% load staticfiles %}
{% block cytoscapeweb %}

<script type="text/javascript">
    var graph_json = {{ graph|safe }};
    var layout = {{ layout_to_view|safe }};
    window.cy;
</script>

<div id="dialog"></div>

<!--#######################################-->

 <!-- Save Modal -->
        <div class="modal fade" id="layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Save Layout</h4>
              </div>
              <div class="modal-body">

                <form method="post" id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                       <div class="control-group">
                            <label for="layout_name">Layout Name</label>
                            <input id="layout_name" class="form-control" type="text" name="layout_name" autocomplete="off"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <button name="save_layout" id="save_layout" class="btn btn-success">Save Layout</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div> 
                </form>

              </div>
            </div>
          </div>
        </div>

<!-- Change Layout Name Modal -->
        <div class="modal fade" id="change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Change Name of Layout</h4>
              </div>
              <div class="modal-body">

                <form id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                       <div class="control-group">
                            <label for="layout_name">New Layout Name</label>
                            <input id="new_layout_name" class="form-control" type="text" name="new_layout_name" autocomplete="off"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="button" id="change_layout" value="" class="btn btn-success">Save Layout</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div> 
                </form>

              </div>
            </div>
          </div>
        </div>

<!-- Share Groups Modal -->
<div class="modal fade" id="share_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Select all groups to share graph with</h4>
              </div>
              <div class="modal-body">
                    <div class="group_body">
                        <ul class="list-group checked-list-box">
                        </ul>
                    </div>
                    <div class="form-group">
                        <button type="button" id="share_graph_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
              </div>
            </div>
          </div>
        </div>


<!-- Share Layouts Modal -->
<div class="modal fade" id="share_layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Select all groups to share layout with</h4>
              </div>
              <div class="modal-body">
                    <div class="group_body">
                        <ul class="list-group checked-list-box">
                        </ul>
                    </div>
                    <div class="form-group">
                        <button type="button" id="share_layout_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

              </div>
            </div>
          </div>
        </div>

<div class="container-fluid csjs_container">

    <p id"test"></p>
    <div id="graph_title" ><h1 id="title" style="display:none;">{{graph_name}}</h1></div>
    <div class="csjs" id="csjs"></div>

    <!-- side menu must be on top for 'float' to work properly -->
    <div class="side_menu">
        <!-- div classes are used to style these menu items,
             ids are used for accordian jQuery functions. -->

        <!-- Graph Details menu -->
        <div id="accordion_graph_details" class="accordion">
            <h3>Graph Details</h3>
            <div class="accordion_content">
                {{ description|safe }} </br>
            </div>
        </div>

        <div id="accordion_search" class="accordion">
            <h3>Search<a class="help" href="../../../help/#search_panel" style="float: right; color: red;">Help</a></h3>
            <div class="accordion_content test">
                <div class="search_box">
                    <a id='url'></a><br><br>
                    <form> 
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" id="search" placeholder="Enter Node or Edge ID to highlight">
                            <span class="input-group-btn">
                                <button class="btn btn-info" name="search_button" id="search_button">Search</button>
                            </span>
                        </div>
                        <div class="input-group" id="search_radios">
                        <label>
                            <input type="radio" class="search_type" id="partial_search" name="match" value="partial_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that partially match the search term(s)"> Similar
                        </label>
                        <label>
                            <input type="radio" id="full_search" class="search_type" name="match" value="full_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that fully match the search term(s)"> Exact
                        </label>
                    </div>
                    </form>
                </div>
                <div id="search_error" style="display: none;" class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><p id="search_error_text"></p></strong><br>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-default" id="clear_search">Clear all search terms</button>
                  </div>
                <!-- <div id="search_tips" class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Search tips:</strong><br>
                    <ul>   
                    </ul>
              </div> -->
                <ul class="nav nav-pills" id="search_terms">
                </ul>
            </div>
        </div>

        <!-- Export menu -->
        <div id="accordion_export" class="accordion">
            <h3>Export</h3>
            <div class="accordion_content">

                <!-- There seems to be an issue with adobe flash used with Cytoscape Web. 
                 https://groups.google.com/forum/#!msg/cytoscapeweb-discuss/548wkpC3iE8/TAwyrA2MO-cJ-->
                <button class="btn btn-default" id="export" onClick="export_graph('{{ graph_id }}');">PNG</button>
                <!-- <button class="btn btn-default" id="pdf">PDF</button> -->
                <!-- <button class="btn btn-default" id="svg">SVG</button> -->
                <br/>
                
                <hr/>
                <!-- View JSON function to be added -->
                <form>
                <button class="btn btn-default" name="view_json" type="submit">View JSON</button>
                </form>
            </div>
        </div>

        <!-- Owner menu -->
        <div id="accordion_owner" class="accordion">
            <h3>Owner</h3>
            <div class="accordion_content">
                <a href="#user_profile">{{ owner }}</a>
            </div>
        </div>

        <!-- Sharing menu -->
        <div id="accordion_sharing" class="accordion">
            <h3>Sharing<a id="sharing_panel" href="../../../help/#sharing_panel" style="float: right; color: red;">Help</a></h3>
            <div class="accordion_content">
                <p>{{ shared }}</p>
                <p>Groups shared with: 
                    {% for o in shared_groups %}
                    {% with url|add:"groups/"|add:o.1|add:'/'|add:o.0 as url %}
                        <a href={{url}}><u>{{ o.0 }} owned by {{o.1}}</u></a><br>
                    {% endwith %}
                    {% endfor %}
                </p>
                <br>
                <button class="btn btn-default" id='share_graph' data-toggle="modal" data-target="#share_group_modal">Share graph with groups</button>
                <!-- <p>Sharing details. Indicate whether this graph is public and whether this graph is shared with any groups or not.</p> -->
            </div>
        </div>


        <!-- Layouts menu -->
         <div id="accordion_layouts" class="accordion">
            <h3>Layouts<a class="help" href="../../../help/#layout_panel" style="float: right; color: red;">Help</a></h3>
            <div class="accordion_content">
                {% if uid != None %}
                    <div>
                      <p id="loggedIn" style="display:none;">{{uid}}</p>
                      <button class="btn btn-default" data-toggle="modal" data-target="#layout_modal">Save Layout</button>
                    </div>
                {% endif %}
                <hr/>

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="layout-tabs">
                      <a id='layout_link' href=""></a><br><br>
                      <li><a href="#builtin" data-toggle="tab">Auto</a></li>
                      <li class="active"><a href="#custom" data-toggle="tab">Manual</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="builtin">
                            <br/>
                            <ul class="nav nav-pills">
                            <li id="ldf"><a id="layout-force-directed" class="layout_buttons" href="default_concentric">Concentric</a></li>
                            <li id="lc"><a id="layout-circle" class="layout_buttons" href="default_breadthfirst">Tree</a></li>
                            <li id="lr"><a id="layout-radial" class="layout_buttons" href="default_circle">Circle</a></li>
                            <li id="lt"><a id="layout-tree" class="layout_buttons" href="default_cose">Cosine Spring Embedder</a></li>
                            <li id="lt"><a id="layout-tree" class="layout_buttons" href="default_arbor">ForceDirected</a></li>
                            <li id="lt"><a id="layout-tree" class="layout_buttons" href="default_cola">Cola</a></li>
                            </ul>
                        </div>

                        <div class="active tab-pane" id="custom">
                            <br/>
                            <div class="tabbable">
                            <ul class="nav nav-pills">
                                <li id="clm" class="">
                                    <a id="layouts-mine" href="#my-layouts-pane" style="text-align: center;" data-toggle="tab">Private<br>{{my_layouts|length}}</a>
                                </li>
                                <li id="cls" class=""><a id="layouts-shared" href="#shared-layouts-pane" style="text-align: center;" data-toggle="tab">Shared<br>{{shared_layouts|length}}</a>
                                </li>                 
                            </ul>
                            <br/>
                                <div id="alert-div">
                                </div>
                                <div class="tab-content">
                                <div class="tab-pane active" id="graph-layouts-pane">
                                </div>
                                    <div class="tab-pane" id="my-layouts-pane">
                                      {% for o in my_layouts %}
                                        {% with layout_urls|add:o as url %}
                                        <a class="list-group-item layout_buttons" href="{{o}}">
                                            <button class="btn btn-default layout_links remove" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Delete Layout" value="{{o}}" style="float: right;">
                                              <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button class="btn btn-default layout_links public" id="{{url}}" value="{{o}}" rel="tooltip"title="Share layout" style="float: right;">
                                              <span class="glyphicon glyphicon-eye-close"></span>
                                            </button>
                                            <button class="btn btn-default layout_links change" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o}}" style="float: right;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-default layout_links highlight" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: right;">
                                              <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            {% if uid == owner %}
                                                <button class="btn btn-default layout_links default" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Set as Default Layout" value="{{o}}" style="float: right;">
                                                  <span class="glyphicon glyphicon-bookmark"></span>
                                                </button>
                                            {% else %}
                                                <button class="btn btn-default layout_links removeDefault" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o}}" style="float: right;">
                                                  <span class="glyphicon glyphicon-bookmark"></span>
                                                </button>
                                            {% endif %}
                                            {{o}}
                                            <div style="clear: both;"></div>
                                          </a>
                                        {% endwith %}
                                      {% endfor %}
                                  </div>
                                    <div class="tab-pane" id="shared-layouts-pane">
                                        {% for o in shared_layouts %}
                                        {% with layout_urls|add:o as url %}
                                        {% if o in my_shared_layouts %}
                                            <a class="list-group-item layout_buttons" href="{{o}}">
                                            <button class="btn btn-default layout_links remove" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Delete Layout" value="{{o}}" style="float: right;">
                                              <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button class="btn btn-default layout_links public" id="{{url}}" value="{{o}}" rel="tooltip"title="Unshare layout" style="float: right;">
                                              <span class="glyphicon glyphicon-eye-close"></span>
                                            </button>
                                            
                                            <button class="btn btn-default layout_links change" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o}}" style="float: right;">
                                              <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-default layout_links highlight" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: right;">
                                              <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            {% if uid == owner and default_layout == None %}
                                                <button class="btn btn-default layout_links default" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Set as default layout" value="{{o}}" style="float: right;">
                                                  <span class="glyphicon glyphicon-bookmark"></span>
                                                </button>
                                            {% else %}
                                                <button class="btn btn-default layout_links removeDefault" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o}}" style="float: right;">
                                                  <span class="glyphicon glyphicon-bookmark"></span>
                                                </button>
                                            {% endif %}
                                            {{o}}
                                            <div style="clear: both;"></div>
                                          </a>
                                        {% else %}
                                            <a class="list-group-item layout_buttons" href="{{o}}">
                                                <button class="btn btn-default layout_links highlight" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: right;">
                                                  <span class="glyphicon glyphicon-link"></span>
                                                </button>
                                                {% if uid == owner %}
                                                <button class="btn btn-default layout_links removeDefault" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Set as Default Layout" value="{{o}}" style="float: right;">
                                                  <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            {% endif %}
                                                {{o}}
                                                <div style="clear: both;"></div>
                                              </a>
                                        {% endif %}
                                        {% endwith %}
                                      {% endfor %}
                                    </div>
                                    <div class="tab-pane" id="public-layouts-pane">
                                      {% for o in public_layouts %}
                                        {% with layout_urls|add:o as url %}
                                        <a class="list-group-item layout_buttons" href="{{o}}">
                                            <button class="btn btn-default layout_links highlight" id="{{url}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: right;">
                                              <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            {{o}}
                                            <div style="clear: both;"></div>
                                          </a>
                                        {% endwith %}
                                      {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if filters != None %}
        <!-- Filters menu -->
        <div id="accordion_filters" class="accordion">
            <h3>Step-Filters</h3>
            <div class="accordion_content">
                 Number of highly probable paths 
                <input class="form-control" id="input_k" style="width: 4em;" value="0" size="4" maxlength="">
                <br>
                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                </div>
                <!-- <input id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" type="range" min=0 max=10> -->
                <br>
                 Max highly probable paths 
                 <input class="form-control" id="input_max" value="0" style="width: 4em;" size="4" maxlength="4">
                 <br>
                 <div id="slider_max" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                 </div>
            </div>
        </div>
        <br>
        <br>
        {% else %}
            <br>
            <br>

        {% endif %}

    </div> <!-- end class = side_menu -->
</div>
{% endblock %}

{% block css-js-footer %}

<script type="text/javascript" src="{% static 'graphs/js/html2canvas.js' %}"></script>

<script type="text/javascript" src="{% static 'graphs/js/jspdf.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.standard_fonts_metrics.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.split_text_to_size.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.from_html.js' %}"></script> -->
<script type="text/javascript" src="{% static 'graphs/js/FileSaver.js/FileSaver.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.addimage.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.from_html.js' %}"></script>
<script type="text/javascript" src="{% static 'graphs/js/jspdf.plugin.from_html.js' %}"></script>


<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'graphs/css/cytoscape.js-panzoom.css' %}">
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<link rel="stylesheet" href="{% static 'graphs/font-awesome/css/font-awesome.css' %}">


<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- CytoscapeJS API-->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js' %}"></script>

<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js-panzoom.js' %}"></script>

<!-- stylesheet for view_graph page -->

<!-- cytoscape web wrapper for viewing graph -->
<script type="text/javascript" src="{% static 'graphs/js/view_graph.js' %}"></script> 

<!-- stylesheet for view_graph page -->
<link rel="stylesheet" href="{% static 'graphs/css/view_graph.css' %}">

<!-- stylesheet for side menus -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">


{% if search_result %}
<script>$(document).ready(function() {
    window.cy.on('load', function(){
      window.cy.$("#{{ result_id }}").select(); 
    });
  });
</script>

{% endif %}

{% endblock %}