{% extends 'base.html' %}
{% load staticfiles %}
{% block cytoscapeweb %}

<script type="text/javascript">
    var graph_json = {{ graph|safe }};
    window.vis = null;
</script>

<div id="dialog"></div>
<!--<p>{{query|safe}}</p>-->
<!--<div id="cytoscapeweb">
    Cytoscape Web will replace the contents of this div with your graph.
</div>-->

<!--#######################################-->


<div class="csweb_container">
    <!-- side menu must be on top for 'float' to work properly -->
    <div class="side_menu">
        <!-- div classes are used to style these menu items,
             ids are used for accordian jQuery functions. -->

        <!-- Graph Details menu -->
        <div id="accordion_graph_details" class="accordion">
            <h3>Graph Details</h3>
            <div class="accordion_content">
                {{ description|safe }} </br>
            </div>
        </div>

        <div class="search_box">
            <form method="post" role="form"> 
                <div class="input-group">
                    <!--<input class="form-control" type="text" name="search">-->
                    {{ search_form }}
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Export menu -->
        <div id="accordion_export" class="accordion">
            <h3>Export</h3>
            <div class="accordion_content">

                <!-- There seems to be an issue with adobe flash used with Cytoscape Web. 
                 https://groups.google.com/forum/#!msg/cytoscapeweb-discuss/548wkpC3iE8/TAwyrA2MO-cJ-->
                <button class="btn btn-default" onClick="export_graph('png', '/download/png/{{ gid }}');">PNG</button>
                <button class="btn btn-default" onClick="export_graph('pdf', '/download/pdf/{{ gid }}');">PDF</button>
                <button class="btn btn-default" onClick="export_graph('svg', '/download/svg/{{ gid }}');">SVG</button>
                <br/>
                
                <hr/>
                <!-- View JSON function to be added -->
                <button class="btn btn-default" onClick="">View JSON</button>
            </div>
        </div>

        <!-- Owner menu -->
        <div id="accordion_owner" class="accordion">
            <h3>Owner</h3>
            <div class="accordion_content">
                <a href="#user_profile">{{ owner }}</a>
            </div>
        </div>

        <!-- Sharing menu -->
        <div id="accordion_sharing" class="accordion">
            <h3>Sharing</h3>
            <div class="accordion_content">
                <p>Sharing details. Indicate whether this graph is public and whether this graph is shared with any groups or not.</p>
            </div>
        </div>


        <!-- Layouts menu -->
        <div id="accordion_layouts" class="accordion">
            <h3>Layouts</h3>
            <div class="accordion_content">
                <p>To Be Determined</p>
            </div>
        </div>
    </div> <!-- end class = side_menu -->

    <!-- cytoscapeweb -->
    <div class="csweb" id="csweb">
        Loading graph ... 
    </div>

</div>

{% endblock %}

{% block css-js-footer %}

<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>

<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">

<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>

<!-- Flash embedding utility (needed to embed Cytoscape Web) -->
<script type="text/javascript" src="{% static 'graphs/AC_OETags.min.js' %}"></script>

<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="{% static 'graphs/cytoscapeweb.js' %}"></script>

<!-- cytoscape web wrapper for viewing graph -->
<script type="text/javascript" src="{% static 'graphs/js/view_graph_old.js' %}"></script> 

<!-- stylesheet for view_graph page -->
<link rel="stylesheet" href="{% static 'graphs/css/view_graph.css' %}">

<!-- stylesheet for side menus -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">

{% if search_result %}
{{ result_script|safe }}
{% endif %}

{% endblock %}