{% extends 'base.html' %}
{% load staticfiles %}
{% block cytoscapeweb %}
<script type="text/javascript">
    var graph_json = {{ graph|safe }};
    var layout = {{ layout_to_view|safe }};
    window.cy;
</script>
<div id="dialog"></div>
<!--#######################################-->
<!-- Save Modal -->
<div class="modal fade" id="layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Save Layout</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                        <div class="control-group">
                            <label for="layout_name">Layout Name</label>
                            <input id="layout_name" class="form-control" type="text" name="layout_name" autocomplete="off"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <button name="save_layout" id="save_layout" class="btn btn-success">Save Layout</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Change Layout Name Modal -->
<div class="modal fade" id="change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Change Name of Layout</h4>
            </div>
            <div class="modal-body">
                <form id="layout_form" class="layout_form" role="form">
                    <div class="layout_fields">
                        <div class="control-group">
                            <label for="layout_name">New Layout Name</label>
                            <input id="new_layout_name" class="form-control" type="text" name="new_layout_name" autocomplete="off"/>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="button" id="change_layout" value="" class="btn btn-success">Save Layout</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Share Groups Modal -->
<div class="modal fade" id="share_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Select all groups to share graph with</h4>
            </div>
            <div class="modal-body">
                <div class="group_body">
                    <ul class="list-group checked-list-box">
                    </ul>
                </div>
                <div class="form-group">
                    <button type="button" id="share_graph_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Share Layouts Modal -->
<div class="modal fade" id="share_layout_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Select all groups to share layout with</h4>
            </div>
            <div class="modal-body">
                <div class="group_body">
                    <ul class="list-group checked-list-box">
                    </ul>
                </div>
                <div class="form-group">
                    <button type="button" id="share_layout_with_selected_groups" class="btn btn-success">Update Sharing Information</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Task Modal -->
<div class="modal fade" id="task_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="changeLabelModal">Launch Task on Amazon Mechanical Turk?</h4>
            </div>
            <div class="modal-body">
                <div class="group_body">
                    <p>By clicking launch task, your graph will appear as a task on Amazon Mechanical Turk.  From there, workers will work
                        to generate layouts following guidelines (TODO: CREATE GOOD GUIDELINES)
                    </p>
                </div>
                <div class="form-group">
                    <button type="button" id="{{graph_id}}" value="{{owner}}" class="btn btn-success launch_task">Launch Task</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid csjs_container">
    <p id"test"></p>
    <div id="graph_title" >
        <h1 id="title" style="display:none;">{{graph_name}}</h1>
    </div>
    <div class="csjs" id="csjs"></div>
    <!-- side menu must be on top for 'float' to work properly -->
    <div class="side_menu">
        <!-- div classes are used to style these menu items,
            ids are used for accordian jQuery functions. -->
        <!-- Graph Details menu -->
        <div id="accordion_graph_details" class="accordion">
            <h3>Graph Details</h3>
            <div class="accordion_content">
                {{ description|safe }} </br>
            </div>
        </div>
        <div id="accordion_search" class="accordion">
            <h3>Search<a class="help" href="../../../help/#search_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content test">
                <div class="search_box">
                    <a id='url'></a>
                    <form>
                        <div class="input-group">
                            <input class="form-control" type="text" name="search" id="search" placeholder="Enter Node or Edge ID to highlight">
                            <span class="input-group-btn">
                            <button class="btn btn-info" name="search_button" id="search_button">Search</button>
                            </span>
                        </div>
                        <div class="input-group" id="search_radios">
                            <label>
                            <input type="radio" class="search_type" id="partial_search" name="match" value="partial_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that partially match the search term(s)"> Similar
                            </label>
                            <label>
                            <input type="radio" id="full_search" class="search_type" name="match" value="full_search" rel="tooltip" data-toggle="tooltip" title="Return all graphs that fully match the search term(s)"> Exact
                            </label>
                        </div>
                    </form>
                </div>
                <div id="search_error" style="display: none;" class="alert alert-danger alert-dismissable">
                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
                    <strong>
                        <p id="search_error_text"></p>
                    </strong>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-default" id="clear_search" style="width: 100%;">Clear all search terms</button>
                </div>
                <ul class="nav nav-pills" id="search_terms">
                </ul>
            </div>
        </div>
        {% if task_view != True %}
        <!-- Export menu -->
        <div id="accordion_export" class="accordion">
            <h3>Export</h3>
            <div class="accordion_content">
                <!-- There seems to be an issue with adobe flash used with Cytoscape Web. 
                    https://groups.google.com/forum/#!msg/cytoscapeweb-discuss/548wkpC3iE8/TAwyrA2MO-cJ-->
                <button class="btn btn-default" id="export" onClick="export_graph('{{ graph_id }}');">PNG</button>
                <br/>
                <hr/>
                <!-- View JSON function to be added -->
                <form>
                    <button class="btn btn-default" name="view_json" type="submit">View JSON</button>
                </form>
            </div>
        </div>
        <!-- Owner menu -->
        <div id="accordion_owner" class="accordion">
            <h3>Owner</h3>
            <div class="accordion_content">
                <a href="#user_profile">{{ owner }}</a>
            </div>
        </div>
        <!-- Sharing menu -->
        <div id="accordion_sharing" class="accordion">
            <h3>Sharing<a id="sharing_panel" href="../../../help/#sharing_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content">
                {% if shared_groups|length == 0 %}
                <p>This graph is not shared with any groups.</p>
                {% else %}
                <p>This graph has been shared with the following group(s):
                <ul>
                    {% for o in shared_groups %}
                    {% with url|add:"groups/"|add:o.1|add:'/'|add:o.0 as url %}
                    <li><a href={{url}}><u>{{ o.0 }} owned by {{o.1}}</u></a><br></li>
                    {% endwith %}
                    {% endfor %}
                </ul>
                </p>
                {% endif %}
                <br>
                {% if uid == owner %}
                <button class="btn btn-default" style="width: 100%;" id='share_graph' data-toggle="modal" data-target="#share_group_modal">Share graph with groups</button>
                {% endif %}
            </div>
        </div>
        <!-- Layouts menu -->
        <div id="accordion_layouts" class="accordion">
            <h3>Layouts<a class="help" href="../../../help/#layout_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content">
                <p id="uid" style="display:none;">{{owner}}</p>
                <p id="gid" style="display:none;">{{graph_id}}</p>
                {% if uid != None %}
                <div>
                    <p id="loggedIn" style="display:none;">{{uid}}</p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#layout_modal">Save Layout</button><br><br>
                    {% if task_launched %}
                    <button class="btn btn-default disabled">Task Currently Live</button>
                    {% else %}
                    <button class="btn btn-default" data-toggle="modal" data-target="#task_modal">Ask Crowd</button>
                    {% endif %}
                </div>
                {% endif %}
                <hr/>
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="layout-tabs">
                        <a id='layout_link' href=""></a>
                        <li id="auto"><a href="#builtin" data-toggle="tab">Auto</a></li>
                        <li id="manual"><a href="#custom" data-toggle="tab">Manual</a></li>
                        <li id="crowd"><a href="#custom" data-toggle="tab">Crowd</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="builtin">
                            <br/>
                            <ul class="nav nav-pills">
                                {% if layout_name == "default_circle" %}
                                <li class="active" id="default_circle"><a id="default_circle" class="layout_buttons">Circle</a></li>
                                {% else %}
                                <li id="lr"><a id="default_circle" class="layout_buttons">Circle</a></li>
                                {% endif %}
                                {% if layout_name == "default_grid" %}
                                <li class="active" id="lt"><a id="default_grid" class="layout_buttons">Grid</a></li>
                                {% else %}
                                <li id="lt"><a id="default_grid" class="layout_buttons">Grid</a></li>
                                {% endif %}
                                {% if layout_name == "default_concentric" %}
                                <li class="active" id="ldf"><a id="default_concentric" class="layout_buttons">Concentric</a></li>
                                {% else %}
                                <li id="ldf"><a id="default_concentric" class="layout_buttons">Concentric</a></li>
                                {% endif %}
                                {% if layout_name == "default_cose" %}
                                <li class="active" id="lt"><a id="default_cose" class="layout_buttons">Spring Embedder</a></li>
                                {% else %}
                                <li id="lt"><a id="default_cose" class="layout_buttons">Spring Embedder</a></li>
                                {% endif %}
                                {% if layout_name == "default_breadthfirst" %}
                                <li class="active" id="lc"><a id="default_breadthfirst" class="layout_buttons">Tree</a></li>
                                {% else %}
                                <li id="lc"><a id="default_breadthfirst" class="layout_buttons">Tree</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="custom">
                            <br/>
                            <div class="tabbable">
                                <ul class="nav nav-pills">
                                    <li id="private">
                                        <a id="layouts-mine" href="#my_layouts_pane" style="text-align: center;" data-toggle="tab">Private<br>{{my_layouts|length}}</a>
                                    </li>
                                    <li id="shared">
                                        <a id="layouts-shared" href="#shared_layouts_pane" style="text-align: center;" data-toggle="tab">Shared<br>{{shared_layouts|length}}</a>
                                    </li>
                                </ul>
                                <br/>
                                <div id="alert-div">
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="my_layouts_pane">
                                        {% for o in my_layouts %}
                                        {% with layout_urls|add:o.layout_name|add:"&layout_owner="|add:o.owner_id  as url%}
                                        {% if o.layout_name == layout_name and o.owner_id == layout_owner%}
                                        <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                                        {% else %}
                                        <a class="list-group-item layout_buttons" href="{{url}}">
                                            {% endif %}
                                            {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                            <button class="btn btn-default layout_links remove" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Delete Layout" value="{{o.layout_name}}" style="float: left;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Share layout" style="float: left;">
                                            <span class="glyphicon glyphicon-eye-close"></span>
                                            </button>
                                            <button class="btn btn-default layout_links change" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o.layout_name}}" style="float: left;">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-default layout_links highlight" id="{{o.owner_id}}"  value="{{o.layout_name}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                            <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            <div style="clear: both;"></div>
                                        </a>
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                    <div class="tab-pane" id="shared_layouts_pane">
                                        {% for o in shared_layouts %}
                                        {% with layout_urls|add:o.layout_name|add:"&layout_owner="|add:o.owner_id  as url%}
                                        {% if o.layout_name in my_shared_layouts %}
                                        {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                                        <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                                        {% else %}
                                        <a class="list-group-item layout_buttons" href="{{url}}">
                                            {% endif %}
                                            {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                            <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Unshare layout" style="float: left;">
                                            <span class="glyphicon glyphicon-eye-close"></span>
                                            </button>
                                            <button class="btn btn-default layout_links change" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Change Layout Name" value="{{o.layout_name}}" style="float: left;">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-default layout_links highlight"  value="{{o.layout_name}}" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                            <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            {% if uid == owner %}
                                            {% if default_layout_name == None or default_layout_name != o.layout_name %}
                                            <button class="btn btn-default layout_links default" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Set as default layout" value="{{o.layout_name}}" style="float: left;">
                                            <span class="glyphicon glyphicon-bookmark"></span>
                                            </button>
                                            {% elif default_layout_name == o.layout_name %}
                                            <button class="btn btn-default layout_links removeDefault" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o.layout_name}}" style="float: left;">
                                            <span class="glyphicon glyphicon-bookmark"></span>
                                            </button>
                                            {% endif %}
                                            {% endif %}
                                            <div style="clear: both;"></div>
                                        </a>
                                        {% else %}
                                        {% if uid == owner %}
                                        {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                                        <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                                        {% else %}
                                        <a class="list-group-item layout_buttons" href="{{url}}">
                                        {% endif %}
                                        {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                        </button>
                                        <button class="btn btn-default layout_links public" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip"title="Unshare layout" style="float: left;">
                                        <span class="glyphicon glyphicon-eye-close"></span>
                                        </button>
                                        <button class="btn btn-default layout_links highlight"  value="{{o.layout_name}}" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                        <span class="glyphicon glyphicon-link"></span>
                                        </button>
                                        {% if uid == owner and default_layout_name == o %}
                                        <button class="btn btn-default layout_links removeDefault" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Remove as default layout" value="{{o.layout_name}}" style="float: left;">
                                        <span class="glyphicon glyphicon-bookmark"></span>
                                        </button>
                                        {% else %}
                                        <button class="btn btn-default layout_links default" id="{{o.owner_id}}" rel="tooltip" data-toggle="tooltip" title="Set as default layout" value="{{o.layout_name}}" style="float: left;">
                                        <span class="glyphicon glyphicon-bookmark"></span>
                                        </button>
                                        {% endif %}
                                        {%else %}
                                        {% if o.layout_name == layout_name and o.owner_id == layout_owner %}
                                        <a class="list-group-item layout_buttons" style="color: #fff; background-color: #428bca;" href="{{url}}">
                                        {% else %}
                                        <a class="list-group-item layout_buttons" href="{{url}}">
                                            {% endif %}
                                            {{o.layout_name}} created by {{o.owner_id}}<br /><br />
                                            <button class="btn btn-default layout_links highlight" id="{{o.owner_id}}" value="{{o.layout_name}}" rel="tooltip" data-toggle="tooltip" title="Direct Link to Layout" style="float: left;">
                                            <span class="glyphicon glyphicon-link"></span>
                                            </button>
                                            {% endif %}
                                            <div style="clear: both;"></div>
                                        </a>
                                        {% endif %}
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if filters != None %}
        <!-- Filters menu -->
        <div id="accordion_filters" class="accordion">
            <h3>Filter Paths<a class="help" href="../../../help/#step_panel" style="float: right; color: #0000FF;">Help</a></h3>
            <div class="accordion_content">
                Number of paths
                <input class="form-control" id="input_k" style="width: 4em;" value="0" size="4" maxlength="">
                <br>
                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                </div>
                <br>
                Maximum number of paths
                <input class="form-control" id="input_max" value="0" style="width: 4em;" size="4" maxlength="4">
                <br>
                <div id="slider_max" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        {% else %}
        <br>
        <br>
        {% endif %}
        {% else %}
            <div id="accordion_design" class="accordion">
              <h3>Design Graph<a class="help" href="../../../help/#manipulate_panel" style="float: right; color: #0000FF;">Help</a></h3>
              <div class="accordion_content test" id="design_accordian">
                <hr>
                <h3>Selection</h3>
                <div style="text-align: center;" id="selection" class="input-group">
                </div>
                <br><button class="btn btn-danger" id="unselect">Unselect All</button><br>
                <hr>
                <h3>Modify</h3>
                <div style="text-align: center;" id="modify" class="input-group">
                  <p style='text-align: left;'>Modify Color:
                      <input type='text' class='basic' id='selectionPalette' value='red' />
                  </p>

                  <div class="dropup" style='text-align: left;'>
                    Modify Shape: 
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Shapes
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a data-value="rectangle">Rectangle</a></li>
                      <li><a data-value="roundrectangle">Round Rectangle</a></li>
                      <li><a data-value="ellipse">Ellipse</a></li>
                      <li><a data-value="triangle">Triangle</a></li>
                      <li><a data-value="pentagon">Pentagon</a></li>
                      <li><a data-value="hexagon">Hexagon</a></li>
                      <li><a data-value="heptagon">Heptagon</a></li>
                      <li><a data-value="octagon">Octagon</a></li>
                      <li><a data-value="star">Star</a></li>
                      <li><a data-value="diamond">Diamond</a></li>
                      <li><a data-value="vee">Vee</a></li>
                      <li><a data-value="rhomboid">Rhomboid</a></li>
                    </ul>
                  </div>
                </div>
                <hr>
                <h3>Move</h3>
                <div id="moveArrows" style="text-align:center;">

                  <table style="margin: 0 auto;">
                    <tr>
                      <th></th>
                      <th>
                        <button type="button" class="btn btn-default" aria-label="Left Align" id="upArrow">
                          <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                      </th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" id="leftArrow">
                          <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                      </td>
                      <td></td>
                      <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" id="rightArrow">
                          <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <button type="button" class="btn btn-default" aria-label="Left Align" id="downArrow">
                          <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <button class="btn btn-primary" id="group" style="display: block; margin: 0 auto;">Coalesce Selected Nodes</button><br>
                      <button class="btn btn-primary" id="ungroup" style="display: block; margin: 0 auto;">Scatter Selected Nodes</button><br>
                    </tr>
                  </table>
                </div>

                <hr>
              </div>
            </div>
        </div>

        {% endif %}
    </div>
    <!-- end class = side_menu -->
</div>
{% for layout in my_layouts %}
{% if layout.owner_id == layout_owner and layout.layout_name == layout_name %}
<script type="text/javascript">
    $("#builtin").removeClass("active");
    $("#manual").addClass('active');
    $('#custom').addClass('active');
    $("#private").addClass('active');
    $("#my_layouts_pane").addClass("active");
</script>
{% endif %}
{% endfor %}
{% for layout in shared_layouts %}
{% if layout.owner_id == layout_owner and layout.layout_name == layout_name %}
<script type="text/javascript">
    $("#builtin").removeClass("active");
    $("#manual").addClass('active');
    $('#custom').addClass('active');
    $("#shared").addClass('active');
    $("#shared_layouts_pane").addClass("active");
</script>
{% endif %}
{% endfor %}
{% endblock %}
{% block css-js-footer %}
<!--jQuery UI, needed for side menu -->
<script type="text/javascript" src="{% static 'graphs/js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'graphs/css/cytoscape.js-panzoom.css' %}">
<!-- jQuery UI style sheet -->
<link rel="stylesheet" href="{% static 'graphs/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'graphs/font-awesome/css/font-awesome.css' %}">
<!-- JSON support for IE (needed to use JS API) -->
<script type="text/javascript" src="{% static 'graphs/json2.min.js' %}"></script>
<!-- CytoscapeJS API-->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js' %}"></script>
<!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
<script type="text/javascript" src="{% static 'graphs/js/cytoscape.js-panzoom.js' %}"></script>
<!-- stylesheet for view_graph page -->
<!-- cytoscape web wrapper for viewing graph -->
<script type="text/javascript" src="{% static 'graphs/js/view_graph.js' %}"></script> 
<!-- stylesheet for view_graph page -->
<link rel="stylesheet" href="{% static 'graphs/css/view_graph.css' %}">
<!-- stylesheet for side menus -->
<link rel="stylesheet" type="text/css" href="{% static 'graphs/css/side_menu.css' %}">
{% if search_result %}
<script>$(document).ready(function() {
    window.cy.on('load', function(){
      window.cy.$("#{{ result_id }}").select(); 
    });
    });
</script>
{% endif %}
{% endblock %}